{% extends parent %}
{% load i18n thumbnail %}
{% block extrahead %}
	{% for form in forms.values %}
		{{ form.media }}
	{% endfor %}
{% endblock extrahead %}


{% block content %}
    <h2>{% trans "Gratis stem-herinnering per SMS" %}</h2>
    <p>{% trans "U kunt hieronder uw mobiele telefoonnummer achterlaten om een gratis sms herinnering te ontvangen." %}</p>   
	<form method="post" action="" enctype="multipart/form-data">
        {% block forms %}
        
            {{ form.as_template }}
        
        {% endblock forms %}
        <div>
            <button type="submit">{% trans "Verzenden" %}</button>
        </div>
    </form>
{% endblock content %}

{% block bodyscript %}
	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function() {
			if (jQuery('input[name=phone_number]').val() == "") {
				jQuery('input[type=checkbox]').attr('checked', 'checked');
			};
		});
	</script>
{% endblock bodyscript %}
