<form method="POST" action="/invitation/sendinivitation/">
    <table>
        <tr><td>Voornaam: </td><td><input type="text" name="first_name"></td></tr>
        <tr><td>Achternaam: </td><td><input type="text" name="last_name"></td></tr>
        <tr><td>Email adres: </td><td><input type="text" name="email"></td></tr>
        <tr><td>Bericht: </td><td><textarea name="message"></textarea></td></tr>
        <tr><td></td><td><input type="submit" value="Verzoek verzenden"></td></tr>
    </table>

</form>