{% extends 'frontoffice/wizard/test/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}history{% endblock %}
{% block step12 %}history{% endblock %}
{% block group5 %}active{% endblock %}

{% block question-steps %}
<p>sdafsdf</p>terst
    {% for q in questions %}
		<li class="{% ifcompare current_question q %}active{% smaller %}history{% bigger %}future{% endifcompare %}{% if forloop.last %} last{% endif %}">{{ q|add:"13" }}</li>
    {% endfor %}
{% endblock question-steps %}

{% block step_title %}
  {{ question_title }}
{% endblock step_title %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Volgende stap' %}</button>
	</div>
{% endblock buttons %}