{% extends 'frontoffice/wizard/test/base.html' %}
{% load i18n utils_tags %}

{% block question-steps %}

    {% for q in questions %}
		<li class="{% ifcompare current_question q %}active{% smaller %}history{% bigger %}future{% endifcompare %}{% if forloop.last %} last{% endif %}">{{ q|add:"13" }}</li>
    {% endfor %}
{% endblock question-steps %}

{% block step_title %}
  {{ question_title }}
{% endblock step_title %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Volgende stap' %}</button>
	</div>
{% endblock buttons %}