{% extends 'registration/email/base.html' %}
{% load email_tags i18n %}
{% stylegroup "font" %}
	font: 13px Arial, Helvetiva, sans-serif;
{% end_stylegroup %}

{% block content %}
<p style="{% use_stylegroup 'font' %}">Uw account op Wiekiesjij.nl moet nog geactiveerd worden via de volgende link:</p>
<p style="{% use_stylegroup 'font' %}"><a href="http://{{ site.domain }}{% url registration_activate activation_key=activation_key %}">http://{{ site.domain }}{% url registration_activate activation_key=activation_key %}</a></p>
{% endblock content %}
{% block sidebar %}
	<h1 style="{% use_stylegroup 'sidebar-header' %}">Helpdesk</h1>
	<p style="{% use_stylegroup 'font' %}">heeft u vragen, neemt u dan contact met ons op via <a href="http://www.hetnieuwestemmen.nl/wiekiesjij-1/">http://www.hetnieuwestemmen.nl/wiekiesjij-1/</a> of <a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a></p>
{% endblock sidebar %}           