{% extends 'backoffice/wizard/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Add an election instance' %}{% endblock title %}
{% block page-title %}{% trans 'Add an election instance' %}{% endblock page-title %}
{% block breadcrumbs %}<li><a href="#">[Election Event Name]</a>{% endblock breadcrumbs %}
{% block back-link %}{% endblock back-link %}

{% block wizard-steps %}
	<ul id="wizardSteps">
    	{% block step1 %}<li><span class="future"><span class="number">1</span>{% trans "Registration" %}</span></li>{% endblock step1 %}
        {% block step2 %}<li><span class="future"><span class="number">2</span>{% trans "This Election" %}</span></li>{% endblock step2 %}
        <li><span class="future"><span class="number">3</span>{% trans "The Council" %}</span></li>
        <li><span class="future"><span class="number">4</span>{% trans "More Council" %}</span></li>
        <li><span class="future"><span class="number">5</span>{% trans "The Chancellery" %}</span></li>
        <li><span class="future"><span class="number">6</span>{% trans "Styling" %}</span></li>
        <li class="last"><span class="future"><span class="number">7</span>{% trans "Import parties" %}</span></li>
    </ul>

	{% comment %}
    <ul id="wizardSteps">
        {% for type, stepinfo in steps %}
            {% ifequal type "step" %}
                {% if stepinfo.is_on_path %}
                    <li><a href="{{ stepinfo.urls.goto }}" class="{% if stepinfo.is_current %}active{% else %}history{% endif %}"><span class="number">{{forloop.counter}}</span>{{stepinfo.step.title}}</a></li>
                {% else %}
                    {% if stepinfo.urls.goto %}
                        {# step is valid, user went back #}
                        <li><a href="{{ stepinfo.urls.goto }}" class="future"><span class="number">{{forloop.counter}}</span>{{stepinfo.step.title}}</a></li>
                    {% else %}
                        <li class="last"><span class="future"><span class="number">{{forloop.counter}}</span>{{stepinfo.step.title}}</span></li>
                    {% endif %}
                {% endif %}
            {% endifequal %}
        {% endfor %}
    </ul>
    {% endcomment %}
{% endblock wizard-steps %}

{% comment %}
{% block step-header %}
<div class="hd">
    <h2>{{curstep.step.header}}</h2>
</div>
{% endblock step-header %}
{% endcomment %}

{% block help-message %}
<p>{{curstep.step.help}}</p>
{% endblock help-message %}

{% block buttons %}
	<div class="form-submit">
        
        <a href="#" class="cancel">{% trans "Cancel" %}</a>

		<button class="primary next" type="submit">{{curstep.step.next_button|default:"Next"}}</button>
	</div>
{% endblock buttons %}