{% extends 'backoffice/wizard/election_setup/base.html' %}
{% load i18n %}

{% block step_title %}{% trans "Welcome Chancellery" %}{% endblock step_title %}

{% block step1 %}<li><a href="#" class="active"><span class="number">1</span>{% trans "Registration" %}</a></li>{% endblock step1 %}


{% block help-message %}
<p>
{% blocktrans %}
This wizard will lead you through the process of setting up WieKiesJij? for your council. <br /><br />
First we'll need some contact information from you.
{% endblocktrans %}
</p>
{% endblock help-message %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Next' %}</button>
        <a href="#" class="cancel">{% trans "Cancel" %}</a>
	</div>
{% endblock buttons %}