{% extends 'backoffice/wizard/election_setup/base.html' %}
{% load i18n %}

{% block step_title %}{% trans "Details about this election" %}{% endblock step_title %}

{% block step1 %}<li><a href="#" class="history"><span class="number">1</span>{% trans "Registration" %}</a></li>{% endblock step1 %}
{% block step2 %}<li><a href="#" class="active"><span class="number">2</span>{% trans "This Election" %}</a></li>{% endblock step2 %}


{% block buttons %}
	<div class="form-submit">
        <a href="#" class="cancel">{% trans "Cancel" %}</a>
		<button class="primary next" type="submit">{{curstep.step.next_button|default:"Next: The Council"}}</button>
	</div>
{% endblock buttons %}