{% extends 'base_email.html' %}
{% load email_tags i18n %}

{% block sidebar %}
	<h1 style="{% use_stylegroup 'sidebar-header' %}">Helpdesk</h1>
	<p style="{% use_stylegroup 'font' %}">Heeft u vragen over de beheerderspagina of het invullen van de contactgegevens? Neemt u dan contact met ons op via 088-7000125</p>
	<br/>
	<h1 style="{% use_stylegroup 'sidebar-header' %}">Handleiding</h1>
	<p style="{% use_stylegroup 'font' %}">Heeft u moeite met het invullen van de contactgegevens? Download hier de handleiding voor het invoeren van de contactgegevens</p>
	<br/>
{% endblock sidebar %}