{% load email_tags i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>

    {% stylegroup "font" %}
        font: 12px Arial, Helvetiva, sans-serif;
    {% end_stylegroup %}
{% block content %}
    <p style="{% use_stylegroup 'font' %}">Geachte {{ invitation.user_to.profile.full_name }},</p>
	
	<p style="{% use_stylegroup 'font' %}"><a href="http://79.125.22.198{% url invitations.views.index hash=invitation.hash %}">http://79.125.22.198{% url invitations.views.index hash=invitation.hash %}</a>
		
{% endblock content %}
</body>
</html>