{% extends 'political_profiles/emails/invitations/base.html' %}
{% load i18n email_tags %}
{% stylegroup "font" %}
	font: 13px Arial, Helvetiva, sans-serif;
{% end_stylegroup %}

{% block content %}
<p style="{% use_stylegroup 'font' %}">Geachte heer/mevrouw {{ invitation.user_to.profile.full_name }},</p>
<p style="{% use_stylegroup 'font' %}">Voor de komende verkiezingen zal Het Nieuwe Stemmen in samenwerking met uw partij Wiekiesjij inzetten voor de komende verkiezingen. Wiekiesjij is een stemwijzer die de juiste politicus bij de kiezer zoekt. Dit doet zij door de bezoeker een aantal vragen in te laten vullen over waar hun voorkeur ligt wat betreft opleiding, expertise, politieke ervaring en persoonskenmerken. Hiermee pogen wij om de kandidaten beter bekend te maken bij het publiek. Om Wiekiesjij goed te laten werken hebben wij u nodig om uw profiel in te vullen.</p>
<p style="{% use_stylegroup 'font' %}">Het is noodzakelijk dat u zo snel mogelijk alle vragen van uw profiel invult zodat de bezoekers bij u terecht kunnen komen als ‘favoriete kandidaat’. Hierbij willen wij wel graag opmerken dat niet alle vragen verplicht zijn, hierbij staat dan ook ‘optioneel’ bij. Wij gaan uiteraard vertrouwelijk om met uw contactgegevens. </p>
<p style="{% use_stylegroup 'font' %}">Hieronder zult u de link vinden om uw te beginnen met het invullen van uw profiel. Middels de link wordt u in staat gesteld om een wachtwoord aan te maken en in te loggen. Daarna kunt u voortaan met uw e-mailadres en het zojuist gekozen wachtwoord op <a href="http://{{ domain }}{% url fo.login %}">http://{{ domain }}{% url fo.login %}</a> loggen en uw account blijven bekijken. U vindt in de bijlage een handleiding om u te helpen bij het invullen van uw profiel.</p>
<p style="{% use_stylegroup 'font' %}">Wiekiesjij wordt reeds sinds 2006 bij alle verkiezingen gedraaid en blijkt een populair middel te zijn als aanvulling op de andere stemwijzers, vooral voor jongeren. Wiekiesjij heeft ondertussen al meer dan een miljoen unieke bezoekers gehad en is daarmee een belangrijk onderdeel voor uw campagne. Doordat Wiekiesjij een stemwijzer is voor individuele politici kan het van grote toegevoegde waarde zijn voor uw persoonlijke campagne.</p>
<p style="{% use_stylegroup 'font' %}"><a href="http://{{ domain }}{% url invitations.index hash=invitation.hash %}">http://{{ domain }}{% url invitations.index hash=invitation.hash %}</a></p>
<p style="{% use_stylegroup 'font' %}">Voor vragen of opmerkingen kunt u te allen tijde contact opnemen met onze helpdesk. Alvast hartelijk dank voor uw tijd en moeite en veel succes met uw campagne!</p>
<p style="{% use_stylegroup 'font' %}">Met vriendelijke groet,</p>
<p style="{% use_stylegroup 'font' %}">Lenneke van Mameren<br/>
Projectleider Wiekiesjij<br/>
<a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a></p>
{% endblock content %}

{% block sidebar %}
	<h1 style="{% use_stylegroup 'sidebar-header' %}">Helpdesk</h1>
	<p style="{% use_stylegroup 'font' %}">Heeft u vragen over de beheerderspagina of het invullen van de contactgegevens? Neemt u dan contact met ons op via <a href="http://www.hetnieuwestemmen.nl/wiekiesjij-1/">http://www.hetnieuwestemmen.nl/wiekiesjij-1/</a> of <a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a></p>
	<br/>
	<h1 style="{% use_stylegroup 'sidebar-header' %}">Handleiding</h1>
	<p style="{% use_stylegroup 'font' %}">Heeft u moeite met het invullen van de contactgegevens? <a href="http://{{ domain }}/media/static/backoffice/manuals/handleiding_setup_politici_tweedekamer">Download hier de handleiding</a> voor het invoeren van de contactgegevens</p>
	<br/>
{% endblock sidebar %}