{% extends 'backoffice/wizard/base.html' %}
{% load i18n utils_tags backoffice_tags %}


{% block title %}{% trans 'Setup your party for this election' %}{% endblock title %}
{% block page-title %}{% trans 'Setup your party for this election' %}{% endblock page-title %}
{% block breadcrumbs %}
    {% if user.is_staff %}
            <li><a href="{% url bo.election_event %}">{{ instance.election_event.name }}</a></li>
    {% endif %}
    {% ifprofile 'council_admin' %}
        <li><a href="{% url bo.election_instance_view instance.id %}">{{ instance.council.region }}</a></li>
    {% endifprofile %}
{% endblock breadcrumbs %}
{% block back-link %}{% endblock back-link %}


{% block wizard-steps %}
	<ul id="wizardSteps">
    	{% block step1 %}<li><span class="future"><span class="number">1</span>{% trans "Contact information" %}</span></li>{% endblock step1 %}
        {% block step2 %}<li><span class="future"><span class="number">2</span>{% trans "Additional information" %}</span></li>{% endblock step2 %}
        {% block step3 %}<li><span class="future"><span class="number">3</span>{% trans "Description &amp; History" %}</span></li>{% endblock step3 %}
        {% block step4 %}<li><span class="future"><span class="number">4</span>{% trans "Finish" %}</span></li>{% endblock step4 %}
    </ul>
{% endblock wizard-steps %}