{% extends 'backoffice/wizard/setupelectionparty/base.html' %}
{% load i18n %}

{% block step_title %}{% trans 'Description &amp; History' %}{% endblock step_title %}

{% block step1 %}<li><span class="history"><span class="number">1</span>{% trans "Contact information" %}</span></li>{% endblock step1 %}
{% block step2 %}<li><span class="history"><span class="number">2</span>{% trans "Additional information" %}</span></li>{% endblock step2 %}
{% block step3 %}<li><span class="active"><span class="number">3</span>{% trans "Description &amp; History" %}</span></li>{% endblock step3 %}

{% block help-message %}
<p>	{% trans "Op deze pagina kunt u uitgebreide informatie over uw partij kwijt." %} 
	{% trans "Deze gegevens worden getoond op uw partijprofiel." %}
</p>
{% endblock help-message %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Save' %}</button>
        <a href="{% url bo.election_party_view eip.id %}" class="cancel">{% trans "Cancel" %}</a>
	</div>
{% endblock buttons %}