/* 	Specific styling for Internet Explorer 6 & 7
	*************************************************************************************************/
	
.tabbed .hd {
	width:705px;
	}
.st .tabbed .hd {
	width:900px;
	}
#header ul.tabs {
	
	}
	
.start-actions .start-test .icon,
.start-actions .list-candidates .icon {
	_display:none;
	}
	
.iframe .checkboxselectmultiple input {
	margin-top:0;
	}
.iframe form li label {
	_margin-bottom:0;
	}
.iframe .wizard div.form-submit,
.iframe .matches div.sms-setup {
	_padding:0 15px;
	}