<!DOCTYPE html>
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta charset='utf-8'>
	<title>AddElectionInstance</title>
</head>
<body>
	{% block content %}
		<form method="POST" action="">
			<input type="hidden" name="{{ step_field }}" value="{{ step_path }}" />
			{% block forms %}
				{% for form in forms.values %}
					{{ form.as_template }}
				{% endfor %}
			{% endblock forms %}
			{{ previous_fields|safe }}
			{% block buttons %}
				<div class="buttons">
					<button type="submit">Next</button>
				</div>
			{% endblock buttons %}
		</form>
	{% endblock content %}
</body>
</html>
