{% extends 'backoffice/wizard/addelection/base.html' %}
{% load i18n %}

{% block wizard-steps %}
{% endblock wizard-steps %}

{% block step_title %}{% trans "Create an instance &amp; invite a Chancery" %}{% endblock step_title %}

{% block buttons %}
	<p>{% trans "This administrative contact can complete further setup for this election instance." %}</p>
	<p class="label">{% trans "Do you want to skip the council setup for this council?" %}</p>
    <div class="form-submit">
    	<a href="{% url bo.election_event %}" class="cancel">{% trans "Cancel" %}</a>
		<button type="submit" name="next" value="overview" class="next primary">{% trans "Skip council setup" %}</button>
		<button type="submit" name="next" value="next" class="next">{% trans "Start council setup" %}</button>
		
	</div>
{% endblock buttons %}