{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>WieKiesJij? - {% block title %}{% endblock title %}</title>
   	<script src="{{ STATIC_URL }}utils/javascripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}utils/javascripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/libraries.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/grids.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/mod.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/base.css" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}backoffice/css/lt-ie8.css" />
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}utils/css/base.css" />
    {% block extrahead %}{% endblock extrahead %}

</head>
<body>
	<div id="container">
        <div id="header">
        
            <p class="wkj">Wie Kies Jij ?</p>
			{% if user.is_authenticated %}
				<p class="user-info">{% trans "You are logged in as" %} 
					{% if user.profile %}
						<a href="{% url bo.profile %}"><!-- link to user reg info --><strong>{{ user.get_full_name|default:'NN' }}</strong></a> -
                        <a href="{% url bo.profile %}"><!-- link to user reg info -->{% trans "Edit Profile" %}</a>
					{% else %}
						<strong>{{ user.get_full_name|default:'NN' }}</strong>
					{% endif %} - <a href="{% url bo.logout %}">{% trans "Logout" %}</a></p>
			{% else %}
				<p class="user-info">{% trans "You are not logged in" %}. <a href="{% url bo.login %}">{% trans "Login" %}</a></p>
			{% endif %}
        	
            
            <ul class="nav-breadcrumbs">
                <li><a href="/backoffice/">{% trans "Wie Kies Jij?" %}</a></li>
                {% block breadcrumbs %}
            	{% endblock breadcrumbs %}
            </ul>
            
            <h1>{% block page-title %}Page Title{% endblock page-title %}</h1>
            
            {% block back-link %}<a href="#" class="back">Back to ...</a>{% endblock back-link %}
            
        </div>
        
		{% block wizard-steps %}{% endblock wizard-steps %}
        
        <div id="content" class="line">
        
       	{% block cols %}
        	<div class="col size3of4">
            {% block content %}
            
            {% endblock content %}
            </div>
            
            <div class="col size1of4 sidebar">
            	{% comment %}
                <div class="mod user-contact">
                    <div class="bd">
                        <h3>{% trans "We can reach you on" %}:</h3>
                        <a href="#" class="edit">{% trans "edit" %}</a>
                        <p>(06) 66 666 666<br />
                            <a href="#">f.lastname@party.nl</a><br />
                            (on Mon, Tue, Wed or Thu)</p>
                    </div>
                </div>
                {% endcomment %}
            {% block sidebar %}
            
            {% endblock sidebar %}
            </div>
  		{% endblock cols %}
        
        </div>

  	</div>
</body>
</html>
