{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}
<div class="mod">
    <p>
        {% trans "The following wizard allows you to add multiple candidates at once." %}
        {% trans "To add the candidates, you have to upload a so called CSV file, like the example below." %}
        {% trans "CSV files can be created and editted with programs like Microsoft Excel or with your favorite text editor." %}
        <br />
        {% trans "In the template you can download form this page, only the middle_name field can be empty." %}
    </p>
    <p>
        <img src="{{ STATIC_URL }}utils/images/pol_csv.png" alt="{% trans 'Example CSV file' %}">
    </p>
    
    <div>
        <a href="{{ STATIC_URL }}utils/other/pol_csv.csv" class="btn">{% trans 'Download this template' %}</a>
    </div>
    <div class="form-submit">
        <a class="btn primary next" href="{% url backoffice.csv_candidates_step2 ep_id %}">{% trans "Proceed to uploading a filled in template" %}</a>
        <a href="{% url backoffice.election_party_view ep_id %}" class="cancel">{% trans "Cancel" %}</a>
    </div>
</div>
{% endblock content %}