{% extends 'backoffice/batch_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Import multiple candidates' %}{% endblock title %}
{% block page-title %}{% trans 'Import multiple candidates' %}{% endblock page-title %}
{% block breadcrumbs %}
	<li><a href="#">[Election Event Name]</a></li>
	<li><a href="#">[Election Instance Name]</a></li>
{% endblock breadcrumbs %}
{% block back-link %}{% endblock back-link %}

{% block content %}
<div class="mod">
	<h2>{% trans "Download the template..." %}</h2>
    <p>
        {% trans "The following wizard allows you to add multiple candidates at once." %}
   	</p>
    <p>
        {% trans "To add the candidates, you have to upload a so called CSV file, like the example below." %}
        {% trans "CSV files can be created and editted with programs like Microsoft Excel or with your favorite text editor." %}
    </p>
    <div class="btn-container">
        <a href="{{ STATIC_URL }}utils/other/pol_csv.csv" class="btn download">{% trans 'Download this template' %}</a>
    </div>
    <h2>{% trans "...And fill it in." %}</h2>
    <p>
    	{% trans "Depending on the application you're using, you might be able to see something like the table below." %}
        {% trans "The column headers will be missing, but they are in this order:" %}
    </p>
    <ul>
    	<li><strong>{% trans "Column" %} A - {% trans "Position" %}:</strong> {% trans "This is the position of the candidate on your party list." %}</li>
    	<li><strong>{% trans "Column" %} B - {% trans "Last name" %}:</strong> {% trans "The family name of the candidate." %}</li>
    	<li><strong>{% trans "Column" %} C - {% trans "Middle Name (optional)" %}:</strong> {% trans "If the candidate has a middle name, insert it here" %}</li>
    	<li><strong>{% trans "Column" %} D - {% trans "First name" %}:</strong> {% trans "The first name of the candidate." %}</li>
    	<li><strong>{% trans "Column" %} E - {% trans "Initials" %}:</strong> {% trans "The initials of the candidate." %}</li>
    	<li><strong>{% trans "Column" %} F - {% trans "Email address" %}:</strong> {% trans "The email address we can sent the invitation to." %}</li>
    	<li><strong>{% trans "Column" %} G - {% trans "Gender" %}:</strong> {% trans "The gender of the candidate. Insert either 'male' or 'female'" %}</li>
    </ul>
    <div class="image">
        <img src="{{ STATIC_URL }}utils/images/pol_csv.gif" alt="{% trans 'Example CSV file' %}">
        <em>{% trans "Image 1: Preview of the CSV file in Excel. Note: the file might look different in your version." %}</em>
    </div>
    <h3>{% trans "Seeing something else than you see in this preview? Read on..." %}</h3>
    <p>
    	{% trans "The file might look (entirely) different from the example above." %}
    </p>
    <p>
        {% trans "If that is the case, just delete all the data from the file and start adding new data as shown above." %}<br />
    	<em>{% trans "Be sure to save it as a CSV-file again." %}
        	{% trans "Just clicking the 'save'-button will probably do the trick." %}</em>
    </p>
    <h2>{% trans "Ready?" %}</h2>
    <p>
    	{% trans "When you have saved the file, you can go to the next step." %}
    </p>
    <div class="form-submit">
        <a class="btn primary next" href="{% url bo.csv_candidates_step2 ep_id %}">{% trans "Next: Sent the CSV-file back to us" %}</a>
        <a href="{% url bo.election_party_view ep_id %}" class="cancel">{% trans "Cancel" %}</a>
    </div>
</div>
{% endblock content %}