{% extends 'backoffice/base.html' %}
{% load i18n utils_tags %}

{% block title %}Election Event Name{% endblock title %}
{% block page-title %}Election Event Name{% endblock page-title %}
{% block back-link %}{% endblock back-link %}

{% block content %}
	<div class="mod overview instances">
    	<div class="hd">
            <h2>{% trans "This election has the following instances:" %}</h2>
        </div>
        <div class="bd">
        	<div class="item add-slot">
            	<a href="{% url bo.add_election_instance %}" class="add">{% trans "Add an Election Instance" %}</a>
            </div>
            {#}<a href="{% url bo.election_setup %}">{% trans "Chancery Registration Wizard" %}</a>#}
          	
            {% for ei in election_instances  %}
            <div class="item">
                {% blockwrap template='electioninstance' %}
                    <h3>{{ ei.council.region }}</h3>
                    <a href="{% url bo.election_instance_view id=ei.id %}" class="manage">{% trans "Manage this instance" %}</a>
                    <ul class="quicklinks">
                    	<li><a href="{% url bo.edit_election_instance id=ei.id %}">{% trans "Edit base settings" %}</a></li>
                    </ul>
                {% endblockwrap %}
            </div>
            {% empty %}
            <p class="empty">{% trans "There are no Election Instances defined yet for this Event." %}</p>
            {% endfor %}
      	</div>
    </div>
{% endblock content %}