{% extends 'backoffice/base.html' %}
{% load i18n utils_tags %}

{% block title %}{{ eip.party.name }} ({{ eip.party.abbreviation }}){% endblock title %}
{% block page-title %}{{ eip.party.name }} (<abbr title="{{ eip.party.name }}">{{ eip.party.abbreviation }}</abbr>){% endblock page-title %}
{% block back-link %}
{% ifprofile 'council_admin' %}
<a href="{% url bo.election_instance_view instance.id %}" class="back">{% trans 'Back to' %} {{ instance.council.region }}</a>
{% endifprofile %}
{% endblock back-link %}

{% block breadcrumbs %}
{% if user.is_staff %}
	<li><a href="{% url bo.election_event %}">{{ instance.election_event.name }}</a></li>
{% endif %}
{% ifprofile 'council_admin' %}
    <li><a href="{% url bo.election_instance_view instance.id %}">{{ instance.council.region }}</a></li>
{% endifprofile %}
{% endblock breadcrumbs %}

{% block content %}
	<div class="mod messages">
        <ul class="message-list">
            {% if eip.party.profile_incomplete %}<li>{% trans 'You did not completely fill in the party profile.' %} <a href="{% url bo.election_party_edit eip.id %}">{% trans 'Do it now' %} &gt;</a></li>{% endif %}
            {% if not eip.party.contacts.count %}<li>{% trans 'You did not assign a party contact yet.' %} <a href="#">{% trans 'Do it now' %} &gt;</a></li>{% endif %}
        </ul>
   	</div>

	<div class="mod overview candidates">
        
		<a href="{% url bo.csv_candidates_step1 eip.id %}" class="add-batch btn">{% trans "Import multiple candidates via Excel / CSV" %}</a>
        <h2>{% trans 'Candidates for this party' %}:</h2>
        {% for index, can in eip.candidate_dict.items %}
        <div class="item">
            <span class="list"><strong>{{ index }}</strong></span>
            {% if can %}
                {% ifnotequal index 1 %}<div class="up"><a href="{% url bo.candidate_up can.id %}">{% trans 'Move up' %}</a></div>{% endifnotequal %}
                {% ifnotequal index eip.list_length %}<div class="down"><a href="{% url bo.candidate_down can.id %}">{% trans 'Move down' %}</a></div>{% endifnotequal %}
                <div class="main_content">
                    <img src="{{ can.candidate.profile.picture }}" />
                    <h3><a href="#">{{ can.candidate.profile.full_name }}</a></h3>
                    <ul>
                        {% if can.candidate_notresponded %}<li{% if instance.candidate_overdue %} class="warning"{% endif %}>{% trans 'Candidate has not responded yet' %} ({% if instance.candidate_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.candidate_deadline }})</li>{% endif %}
                        {% if can.profile_incomplete %}<li{% if instance.profile_overdue %} class="warning"{% endif %}>{% trans 'Candidate did not fill in their profile yet' %} ({% if instance.profile_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.profile_deadline }})</li>{% endif %}
                        {% if can.questions_incomplete %}<li{% if instance.questions_overdue %} class="warning"{% endif %}>{% trans 'Candidate did not answer the questions yet' %} ({% if instance.questions_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.questions_deadline }})</li>{% endif %}
                    </ul>
                </div>
                <div class="sidebar"><a href="#">{% trans 'View candidate profile' %} &gt;</a></div>
                <div class="sidebar"><a href="#">{% trans 'Remove candidate' %}</a></div>
                <br class="clear" />
            {% else %}
                <h3><a href="{% url bo.election_party_add_candidate eip.id index %}" class="add-item">{% trans 'Invite politician' %}</a></h3>
                {% ifequal index eip.list_length %}
                	<a href="{% url bo.election_party_shrink eip.id %}" class="delete">{% trans 'Remove this position' %}</a>
              	{% endifequal %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="item add-slot">
        	<a href="{% url bo.election_party_grow eip.id %}" class="add">{% trans 'Add a new position to this list' %}</a>
       	</div>
  	</div>
{% endblock content %}


{% block sidebar %}
	
    <div class="mod start-btn">
    	<div class="bd">
    	<a href="{% url bo.election_party_edit eip.id %}" class="btn start">Start setup wizard<br />for this party</a>
        </div>
    </div>
    
    {% blockwrap %}
		<h3>{% trans "This party" %}</h3> 
        <a href="{% url bo.election_party_edit eip.id %}" class="edit">{% trans "edit" %}</a>
        <dl>
            <dt>{% trans 'Logo' %}:</dt>
            <dd>[logo img]</dd>
            <dt>{% trans 'Slogan' %}:</dt>
            <dd>{{ eip.party.slogan|default:"&ndash;" }}</dd>
            <dt>{% trans 'Current number of seats' %}:</dt>
            <dd>###</dd>
        </dl>
  	{% endblockwrap %}
    
    {% blockwrap %}
    	<h3>{% trans "Contact information" %}</h3> 
        <dl>
        	<dt>{% trans "Name" %}:</dt>
            	<dd>{{ eip.party.name|default:"&ndash;" }} {% if eip.party.abbreviation %}({{ eip.party.abbreviation }}){% endif %}</dd>
           	<dt>{% trans "Address" %}:</dt>
            	<dd>{{ eip.party.address_street }} {{ eip.party.address_number }}
                    <br />{{ eip.party.address_postalcode }}  {{ eip.party.address_city }}
                </dd>
           	<dt>{% trans 'Telephone' %}:</dt>
            	<dd>{{ eip.party.telephone|default:"&ndash;" }}</dd>
           	<dt>{% trans 'E-mail' %}:</dt>
            	<dd>{% if eip.party.email %}<a href="mailto:{{ eip.party.email }}">{{ eip.party.email }}</a>{%else%}&ndash;{%endif%}</dd>
           	<dt>{% trans 'Website' %}:</dt>
            	<dd>{% if eip.party.website %}<a href="{{ eip.party.website }}">{{ eip.party.website }}</a>{%else%}&ndash;{%endif%}</dd>
      	</dl>
	{% endblockwrap %}
    
	{% blockwrap %}
    	<h3>{% trans "Party description" %}</h3> 
        <dl>
        	<dt>{% trans "Description" %}</dt>
            	<dd>
                    {{ eip.party.description }}<br />
                    <a href="#">{% trans "read more" %}</a>
                </dd>
       		<dt>{% trans "History" %}</dt>
            	<dd>
                    {{ eip.party.history }}<br />
                    <a href="#">{% trans "read more" %}</a>
                </dd>
       		<dt>{% trans "Manifesto" %}</dt>
            	<dd>
                    {{ eip.party.manifasto_summary }}<br />
                    <a href="#">{% trans "read more" %}</a>
                </dd>
       		<dd><a href="{{ eip.party.manifesto }}" target="_blank">{% trans "Link to manifesto" %}</a></dd>
        </dl>
    {% endblockwrap %}

{% endblock sidebar %}