{% extends 'backoffice/base.html' %}
{% load i18n utils_tags thumbnail %}

{% block title %}{{ instance.name }}{% endblock title %}
{% block page-title %}{{ instance.name }}{% endblock page-title %}
{% block back-link %}
{% if user.is_staff %}
<a href="{% url bo.election_event %}" class="back">{% trans 'Back to' %} {{ instance.election_event.name }}</a>
{% endif %}
{% endblock back-link %}

{% block breadcrumbs %}
	{% if user.is_staff %}
	<li><a href="{% url bo.election_event %}">{{ instance.election_event.name }}</a></li>
    {% else %}
    <li>{{ instance.election_event.name }}</li>
	{% endif %}
{% endblock breadcrumbs %}



{% block content %}

{% if instance.council.profile_incomplete %}
<div class="mod messages">
	<h2>{% trans "Things you need to do:" %}</h2>
    <ul class="message-list">
    {% if instance.council.profile_incomplete %}<li>{% trans 'You did not completely fill in the council profile.' %} <a href="{% url bo.edit_council instance.id %}" class="act">{% trans 'Do it now' %}</a></li> {% endif %}
    </ul>
</div>
{% endif %}

<div class="mod overview parties">
	<a href="{% url bo.csv_parties_step1 instance.id %}" class="add-batch btn">{% trans 'Import multiple parties via Excel / CSV' %}</a>
    <h2>{% trans 'All parties for this election' %}:</h2>

    {% for index, eip in instance.party_dict.items %}
    <div class="item">
       	<span class="list">{% trans 'List' %} <strong>{{ index }}</strong></span>

        {% if eip %}                
			{% if eip.party.logo %}
            	<div class="image"><img src="{% thumbnail eip.party.logo 70x40 %}" alt="{{ eip.party.abbreviation }}" /></div>
            {% else %}
            	<div class="image"><img src="{% thumbnail "defaults/party-dummy.jpg" 70x40 %}" alt="{{ eip.party.abbreviation }}" /></div>
           	{% endif %}
            <h3>{{ eip.party.name }} {% if eip.party.abbreviation %} 
                    (<abbr  title="{{ eip.party.name }}">{{ eip.party.abbreviation }}</abbr>)

            {% endif %}</h3>
            <a href="{% url bo.election_party_view eip.id %}" class="manage">{% if eip.candidates_count %}{% trans 'View candidate list' %}{% else %}{% trans 'Manage this party' %}{% endif %}</a>
            <ul class="quicklinks">
            	<li><a href="{% url bo.election_party_edit eip.id %}">{% trans 'Edit party profile' %}</a></li>
               	{#<li><a href="#">{% trans 'Remove party' %}</a></li>#}
           	</ul>
            
            <p class="candidates">{% if eip.candidates_invited %}{{ eip.list_length }} {% trans 'candidates' %} ({{ eip.candidates_invited }} {% trans 'invited' %}){% else %}{% trans 'no candidates defined' %}{% endif %}</p>
            <ul class="message-list">
                {% if eip.party.profile_incomplete %}<li class="overdue">{% trans 'You have not finished filling in the party profile' %} <a href="{% url bo.election_party_edit eip.party.id %}" class="act">{% trans 'Fill in now' %}</a></li>{% endif %}
                {% if eip.candidates_invited %}
                    {% if eip.candidates_notinvited %}<li{% if instance.candidate_overdue %} class="overdue"{% endif %}>{{ eip.candidates_notinvited }} {{ eip.candidates_notinvited|pluralize:_('candidate,candidates') }} {% trans 'not invited yet' %} ({% if instance.candidate_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.candidate_deadline }}) <a href="{% url bo.election_party_view eip.id %}" class="act">{% trans 'Do it now' %}</a></li>{% endif %}
                    {% comment %}{% if eip.candidates_notresponded %}<li>{{ eip.candidates_notresponded }} {{ eip.candidates_notresponded|pluralize:_('candidate,candidates') }} {% trans 'have not responded yet' %}</li>{% endif %}
                    {% if eip.candidates_profile_incomplete %}<li{% if instance.profile_overdue %} class="overdue"{% endif %}>{{ eip.candidates_profile_incomplete }} {{ eip.candidates_profile_incomplete|pluralize:_('candidate,candidates') }} {% trans 'did not fill in their profile yet' %} ({% if instance.profile_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.profile_deadline }})</li>{% endif %}
                    {% if eip.candidates_questions_incomplete %}<li{% if instance.questions_overdue %} class="overdue"{% endif %}>{{ eip.candidates_questions_incomplete }} {{ eip.candidates_questions_incomplete|pluralize:_('candidate,candidates') }} {% trans 'did not answer the questions yet' %} ({% if instance.questions_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.questions_deadline }})</li>{% endif %}{% endcomment %}
                {% else %}
                    <li{% if instance.invite_overdue %} class="overdue"{% endif %}>{% trans 'There are no candidates defined for this party' %} ({% if instance.invite_overdue %}{% trans 'overdue' %}{% else %}{% trans 'due' %}{% endif %} {{ instance.invite_deadline }}) <a href="{% url bo.election_party_view eip.id %}" class="act">{% trans 'Do it now' %}</a></li>
                {% endif %}
            </ul>
            <div class="move">
                {% ifnotequal index 1 %}<a href="{% url bo.election_party_up eip.id %}" class="move-up">{% trans 'Move up' %}</a>{% endifnotequal %}
                {% ifnotequal index instance.num_lists %}<a href="{% url bo.election_party_down eip.id %}" class="move-down">{% trans 'Move down' %}</a>{% endifnotequal %}
			</div>
        {% else %}
            <h3><a href="{% url bo.election_party_create instance.id index %}" class="add-item">{% trans 'Define party for this list' %}</a></h3>
		{% ifequal index instance.num_lists %}<div class="sidebar"><a href="{% url bo.election_instance_shrink instance.id %}" class="delete">{% trans 'Remove this list' %}</a></div>{% endifequal %}
        {% endif %}
    </div>
    {% empty %}
            <p class="empty">{% trans "There are no parties defined yet for this election." %}</p>
    {% endfor %}
	<div class="item add-slot">
   		<a href="{% url bo.election_instance_grow instance.id %}" class="add">{% trans "Add new party position" %}</a>
    </div>
</div>

{% endblock content %}

{% block sidebar %}
    
   	<div class="mod start-btn">
    	<div class="bd">
		{% if user.is_staff %}
			{% url bo.edit_election_instance id=instance.id as setup_url %}
		{% else %}
		{% url bo.election_setup election_instance_id=instance.id as setup_url %}
		{% endif %}
		{% blocktrans with setup_url as setup_url %}
			<a href="{{ setup_url }}" class="btn start">Start setup wizard<br />for this election</a>
			<p>You can change the information below by starting the <a href="{{ setup_url }}">setup wizard.</a></p>
		{% endblocktrans %}
        </div>
    </div>
 	{% blockwrap %}
		<h3>{% trans 'Sms Credit' %}:</h3>
        <dl>
        	<dt>{% trans "You have preordered" %}:</dt>
            	<dd>{{ instance.council.credit }} {% trans "credits" %}.</dd>
        	<dt>{% trans "The Sms's in the system currently will cost you" %}:</dt>
            	<dd>{{ allocated }} {% trans "credits." %}</dd>

                {% if enough %}
                <dt>{% trans "After which you will only have" %}:</dt>
                    <dd>{{ credit_left }} {% trans "credits" %}.</dd>
                {% else %}
                <dt>{% trans "Currently you will be charged at the higher rate for" %}:</dt>
                    <dd>{{ pos_credit_left }} {% trans "credits. Contact us to buy more credits to avoid this." %}</dd>
                        <p><em><a href="#">{% trans "Contact us" %}</a>{% trans " to buy more credits to avoid this." %}</em></p>

                {% endif %}

        </dl>
        
	{% endblockwrap %}

	{% blockwrap %}
		<h3>{% trans 'This election' %}:</h3>
        {#<a href="{% url bo.edit_council id=instance.id %}" class="edit">{% trans 'edit' %}</a> #}
        <dl>
        	<dt>{% trans "Is taking place on" %}</dt>
            	<dd>{{ instance.start_date|date:"D j F Y" }}</dd>
          	<dt>{% trans "Website" %}</dt>
                <dd>{% if instance.website %}<a href="{{ instance.website }}" target="_blank">Klik hier</a>{% else %}&ndash;{% endif %}</dd>
        </dl>
	{% endblockwrap %}

	{% blockwrap %}
        <h3>{{ instance.council.name }}</h3>
        {#<a href="{% url bo.edit_council id=instance.id %}" class="edit">{% trans 'edit' %}</a>#}
        <dl>
           	<dt>{% trans "Address" %}</dt>
            	<dd>{{ instance.council.street|default:"&ndash;" }} {{ instance.council.house_num|default:"&ndash;" }}<br />{{ instance.council.postcode|default:"&ndash;" }}  {{ instance.council.town|default:"&ndash;" }}</dd>
          	<dt>{% trans 'E-mail' %}</dt>
            	<dd>{% if instance.council.email %}<a href="mailto:{{ instance.council.email }}">{{ instance.council.email }}</a>{% else %}&ndash;{% endif %}</dd>
            <dt>{% trans 'Website' %}</dt>
            	<dd>{% if instance.council.website %}<a href="{{ instance.council.website }}" target="_blank">Klik hier</a>{% else %}&ndash;{% endif %}</dd>
        </dl>

        {#<a href="{% url bo.edit_council id=instance.id %}" class="edit">{% trans 'edit' %}</a>#}
        <dl>
            {#<dt>{% trans "Picture" %}</dt>#}
            	{#<dd>[image here]</dd>#}
            <dt>{% trans "Number of seats" %}</dt>
            	<dd>{{ instance.council.seats|default:"&ndash;" }}</dd>
        	<dt>{% trans 'History' %}</dt>
            	<dd>{{ instance.council.history|linebreaks|truncatewords_html:20|default:"&ndash;" }}</dd>
        </dl>
    {% endblockwrap %}
	
{% endblock sidebar%}
