{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block outer-breadcrumbs %}{% endblock outer-breadcrumbs %}
{% block outer-page-title %}{% endblock outer-page-title %}
{% block back-link %}{% endblock back-link %}

{% block content %}
	<div class="mod">
        <h2>{% trans "Password changed" %}</h2>
        <p>{% trans "Your password has been changed" %}</p>
		{% url bo.login as login_link %}
		{% blocktrans with login_link as login_link %}
			Click <a href="{{ login_link }}">here to go to the login page</a>
		{% endblocktrans %}
   	</div>
{% endblock content %}