{% extends 'backoffice/base.html' %}
{% load i18n form_tags %}

{% block extrahead %}
	{{ form.media }}
{% endblock extrahead %}

{% block outer-breadcrumbs %}{% endblock outer-breadcrumbs %}
{% block outer-page-title %}{% endblock outer-page-title %}
{% block back-link %}{% endblock back-link %}

{% block cols %}
<div class="col size1of2">
    <div class="mod">
        <h2>{% trans "Login" %}</h2>
        <form action="{% url bo.login %}" method="post" accept-charset="utf-8">
            <input type="hidden" name="next" value="{{ next }}" />
            
            {% if form.non_field_errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>	
            {% endif %}
            
    
            <fieldset class="default">
                {% for field in form %}
                    {% ifequal field.name 'username' %}
                        <div id="field-{{ field.auto_id }}" class="field {{ field|get_class }} {{ field|get_required_class }} {% if field.errors %} error{% endif %}">
                            <label for="{{ field.auto_id }}" class="{{ field|get_required_class }}">{% trans "Email" %}</label>
                            {{ field|with_class }}
                            <div id="{{ field.auto_id }}-help" class="help">
                                {% if field.help_text %}
                                    <p>{{ field.help_text }}</p>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="error">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% include 'utils/forms/_form_field.html' %}
                    {% endifequal %}
                    
                {% endfor %}
            </fieldset>
    
            <div class="form-submit">
                <button class="primary next" type="submit">{% trans "Login" %}</button>
                <a href="{% url bo.forgot_password %}">{% trans "Forgot password?" %}</a>
            </div>
        </form>
    </div>
</div>
<div class="col size1of2">
	<div class="mod">
    	<h2>{% trans "Helpdesk" %}</h2>
    	<p>
        	{% trans "Do you have a question about the admin pages or filling in your data?" %}
         </p>
         <p>
            {% trans "Contact us at" %} <a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a>
            {% trans "or phone number" %} (088) 7000 125.
        </p>
        {# Heeft u vragen over de beheerderspagina of het invullen van de gegevens? Neemt u dan contact met ons op via 088-7000125 of support@wiekiesjij.nl' #}
    </div>
</div>
{% endblock cols %}