/* 
    Document   : base
    Created on : Dec 9, 2009, 2:27:55 PM
    Author     : arturbarseghyan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#ui-datepicker-div {
    position: relative;
}
