{% extends 'backoffice/wizard/editelection/base.html' %}
{% load i18n %}

{% block step_title %}{% trans "Change the base settings" %}{% endblock step_title %}



{% block buttons %}
	<div class="form-submit">
		<button type="submit" class="primary" name="back" value="overview">{% trans "Save" %}</button>
		<button type="submit" class="next" name="next" value="next">{% trans "Save and start council setup" %}</button>
        <a href="{% url bo.election_event %}" class="cancel">{% trans "Cancel" %}</a>
	</div>
{% endblock buttons %}