{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
    <input type="hidden" name="next" value="{% url fo.politician_comments profile.user.id %}" />
    {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <div class="field"
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </div>
    {% endif %}
    {% endfor %}
    <div class="form-submit">
    <button class="primary next" type="submit">{% trans "Post" %}</button>
    </div>
</form>
