	/* 	General element styling
*************************************************************************************************/
	
	html,body {
		margin:0;
		padding:0;
		}
	
	body {
		background:#ffffff;
		color:#000000;
		font-family:arial, Helvetica, sans-serif;
		font-size:12px;
		}
		
	/* 	Content elements
		----------------------------------------------------------------------------------------- */
	
			h1 {
				background:url(../img/h1Arrow.gif) left center no-repeat;
				font-size:18px;
				line-height:24px;
				margin:0 0 0 10px;
				padding-left:28px;
				}
			h2 {
				background:url(../img/h1Arrow.gif) left center no-repeat;
				font-size:18px;
				line-height:24px;
				margin:0;
				padding-left:28px;
				}
			
			a {
				color:#000000;
				text-decoration:underline;
				}
				
				a:hover {
					text-decoration:none;
					}
					
			.image {
				overflow:hidden;_zoom:1;
				}
			strong {
				font-weight:bold;
				}
			em {
				font-style:italic;
				}
					
	/* 	Tabs
		----------------------------------------------------------------------------------------- */
					
			ul.tabs {
				list-style:none;
				overflow:hidden;
				}
				
				ul.tabs li {
					float:left;
					}
					
					ul.tabs li a {
						color:#000000;
						display:block;
						padding:0 10px;
						text-decoration:none;
						}
						
					ul.tabs li a:hover {
						background:#bab9b9;
						}
						
					ul.tabs li.selected a,
					ul.tabs li.selected a:hover {
						background:#E0E0E0;
						}
						
			.breadcrumbs {
				margin:0 10px;
				font-size:18px;
				line-height:24px;
				overflow:hidden;_zoom:1;
				}
				.breadcrumbs li {
					float:left;
					padding-left:28px;
					margin-right:10px;
					background:url(../img/h1Arrow.gif) left center no-repeat;
					}
				.breadcrumbs a {
					color:#ed2227;
					}

/* 	Form styling
	*************************************************************************************************/

	form {

		}
		input,
		textarea,
		select {
			border:1px solid #aaa;
			padding:5px;
			width:448px;
			font-size:1.2em;
			}
			.size1of4 input,
			.size1of4 textarea {
				width:171px;
				}
			
			.size1of4 select {
				width:183px;
				}
		select {
			width:460px;
			padding:4px;
			}
		textarea {
			height:100px;
			}
		.radioselect input,
		.checkboxselectmultiple input {
			border:0;
			padding:0;
			width:auto;
			}
		.small input {
			width:50px;
			}
		label,
		p.label {
			display:block;
			color:#000000;
			font-weight:bold;
			margin-bottom:2px;

			}
		span.optional,
		span.note {
			font-size:0.8em;
			color:#aaa;
			font-weight:normal;
			}
			.filter span.optional {
				display:none;
				}

		.description {
			margin-bottom:1em;
			}

		div.field,
		div.multi-field {
			overflow:hidden;_zoom:1;
			margin-bottom:1em;
			position:relative;
			}
			.filter div.field,
			.filter div.multifield {
				margin-bottom:.5em;
				}
				
				
		/* 	checkbox
			----------------------------------------------------------------------------------------- */
			div.checkboxselectmultiple {

				}
				div.checkboxselectmultiple ul {
					margin-top:.5em;
					}
				div.checkboxselectmultiple label {
					margin-bottom:5px;
					font-weight:normal;
					}
				div.checkboxselectmultiple input {
					margin: 2px 5px 0 0;
					display:block;
					float:left;
					}

			input.checkboxinput {
				width:auto;
				border:none;
				}

			div.checkboxinput {
				position:relative;
				}
				div.checkboxinput label {
					font-weight:normal;
					padding-left:20px;
					}
				div.checkboxinput input {
					margin-left:-20px;
					}

		/* 	radio
			----------------------------------------------------------------------------------------- */
			div.radioselect {

				}
				div.radioselect ul {
					margin-top:.5em;
					}
				div.radioselect label {
					font-weight:normal;
					margin-bottom:5px;
					line-height:1.2em;
					}
				div.radioselect input {
					margin:2px 5px 0 0;
					padding:0;
					display:block;
					float:left;
					}
		
		/* 	form submit
			----------------------------------------------------------------------------------------- */
		
			div.form-submit {
				overflow:hidden;_zoom:1;
				margin-top:10px;
                position:relative;
                clear:both;
				}
				div.form-submit a {
					float: left;
					color:#000;
					display:block;
					padding:3px 5px;
					margin-bottom:10px;
					line-height:26px;
					}

                                div.form-submit a.btn {
                                    margin-left:10px;
									float:right;
									padding:5px 8px;
									line-height:18px;
                                }

				div.form-submit a.cancel {
					background: url(../img/cancel.png) no-repeat 0px center;
					padding-left:20px;
					}	
				div.form-submit button {
					float: right;
					border:none;
					display:block;
					margin:0 0 10px 10px;
					cursor: pointer;
					background-color:#cccccc;
					width:auto;
					overflow:visible;
					padding:5px;
					border:2px solid #ccc;
					}
					
					div.form-submit button:hover {
						background-color:#b9b9b9;
						}
					div.form-submit a.button {
						border:2px solid #ccc;
						text-decoration: none;
						}
				div.form-submit button.primary,
				div.form-submit a.primary {
					border-color:#666;
					font-weight:bold;
					}
			
				div.form-submit button.prev,
                a.prev {
					background: #ccc url(../img/prev.png) no-repeat left center;
					padding-left: 20px;
					}
					
					div.form-submit a.prev {
					 	padding-left:25px;
					 	}
					
					div.form-submit button.prev:hover,
                    a.prev:hover {
						background-color:#b9b9b9;
						}
			
				div.form-submit button.next,
                a.next {
					background: #ccc url(../img/next.png) no-repeat right center;
					padding-right:25px;
					}
					
					 a.next, div.form-submit a.next {
					 	padding-right:25px;
					 }
					
					div.form-submit button.next:hover,
                    a.next:hover {
						background-color: #b9b9b9;
						}

	

	/*	generic styling
		**************************************************************************************************************/
		
		#container {
			margin:20px auto 0;
			width:980px;
			}
		
	/*	Header
		**************************************************************************************************************/

			#header {
				border-bottom:4px solid #e0e0e0;
				margin:0 10px 20px;
				overflow:hidden;_zoom:1;
				position:relative;
				}
			
					.branding {
						position:absolute;
						left:0;
						top:0;
						padding:0;
						margin:0;
						background:none;
						}
						.branding a {
							display:block;
							height:90px;
							width:261px;
							background:url(../img/branding.gif) left top no-repeat;
							text-indent:-9999px;
							}
						.regional .branding a {
							background-image:url(../img/branding-regional.gif);
							}
					#header h2 {
						display:none;
						}
					#header h2.regional {
						display:block;
						background:none;
						padding:0;
						margin:30px 0 .3em 100px;
						font-size:24px;
						line-height:1.2em;
						}

					p.user-info {
							text-align: right;
							}
						
					.user-info {
						position:absolute;
						right:0;
						top:0;
						font-size:.9em;
						color:#aaa;
						}
						.user-info a {
							color:#aaa;
							}
						
					#header ul.tabs {
						overflow:hidden;_zoom:1;
						float:right;
						list-style:none;
						list-style-position:outside;
						display:block;
						margin:66px 0 0;
						padding:0;
						}
					#container .regional ul.tabs {
						margin:0;
						}
						
						#header ul.tabs li {
							margin-left:2px;
							display:block;
							list-style:none;
							list-style-position:outside;
							}
							
							#header ul.tabs li a {
								font-size:19px;
								line-height:34px;
								height:34px;
								float:left;
								}
								
							#header ul.tabs li.selected a {
								line-height:43px;
								height:43px;
								}
							
							ul.tabs .do-test a {
								color:#ed2227;
								text-decoration:underline;
								}
							ul.tabs .do-test a:hover {
								background:#ed2227;
								text-decoration:none;
								color:#fff;
								}
	
	/*	Content
	**************************************************************************************************************/
		
			#content {
			
				}
			.line {
				
				}
				.col {
					
					}
					
					.mod {
						background:#E0E0E0;
						margin:34px 10px 50px 20px;
						position:relative;
						}
						.hd {
							position:absolute;
							z-index:20;
							left:-10px;
							top:-39px;
							}
							.hd h1,
							.hd h2,
							.hd .note {
								float:left;
								}
							.hd h1 {
								margin:0;
								}
							.hd .note {
								margin-left:1em;
								display:inline;
								line-height:28px;
								font-style:italic;
								}
						.bd {
							background:#ffffff;
							border:1px solid #c2c2c2;
							clear:left;
							left:-10px;
							padding:15px;
							position:relative;
							top:-10px;
							overflow:hidden;_zoom:1;
							}
							.bd h2 {
								margin:-.4em 0 .5em;
								}
					.tabbed {
						margin-top:62px;
						}	
						.tabbed .hd {
							top:-42px;
							}
						.tabbed .tabs .selected a {
							background:#e0e0e0;
							}
			.line .line {
				margin-top:-30px;
				}				
			
			
	/* 	Tabs
		----------------------------------------------------------------------------------------- */
					
					#content ul.tabs {
						height:32px;
						margin-left:10px;
						}
					
						#content ul.tabs li {
							margin-right:1px;
							}
							
							#content ul.tabs li a {
								font-size:18px;
								line-height:27px;
								margin-top:4px;
								}
								
							#content ul.tabs li.selected a {
								line-height:32px;
								margin-top:0;
								}
	
	
	/* 	homepage
		----------------------------------------------------------------------------------------- */
		
		.introduction {
			margin-top:15px;
			margin-bottom:15px;
			}
			.introduction .bd {
				background:#fff url(../img/tweedekamer.jpg) 0 0 no-repeat;
				height:298px;
				
				}
				.introduction p {
					background:#fff;
					padding:10px 33% 10px 10px;
					font-size:2em;
					opacity:.8;
					}
		.title {
			margin-top:20px;
			margin-bottom:0;
			overflow:hidden;_zoom:1;
			background:none;
			}
			.title h1 {
				font-size:2em;
				line-height:1.2em;
				font-weight:bold;
				background:url(../img/big-arrow.gif) left center no-repeat;
				margin:0;
				padding-left:50px;
				}
			
		.select-region {
			
			}
			.select-region .bd {
				padding-left:65px;
				min-height:107px;_height:107px;
				}
				.select-region h2,
				.start-actions h2 {
					font-size:2em;
					padding:0;
					margin:0;
					background:none;
					}
					.select-region h2 .num,
					.start-actions h2 .num {
						position:absolute;
						left:15px;
						top:15px;
						font-size:3em;
						line-height:1em;
						}
				.select-region h3 {
					font-size:16px;
					line-height:1.4em;
					margin-bottom:2em;
					}
				.select-region select {
					width:378px;
					position:absolute;
					bottom:15px;
					right:15px;
					}
		
		.start-actions {
			background:0;
			margin-top:20px;
			}
			.start-actions .bd {
				border:none;
				padding:0 0 0 85px;
				margin-right:-10px;
				}
			.start-actions h2 .num {
				top:25px;
				}
			.start-actions p {
				margin:5px 0 15px;
				padding-left:55px;
				font-size:2em;
				}
				.big-btn {
					font-size:2em;
					display:block;
					background:#e0e0e0;
					position:relative;
					text-decoration:none;
					}
					.big-btn span {
						display:block;
						background:#fff url(../img/arrow.gif) right center no-repeat;
						border:4px solid #ccc;
						padding:4px;
						position:relative;
						left:-10px;
						top:-10px;
						}
					.big-btn .icon {
						display:none;
						float:left;
						border:none;
						width:30px;
						height:30px;
						padding:0;
						position:absolute;
						left:4px;
						top:4px;
						background:none;
						}
				a.big-btn:hover {
					text-decoration:underline;
					}
				.primary-btn {
					color:#fff;
					}
				.primary-btn span {
					background:#ed2227 url(../img/arrow-onred.gif) right center no-repeat;
					border-color:#c00;
					font-weight:bold;
					}	
					
				.start-test span,
				.list-candidates span {
					padding-left:44px;
					}
				
				.disabled {
					color:#dbdbdb;
					}
				.disabled .big-btn {
					background-color:#ececec; 
					}
					.disabled .big-btn span {
						color:#dbdbdb;
						border-color:#e5e5e5;
						background-image:url(../img/arrow-disabled.gif);
						}
					.disabled .primary-btn span { 
						background-color:#dbdbdb; 
						color:#fff;
						border-color:#ccc;
						background-image:url(../img/arrow-onred-disabled.gif);
						}
				.start-actions .start-test .icon {
					display:block;
					width:37px;
					background:url(../img/vote.png) 0 0 no-repeat;
					}
				.start-actions .list-candidates .icon {
					display:block;
					background:url(../img/person.png) 0 0 no-repeat;
					}
					.start-actions .disabled .icon {
						background-position:left bottom;
						}
	
	/* 	candidate browse
		----------------------------------------------------------------------------------------- */	
		
		.lastCol h1 {
			float:left;
			}
	
		.search-link {
			float:right;
			margin:0 10px;
			padding:0;
			background:none;
			text-align:right;
			}
			.search-link a {
				color:#ed2227;
				background:url(../img/h1Arrow.gif) right center no-repeat;
				padding:0 24px 0 0;
				font-size:1.5em;
				}
			.search-link p {
				padding:0 24px 0 0;
				font-style:italic;
				}
	
		.party-list {
			background:none;
			margin:34px 0 50px 0;
			}
			.party-list .hd {
				position:static;
				margin:0 15px;
				}
				.party-list h2 {
					background:url(../img/arrow-down.gif) 20px 10px no-repeat;
					padding-left:3em;
					font-weight:bold;
					}
					.party-list h2 span {
						display:block;
						font-size:.8em;
						line-height:1.2em;
						}
			.party-list .bd {
				top:0;
				left:0;
				clear:none;
				border:none;
				}
			.party-list ul {
				border-top:1px solid #ccc;
				}
			.party-list li {
				border-bottom:1px solid #ccc;
				overflow:hidden;_zoom:1;
				
				}
				.party-list li.selected {
					background:#dbdbdb;
					color:#000;
					margin-right:-15px;
					}
					.party-list li.selected .full-party-name,
					.party-list li.selected .position {
						color:#000;
						}
			.party-list .position {
				float:left;
				font-size:2.67em;
				width:1.5em;
				padding:0 5px 0 0;
				text-align:right;
				line-height:46px;
				color:#999;
				}
				.party-list a:hover .position {
					color:#000;
					}
			.party-list a {
				text-decoration:none;
				display:block;
				overflow:hidden;_zoom:1;
				}
				.party-list a:hover {
					background:#eee;
					}
			.party-list .image {
				float:left;
				width:72px;
				height:46px;
				margin:2px 10px 2px 0;
				background:#fff;
				}
				.party-list .image img {
					display:block;
					float:left;
					margin:0 auto;
					}
			.party-list .abbr {
				font-size:1.5em;
				display:block;
				margin-top:.3em;
				}
				.party-list a:hover .abbr {
					text-decoration:underline;
					}
			.party-list .full-party-name {
				color:#aaa;
				}
				.party-list a:hover .full-party-name {
					color:#666;
					}
					
					
			.cand-list {
				margin-left:10px;
				}
				.cand-list h2 {
					background:none;
					padding:0;
					margin:0;
					}
					.cand-list h2 span {
						font-size:.8em;
						display:block;
						line-height:1.2em;
						}
				.cand-list .logo {
					height:50px;
					min-width:40px;
					background:#eee;
					float:left;
					margin-right:10px;
					}
				.cand-list a.party-link {
					float:right;
					color:#ed2227;
					font-weight:bold;
					}
				.cand-list ul {
					clear:both;
					border-bottom:1px solid #ccc;
					padding-top:10px;
					}
				.cand-list li {
					border-top:1px solid #ccc;
					padding:10px 0;
					overflow:hidden;_zoom:1;
					}
					.cand-list .position {
						float:left;
						width:50px;
						height:50px;
						background:#aaa;
						margin-right:10px;
						text-align:center;
						line-height:50px;
						font-size:2.5em;
						}
					.cand-list .image {
						float:left;
						margin-right:10px;
						background:#e0e0e0;
						width:39px;
						height:48px;
						overflow:hidden;_zoom:1;
						border:1px solid #000;
						}
					.cand-list a.last-name {
						display:block;
						color:#ed2227;
						font-weight:bold;
						}
					.empty {
						font-style:italic;
						text-align:center;
						}
	
	/* 	politician search
		----------------------------------------------------------------------------------------- */	
		
		.pol-block-list {
			overflow:hidden;_zoom:1;
			margin:0 -15px;
			}
			.pol-block-list .empty {
				margin:0 15px 1em;
				text-align:center;
				}
				.pol-block-list .empty a {
					color:#ed2227;
					}
		.pol-block {
			float:left;
			width:218px;
			border-right:1px solid #ccc;
			padding:0 0 0 15px;
			margin:0 0 15px 0;
			overflow:hidden;_zoom:1;
			}
			.pol-block a.name {
				font-weight:bold;
				display:block;
				margin-bottom:.2em;
				color:#ed2227;
				}
			.pol-block p {
				line-height:1.5em;
				}
			.pol-block .image {
				float:left;
				width:50px;
				height:70px;
				background:#ccc;
				margin-right:10px;
				}
				
		.filters {
			overflow:hidden;_zoom:1;
			margin:.5em 0 .5em;
			}
			.filters li {
				float:left;
				margin-bottom:10px;
				}
				.filters li a {
					float:left;
					font-weight:bold;
					padding:.4em .5em .4em 20px;
					margin:0 10px 0 0;
					text-decoration:none;
					background:#ccc url(../img/close-filter.png) 6px center no-repeat;
					}
					.filters li a:hover {
						background:#ed2227;
						color:#fff;
						}
				.filters li a.clear-all {
					background-color:#fff;
					}
					.filters li a.clear-all:hover {
						color:#000;
						}
		
		.pager {
			margin:.5em 0 15px;
			padding:0 0 .5em;
			overflow:hidden;_zoom:1;
			border-bottom:1px solid #ccc;
			}
			.pager li {
				float:left;
				margin-right:.5em;
				}
				.pager li a {
					font-weight:bold;
					}
		.bottom-pager {
			margin:0 0 0 0;
			padding:.5em 0 0;
			border-bottom:none;
			border-top:1px solid #ccc;
			}
			
			
	
	/* 	Quick profile
		----------------------------------------------------------------------------------------- */
	
							div#content div.quickProfile .container {
								background:#FFFFFF url(../img/quickProfileBackground.gif) top left repeat-y;
								overflow:hidden;_zoom:1;
								margin-bottom:15px;
								position:relative;
								}
								
								div#content div.quickProfile .container img.quickProfilePicture {
									float:left;
									margin-right:30px;
									width:140px;
									}
									
								.quickProfileInfo {
									float:left;
									line-height:20px;
									margin-right:30px;
									width:325px;
									}
									
									.quickProfileInfo tr.emptyRow th,
									.quickProfileInfo tr.emptyRow td {
										line-height:14px;
										}
								
									.quickProfileInfo th {
										font-weight:bold;
										width:150px;
										}
										
										.quickProfileInfo tr.fan td {
											text-align:center;
											}
											
											.quickProfileInfo tr.fan a {
												color:#ed2227;
												font-weight:bold;
												}
										
										
								
								.popularityMeter {
									float:left;
									position:relative;
									width:148px;
									margin-bottom:15px;
									}
								 
								
									
									.popularityMeter .meter {
										display:block;
										height:158px;
										overflow:hidden;_zoom:1;
										margin:0 0 0 25px;
										width:64px;
										position:relative;
										background:url(../img/popularityMeter.gif) 0 0 no-repeat;
										}
										
										.popularityMeter .active {
											bottom:0;/*_margin-bottom:-1px;  for IE absolute bottom position bug */
											left:0;
											overflow:hidden;_zoom:1;
											position:absolute;
											width:64px;
											background:url(../img/popularityMeterActive.gif) left bottom no-repeat;
											text-indent:-9999em;
											}
									
									.popularityMeter span.top {
										left:95px;
										position:absolute;
										top:0;
										}
									
									.popularityMeter span.bottom {
										left:95px;
										position:absolute;
										top:144px;
										}
									
									.popularityMeter span.total {
										display:block;
										font-size:22px;
										font-weight:bold;
										text-align:center;
										width:64px;
										margin:10px 0 0 25px;
										}
										
								.ballotPosition {
									border-top:1px solid #c2c2c2;
									margin-top:10px;
									margin-bottom:10px;
									padding-top:14px;
									clear:both;
									}
									
									.ballotPosition a {
										color:#ed2227;
										font-weight:bold;
										}
							
							
								
	/* 	MoreInfo - Favorites
		----------------------------------------------------------------------------------------- */
	
								div#content div.favs table {
									line-height:20px;
									margin:-5px 0 0;
									width:100%;
									}
									
									div#content div.favs th,
									div#content div.favs td {
										border-bottom:1px solid #c2c2c2;
										}
									
									div#content div.favs tr.last th,
									div#content div.favs tr.last td {
										border-bottom:none;
										}
									
									div#content div.favs th {
										font-weight:bold;
										vertical-align:top;
										width:250px;
										}
										
										div#content div.favs td span.logo {
											display:block;
											float:left;
											height:30px;
											margin:5px 0;
											overflow:hidden;
											padding:3px 0;
											width:211px;
											}
											
											div#content div.favs td span.logo a {
												background-position:center center;
												background-repeat:no-repeat;
												display:block;
												height:30px;
												margin-bottom:-5px;
												overflow:hidden;
												text-align:center;
												text-indent:-9999px;
												}
											
												div#content div.favs td span.logo a img {
													margin:0;
													}
													
	/* 	MoreInfo - tabs
		----------------------------------------------------------------------------------------- */
	
							.item {
								border-bottom:1px solid #C2C2C2;
								margin-bottom:10px;
								padding-bottom:10px;
								}
							
							.last-item {
								border-bottom:none;
								margin-bottom:0;
								padding-bottom:0;
								}		
								
								.item h2 {
									color:#ed2227;
									font-size:14px;
									font-weight:bold;
									background:none;
									padding-left:0;
									}
									
									.item h2 span.institute {
										color:#000000;
										font-size:13px;
										}
											
								.item .smallInfo {
									color:#777777;
									display:block;
									font-size:11px;
									margin-bottom:5px;
									}
			
	
	/* 	Tweets
		----------------------------------------------------------------------------------------- */
		
							div.tweets ul {
								margin-bottom:-10px;
								}
								
								div.tweets ul li {
									margin-bottom:20px;
									}

										div.tweets ul li a {
											color:#ed2227;
											}
											
									div.tweets ul li span.info {
										color:#888888;
										display:block;
										font-size:11px;
										margin-top:3px;
										}
	
	/* 	Video
		----------------------------------------------------------------------------------------- */
		
							div#content div.video .bd {
								padding-bottom:12px;
								}
		
	/* 	LooksLike
		----------------------------------------------------------------------------------------- */
		
							div.looksLike ul.quickList {
								list-style:none;
								}
							
								.looksLike ul.quickList li {
									margin-bottom:10px;
									}
									
									.looksLike ul.quickList li a {
										cursor:pointer;
										display:block;
										overflow:hidden;
										text-decoration:none;
										width:100%;
										}
										
										.looksLike ul.quickList li a img {
											border: 2px solid #ffffff;
											float:left;
											margin-right:10px;
											width:50px;
											}
										
										.looksLike ul.quickList li a:hover img {
											border: 2px solid #BAB9B9;
											}
										
										.looksLike ul.quickList li a span {
											display:block;
											float:left;
											line-height:20px;
											width:119px;
											}
										
											.looksLike ul.quickList li a span b {
												color:#ed2227;
												font-size:1em;
												}
											
											.looksLike ul.quickList li a:hover span b {
												text-decoration:underline;
												}
						
	/* 	Appearances
		----------------------------------------------------------------------------------------- */
		
		.appearances ul {
			list-style:none;
			overflow:hidden;_zoom:1;
			margin-bottom:-10px;
			}
			.appearances li {
				margin-bottom:10px;
				overflow:hidden;_zoom:1;
				}
			.appearances .date {
				background:#E0E0E0;
				border: 2px solid #ffffff;
				display:block;
				float:left;
				height:31px;
				margin-right:5px;
				overflow:hidden;
				padding:5px;
				text-align:center;
				width:31px;
				}
				.appearances .date .day {
					color:#ed2227;
					font-size:18px;
					font-weight:bold;
					line-height:18px;
					}
				.appearances .date .month {
					font-size:10px;
					font-weight:bold;
					line-height:10px;
					text-transform:uppercase;
					}
			.appearances .info {
				display:block;
				float:left;
				line-height:20px;
				width:133px;
				}
				.appearances .info strong {
					color:#ed2227;
					font-size:1em;
					}
				.appearances .info a {
					font-size:.8em;
					}
	
	/* 	Goals
		----------------------------------------------------------------------------------------- */
		
							.goals ul.quickList {
								list-style:none;
								}
								
								.goals ul.quickList li {
									color:#ed2227;
									border-bottom:1px solid #ccc;
									padding:0 0 10px 0;
									margin:0 0 10px 0;
									}
									.goals ul.quickList li.last-item {
										border:none;
										margin-bottom:0;
										padding-bottom:0;
										}
									
									.goals ul.quickList li strong {
										color:#000000;
										display:block;
										font-size:1em;
										}
										
									.goals a {
										color:#ed2227;
										margin-top:2px;
										}
									.goals .score {
										display:block;
										line-height:16px;
										margin:.2em 0;
										font-weight:bold;
										}
										.goals .score .num-votes {
											font-weight:normal;
											}
										.goals .score .thumbsup,
										.goals .score .thumbsdown {
											display:block;
											float:left;
											width:15px;
											height:15px;
											margin-right:4px;
											text-indent:-9999em;
											}
										.goals .score .thumbsup {
											background:url(../img/thumbs-up.png) left bottom no-repeat;
											}
										.goals .score .thumbsdown {
											background:url(../img/thumbs-down.png) left bottom no-repeat;
											}
										.goals .score a.thumbsup:hover,
										.goals .score a.thumbsdown:hover {
											background-position:left top;
											}
									.goals .comments {
										display:block;
										color:#ccc;
										}
										.goals .comments a {
											color:#999;
											}
		
	/* 	Links
		----------------------------------------------------------------------------------------- */
							
							.links ul.quickList {
								list-style:none;
								margin-bottom:-10px;
								}
								
								.links ul.quickList li {
									margin-bottom:10px;
									}
									
									.links ul.quickList li a {
										color:#ed2227;
										font-weight:bold;
										text-decoration:none;
										}

									.links ul.quickList li a:hover {
										text-decoration:underline;
										}
										
									.links ul.quickList li p {
										padding-left:10px;
										}
	
	
	
	/*	Party profile
		**************************************************************************************************************/
	
		.quick-party-profile {
			
			}
			.quick-party-profile .image {
				width:140px;
				height:80px;
				float:left;
				margin:0 10px 10px 0;
				}
			.quick-party-profile .popularityMeter {
				float:right;
				border-left:1px solid #ccc;
				margin:0 0 15px 15px;
				}
			.quick-party-profile p {
				line-height:1.4em;
				}
			.quick-party-profile .quickProfileInfo {
				border-top:1px solid #ccc;
				width:505px;
				margin:15px 0;
				padding:10px 0;
				clear:left;
				}
				.quick-party-profile .quickProfileInfo a {
					color:#ed2227;
					font-weight:bold;
					}
	
										
	/*	Footer
	**************************************************************************************************************/
	
			#footer {
				border-top:2px solid #e0e0e0;
				margin:0 10px 2em;
				padding:5px 0;
				overflow:hidden;
				position:relative;
				}
			
				#footer .bookmarks {
					color:#8d8d8d;
					list-style:none;
					overflow:hidden;
					position:absolute;
					top:5px;
					right:0;
					}
				
					#footer .bookmarks li {
						float:left;
						}
					
						#footer ul li a {
							color:#8d8d8d;
							}
				.social {
					background:url(../img/socialbookmarks.png) 0 0 no-repeat;
					display:block;
					height:16px;
					width:16px;
					float:left;
					margin-right:.4em;
					text-indent:-9999em;
					}
					
				/* USE http://www.addthis.com/bookmark.php + firebug TO DETERMINE BACKGROUND-POSITION */	
				.nujij	 	{ background-position:0 -2528px; }
				.digg 		{ background-position:0 -1776px; }
				.delicious 	{ background-position:0 -144px; }
				.ekudos 	{ background-position:0 -224px; }
				.live 		{ background-position:0 -2224px; }
				.twitter 	{ background-position:0 -2976px; }
				.hyves	 	{ background-position:0 -1040px; }
				.myspace	{ background-position:0 -3136px; }
				
				.flickr 	{ background:url(../img/flickr.gif) 0 0 no-repeat; }

					