{% load i18n utils_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wiekiesjij? {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}frontoffice/img/favicon.png" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/libraries.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/grids.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/mod.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/main.css" />
        <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/ie67.css" />
   	<![endif]-->
    <script src="{{ STATIC_URL }}utils/javascripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script language="javascript">
    function warnBack() {
        if (confirm("Als u terug gaat, raakt uw antwoord in deze stap verloren.")) {
            history.back();
        }
    }
    </script>
    
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    <div id="container">
        <div id="header" {% if request.session.ElectionInstance %} class="regional"{% endif %}>

            <h1 class="branding"><a href="/" title="{% trans 'Go home' %}">WieKiesJij?</a></h1>
            {% comment %}
            <!-- {% if request.session.ElectionInstance %}<h2 class="regional">Provinciale Statenverkiezingen 2011{#: {{ request.session.ElectionInstance.name }}#}</h2>{% endif %} -->
            {% endcomment %}

            <p class="user-info">
                {% if user.is_authenticated %}
                    {% trans "You are logged in as" %}
                    {% if user.profile %}
                        <strong><a href="{% url fo.visitor.edit_profile %}">{{ user.profile.full_name|default:'NN' }}</a></strong>
                    {% else %}
                        <strong>{{ user.get_full_name|default:user.username }}</strong>
                    {% endif %}
                        - <a href="{% url fo.logout %}">{% trans "Logout" %}</a>
                {% else %}
                    <a href="{% url fo.login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url registration_register %}">{% trans "register" %}</a>
                {% endif %}
            </p>

            <ul class="tabs">
            {% block menu %}
                {% if request.session.ElectionInstance and not HOMEPAGE_PLACEHOLDER %}
		{% if SEPTEMBER %}
                <li class="do-test {% block menu_take_test %}{% endblock %}"><a href="{% url fo.match_welcome 7 %}">{% trans 'Take the test' %}</a></li>
		{% endif %}
                <li class="{% block menu_candidates %}{% endblock %}"><a href="{% url fo.election %}">{% trans 'Candidates' %}</a></li>
		{% if STATICS_FIXED %}
                <li class="{% block menu_statistics %}{% endblock %}"><a href="{% url statistics.index %}">{% trans 'Statistics' %}</a></li>
		{% endif %}
                {% endif %}
                <li class="{% block menu_organisation %}{% endblock %}"><a href="/over-ons/">{% trans 'Over Ons' %}</a></li>
            {% endblock menu %}
            </ul>
        </div>

        <div id="content" class="line">
		{% block breadcrumbs %}{% endblock breadcrumbs %}
        {% block cols %}
            <div class="col size3of4">
                {% block content %}

                {% endblock content %}
            </div>
            <div class="col size1of4 sidebar">
            {% block sidebar %}

            {% endblock sidebar %}
            </div>
        {% endblock cols %}

        </div>

        <div id="footer">
                <p>
                	<a rel="license" class="cc-license" href="http://creativecommons.org/licenses/by-sa/3.0/nl/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/nl/80x15.png" /></a>
                	Ontwikkeld door <a href="http://www.hetnieuwestemmen.nl">Stichting Het Nieuwe Stemmen</a>  2010-2012 -
                	<a href="/algemene-voorwaarden/">{% trans 'Terms of Service' %}</a> -
                	<a href="/disclaimer/">{% trans 'Disclaimer' %}</a> - 
					<a href="/privacy/">{% trans 'Privacy' %}</a>
                </p>
                

                {% block bookmarks %}{% include "frontoffice/bookmarks.html" %}{% endblock bookmarks %}
        </div>
        
    </div>
	{% block bodyscript %}{% endblock bodyscript %}
	{% googleanalyticsjs %}
</body>
</html>
