{% extends 'frontoffice/base.html' %}
{% load i18n %}

{% block extrahead %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#selector").addClass("javascript");

        $("#id_region").change(function() {
            $("#form").submit();
        });
    });
</script>
{% endblock extrahead %}

{% block cols %}
<div class="col lastCol">
	<div class="mod introduction">
    	<div class="bd">                
				<p>Hier kunt u de individuele kandidaten leren kennen door middel van een paar simpele vragen. Begin hieronder met de test of zoek zelf tussen alle kandidaten!</p>
        </div>
    </div>
    <div class="mod title">
    	<h1>{% trans "Voorkeurstemwijzer voor de Tweede Kamerverkiezingen 2012" %}</h1> <!-- Provinciale Statenverkiezingen 2011" %}</h1> -->
    </div>
</div>

<form action="" id="form" method="POST">

{% comment %}
<!--    <div class="col size1of2">
        <div class="mod select-region">
            <div id="selector" class="bd">
                <h2><span class="num">1</span> {% trans 'Selecteer uw regio' %} </h2>
                <h3>{% trans 'om met Wiekiesjij te beginnen.' %}</h3>
				<p><em>{% trans "Staat uw regio niet in deze lijst? In dat geval heeft uw provincie er voor gekozen om niet te participeren in Wiekiesjij." %}</em></p>
                {% for field in form %}
                    {{ field }}
                {% endfor %}

                <noscript>
               	<div class="form-submit">
                    <button type="submit">{% trans 'Selecteer' %}</button>
                </div>
                </noscript>
            </div>
        </div>
    </div>
    -->
{% endcomment %}
    <input type="hidden" name="region" value="1">

    <!-- <div class="col size1of2"> -->
    <div style="width:90%">
        <div class="mod start-actions">
                <div class="bd">
                <h2>&nbsp;<!--<span class="num">2</span>--></h2>
                <a class="big-btn primary-btn start-test" href="{% url fo.match_welcome 1 %}">
                    <span>
                        <span class="icon"></span>{% trans 'Doe de test' %}
                    </span>
                </a>
                <p>{% trans "or" %}</p>
                <a class="big-btn list-candidates" href="{% url fo.election 1 %}">
                    <span>
                        <span class="icon"></span>{% trans 'Bekijk de kandidaten' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock cols %}
