{% extends 'backoffice/wizard/base.html' %}
{% load i18n utils_tags backoffice_tags %}

{% block title %}{% trans "Add a new party" %}{% endblock title %}
{% block page-title %}{% trans "Add a new party" %}{% endblock page-title %}
{% block back-link %}{% endblock back-link %}

{% block breadcrumbs %}
{% if user.is_staff %}
	<li><a href="{% url bo.election_event %}">{{ instance.election_event.name }}</a></li>
{% endif %}
{% ifprofile 'council_admin' %}
    <li><a href="{% url bo.election_instance_view instance.id %}">{{ instance.name }}</a></li>
{% endifprofile %}
{% endblock breadcrumbs %}


{% block wizard-steps %}
{% endblock wizard-steps %}

{% block step_title %}{% trans "Add a new party &amp; Invite a contact" %}{% endblock step_title %}