{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-us' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/libraries.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/grids.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/mod.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontoffice/css/main.css" />

    <title>WieKiesJij? - {% block title %}{% endblock title %}</title>
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    <div id="container">
        <div id="header">
            <a class="branding">Wie Kies Jij?</a>
            <ul class="tabs">
			{% block menu %}
                <li class="do-test"><a href="#">Doe de test</a></li>
                <li class="selected"><a href="#">Kandidaten</a></li>
                <li><a href="#">Statistieken</a></li>
                <li><a href="#">Organisatie</a></li>
            {% endblock menu %}
            </ul>
        </div>

        <div id="content" class="line">

        {% block cols %}
            <div class="col size3of4">
                {% block content %}

                {% endblock content %}
            </div>
            <div class="col size1of4 sidebar">
            {% block sidebar %}

            {% endblock sidebar %}
            </div>
        {% endblock cols %}

        </div>

        <div id="footer">
                <p>&copy; Copyright <a href="http://www.hetnieuwestemmen.nl">Stichting Het Nieuwe Stemmen</a> {% trans "and" %} <a href="http://getlogic.nl">Getlogic</a> 2009</p>
        </div>
        
    </div>
</body>
</html>
