{% extends 'frontoffice/base.html' %}
{% load i18n fo_tags %}

{% block title %}{{ profile.full_name }}{% endblock title %}

{% block content %}
    <div>
        <h1>{{ profile.full_name|default:user.username }}</h1>
        Hier komt een mooi lijstje met je top 10 politici enzo, als je de test hebt gedaan.
    </div>
{% endblock content %}

{% block sidebar %}
<div>
    <ul>
        {% isprofile 'visitor' %}
            <li><a href="{% url fo.visitor.edit_profile %}">{% trans 'Edit profile' %}</a></li>
        {% endisprofile %}
        {% isprofile 'party_admin' %}
            <li><a href="{% url bo.election_party_view user.party.current_eip.id %}"></a>{% trans 'View your party' %}</li>
        {% endisprofile %}
    </ul>
</div>
{% endblock sidebar %}