{% extends 'frontoffice/base.html' %}
{% load i18n form_tags thumbnail %}

{% block extrahead %}
	{{ form.media }}
{% endblock extrahead %}

{% block menu_candidates %}selected{% endblock %}

{% block cols %}
<div class="col lastCol">
	<h1>{% trans "Candidates for" %} [Election Event Name]: [Instance Name]</h1>
    <div class="mod search-link">
        <a href="{% url fo.politician_profile_filter %}">{% trans "Search all candidates" %}</a>
        <p>{% trans 'Filter on name, region, and much more' %}</p>
   	</div>
</div>

<div class="col size2of3">
    <div class="mod party-list">
    	<div class="hd">
        	<h2>{% trans "Choose a party" %} <span>{% trans "to view the candidate list" %}</span></h2>
        </div>
    	<div class="bd">
        	<ul>
            {% for eip in eips %}
                
				{% ifequal eip.id selected_eip.id %}
                <li class="selected">
                    <span class="position">{{ eip.position }}</span>
                    <div class="image">
                    	{% if eip.party.logo %}
                    	<img alt="{{ eip.party.abbreviation }}" src="{% thumbnail eip.party.logo 60x40 %}" />
                  		{% else %}
                        <img alt="{{ eip.party.abbreviation }}" src="{% thumbnail 'defaults/party-dummy.jpg' 60x40 %}" />
                        {% endif %}
                    </div>
                    <span class="abbr">{{ eip.party.abbreviation }}</span>
                    <p class="full-party-name">{{ eip.party.name }}</p>
                </li>
				{% else %}
                <li>
                    <a href="{% url fo.election eip.party.id %}">
                    <span class="position">{{ eip.position }}</span>
        			<span class="image">
                    {% if eip.party.logo %}
                       	<img alt="{{ eip.party.abbreviation }}" src="{% thumbnail eip.party.logo 60x40 %}" />
                    {% else %}
                        <img alt="{{ eip.party.abbreviation }}" src="{% thumbnail 'defaults/party-dummy.jpg' 60x40 %}" />
                    {% endif %}
                    </span>
                    <span class="abbr">{{ eip.party.abbreviation }}</span>
                    <span class="full-party-name">{{ eip.party.name }}</span>
                    </a>
              	</li>
				{% endifequal %}
            {% endfor %}
     		</ul>
        </div>
    </div>
</div>
<div class="col size1of3">
	{% if selected_eip %}
	<div class="mod cand-list">
    	<div class="bd">
            
            	
                <div class="logo">
                	{% if selected_eip.party.logo %}
                		<img alt="{{ selected_eip.party.abbreviation }}" src="{% thumbnail selected_eip.party.logo 75x50 %}" />
               		{% else %}
                        <img alt="{{ eip.party.abbreviation }}" src="{% thumbnail 'defaults/party-dummy.jpg' 75x50 %}" />
                    {% endif %}
                </div>
                <h2><span>{% trans 'Candidate list for ' %}</span>{{ selected_eip.party.abbreviation }}</h2>
                <a href="{% url fo.party_profile selected_eip.id %}" class="party-link">{% trans 'Go to the party profile' %}</a>
				<ul>
                {% for position, politician in politicians.items %}

                     {{ politician.candidate.profile.profile }}

                    <li>
                        <span class="position">{{ position }}</span>
                        
                        {% if politician %}
                        	<div class="image">
                            {% if politician.candidate.profile.picture %}
                                <img alt="{{ politician.full_name }}" src="{% thumbnail politician.candidate.profile.picture 40x50 upscale %}" />
                            {% else %}
                                <img alt="{{ politician.full_name }}" src="{% thumbnail 'defaults/pol-dummy.jpg' 40x50 upscale %}" />
                            {% endif %}
                            </div>
                            <a href="{% url fo.politician_profile politician.candidate.id %}" class="last-name">{{ politician.candidate.profile.middle_name }} {{ politician.candidate.profile.last_name }}</a>
                            <p>{{ politician.candidate.profile.initials }} ({{ politician.candidate.profile.first_name }}) ({{ politician.candidate.profile.gender}})</p>

                        {% else %}
                            <p class="empty">{% trans 'This politician<br />has not yet been added.' %}</p>
                        {% endif %}
                    </li>


                {% empty %}
                    <li class="empty">{% trans 'No Politicians: please search or select a filter options' %}</li>
                {% endfor %}
                </ul>
            
       	</div>
    </div>
    {% endif %}
</div>
{% endblock cols %}