{% extends 'frontoffice/base.html' %}
{% load i18n %}

{% block outer-breadcrumbs %}{% endblock outer-breadcrumbs %}
{% block outer-page-title %}{% endblock outer-page-title %}
{% block back-link %}{% endblock back-link %}

{% block menu %}
{% endblock menu %}

{% block content %}
	<div class="mod password-changed">
    	<div class="bd">
            <h2>{% trans "Your password has been changed" %}</h2>
            {% url fo.login as login_link %}
            {% blocktrans with login_link as login_link %}
                <p><a href="{{ login_link }}">Click here to go to the login page</a>.</p>
            {% endblocktrans %}
      	</div>
   	</div>
{% endblock content %}