{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}

{% block title %}
    {{ goal.politician.full_name }}
{% endblock title %}

{% block menu_candidates %}selected{% endblock menu_candidates %}

{% block breadcrumbs %}
<div class="col lastCol">
    <ul class="breadcrumbs">
    	<li class="first"><a href="/">Wiekiesjij</a></li>
        <li><a href="{% url fo.election %}">{{ goal.politician.party.current_eip.election_instance.name }}</a></li>
        <li><a href="{% url fo.party_profile goal.politician.party.current_eip.id %}">{{ goal.politician.party.name }}</a></li>
        <li><a href="{% url fo.politician_profile goal.politician.user.id %}">{{ goal.politician.full_name }}</a></li>
        <li>{{ goal.goal }}</li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block cols %}
<div class="col size1of2">
	<div class="mod goal">
    	<div class="hd">
        	<h1>{% trans "Politiek doel" %}</h1>
        </div>
    	<div class="bd">
        	<h2>{{ goal.goal }}</h2>
        </div>
    </div>
    <div class="mod comments">
    	<div class="hd">
        	<h2>{% trans "Comment on this" %}</h2>
        </div>
        <div class="bd">
            {% isprofile 'visitor' %}
                {% render_comment_form for goal %}
            {% endisprofile %}

			{% isprofile 'candidate' %}
                {% render_comment_form for goal %}
            {% endisprofile %}

            {% get_comment_list for goal as comments %}
            {% for comment in comments %}
                <div class="item{% if forloop.last %} last-item{% endif %} {% ifequal goal.politician.user.id comment.user.id %}owner{% endifequal %}">
                    <p class="smallInfo">
                        {% ifequal goal.politician.user.id request.user.id %}
                            {% if comment.flags.all %}
                                <span>{% trans 'This comment is flagged' %}</span>
                            {% else %}
                                <a href="{{ comment.get_flag_url }}">{% trans 'Flag as inappropiate' %}</a>
                            {% endif %}
                        {% endifequal %}

                        {% if request.user.is_staff %}
                            {% if comment.flags.all %}
                                <span>{% trans 'This comment is flagged' %}</span> - <a href="{{ comment.get_delete_url }}">{% trans 'Delete' %}</a>
                            {% endif %}
                        {% endif %}

                        {% if comment.user_url %}
                            <a href="{{ comment.user_url }}"><strong>{{ comment.user_name }}</strong></a>
                        {% else %}
                            <strong>{{ comment.user_name }}</strong>
                        {% endif %}
                        zei op {{ comment.submit_date|date:"j F Y" }} om {{ comment.submit_date|date:"H:i"}}:
                    </p>
                    <p>{{ comment.comment|urlize|linebreaks }}</p>
                </div>
            {% endfor %}
    
            
        </div>
    </div>
</div>
{% comment %}
<div class="col size1of2 lastCol">
	<div class="mod">
		<div class="hd">
			<h2>{{ profile.full_name }}</h2>
		</div>
		<div class="bd">
			{% include "frontoffice/quick_profile.html" %}
		</div>
	</div>
	<div class="mod goals">
    	<div class="hd">
    		<h2>{% trans 'Political goals' %}</h2>
      	</div>
        <div class="bd">
        	{% if profile.goals.all %}
            <ul class="quickList">
                {% for goal in profile.goals.all %}
                    <li{% if forloop.last %} class="last-item"{% endif %}>
                        <strong><a href="{% url fo.goal goal.id %}">{{ goal.goal }}</a></strong>
                        <p class="score" title="{% isprofile 'visitor' %}{% trans 'Vote now!' %}{% else %}{% trans 'When you log in, you can vote too!' %}{% endisprofile %}">
                        	{% if user.is_authenticated %}
                                {% isprofile 'visitor' %}
                                    <a href="{% url fo.thumbs_up goal.id %}" class="thumbsup">{% trans "Good" %}</a>
                                    <a href="{% url fo.thumbs_down goal.id %}" class="thumbsdown">{% trans "Bad" %}</a>
                                {% endisprofile %}
                            {% endif %}
                            {% trans 'Score' %}: {{ goal.ranking|default:0 }} 
                            <span class="num-votes">({{ goal.count_rankings|default:0 }} {% trans 'Votes' %})</span>
                        	
                        </p>
                        {% get_comment_count for goal as comment_count %}
                        <span class="comments">
                        <a href="{% url fo.goal goal.id %}">{{ comment_count }} {% blocktrans count comment_count as counter %}Comment{% plural %}Comments{% endblocktrans %}</a>
                        {% isprofile 'visitor' %}
                            - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                        {% endisprofile %}
                        {% ifequal goal.politician.user.id request.user.id %}
                            - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                        {% endifequal %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="empty">{% trans "No goals defined yet." %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endcomment %}
{% endblock cols %}