{% extends 'frontoffice/base.html' %}
{% load i18n %}

{% block extrahead %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#selector").addClass("javascript");

        $("#id_region").change(function() {
            $("#form").submit();
        });
    });
</script>
{% endblock extrahead %}
{% block menu %}{% endblock menu %}

{% block cols %}
<div class="col lastCol">
	<div class="mod introduction">
    	<div class="bd">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem nisi, eget blandit erat. 
            Mauris id nunc id risus porta faucibus ac a purus.</p>
            
        </div>
    </div>
    <div class="mod title">
    	<h1>{% trans "Kieswijzer Gemeenteraadsverkiezingen 2010" %}</h1>
    </div>
</div>

<form action="" id="form" method="POST">

    <div class="col size1of2">
        <div class="mod select-region">
            <div id="selector" class="bd">
                <h2><span class="num">1</span> {% trans 'Select your region' %} </h2>
                <h3>{% trans 'to start <strong>Wiekiesjij</strong> for your region.' %}</h3>

                {% for field in form %}
                    {{ field }}
                {% endfor %}

                <noscript>
                    <input type="submit" value="{% trans 'Selecteer' %}" />
                </noscript>
            </div>
        </div>
    </div>

    <div class="col size1of2">
        <div class="mod start-actions">
            {% if request.session.ElectionInstance %}
                <div class="bd">
                    <h2>&nbsp;<span class="num">2</span></h2>
                    <a class="big-btn primary-btn start-test" href="{% url fo.test request.session.ElectionInstance %}">
                        <span>
                            <span class="icon"></span>{% trans 'Do the test' %}
                        </span>
                    </a>
                    <p>{% trans "or" %}</p>
                    <a class="big-btn list-candidates" href="{% url fo.election request.session.ElectionInstance %}">
                        <span>
                            <span class="icon"></span>{% trans 'Candidates' %}
                        </span>
                    </a>
                </div>
            {% else %}
                <div class="bd disabled">
                    <h2>&nbsp;<span class="num">2</span></h2>
                    <a class="big-btn primary-btn start-test">
                        <span>
                            <span class="icon"></span>{% trans 'Do the test' %}
                        </span>
                    </a>
                    <p>{% trans "or" %}</p>
                    <a class="big-btn list-candidates">
                        <span>
                            <span class="icon"></span>{% trans 'Candidates' %}
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock cols %}
