{% extends 'frontoffice/base.html' %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">
.no_script_list {
    overflow: auto;
    height: 50;
}

.block_left {
    display: block;
    float: left;
    line-height: 30px;
    padding: 0px 5px;
    margin-left: 10px;
}

a.block_left:hover {
    background-color: #eee;
}
</style>

<script type="text/javascript">
jQuery(document).ready(function() {
    function hndl() {
        var me = jQuery(this);
        var urls = ["{% url fo.election 1234567890 %}", "/fixme/1234567890"];

        if(me.val() != '%') {
            jQuery('a', jQuery('#directions').show()).each(function(idx) {
                this.href = urls[idx].replace('1234567890', me.val());
            })
        } else jQuery('#directions').hide()
    }

    jQuery('#election_list').each(hndl).change(hndl);
});
</script>
{% endblock extrahead %}

{% block content %}
    <div id="form_platf_requires_js" style="display: none">
        <form action="" method="GET">
            <div class="block_left">
                <select id="election_list">
                    <option value="%">{%trans 'Select region' %}</option>

                    {% for id, region in elections %}
                    <option value="{{id}}">{{region}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="directions" style="display: none">
                <a class="block_left" href="#">{% trans 'Do the test' %}</a>
                <a class="block_left" href="#">{% trans 'Candidates' %}</a>
            </div>
        </form>
    </div>
    <noscript id="form_platf_requires_js_noscript">
        <div class="no_script_list">
            {% for id, region in elections %}
            <div><a href="{% url fo.election id %}">{{region}}</a> <a href="">[{% trans 'Do the test' %}]</a></div>
            {% endfor %}
      </div>
    </noscript>
    <script type="text/javascript">
        document.getElementById('form_platf_requires_js').style.display = 'block';
        document.getElementById('form_platf_requires_js_noscript').style.display = 'none'; //to be sure
    </script>
{% endblock content %}