{% extends 'frontoffice/base.html' %}
{% load i18n %}

{% block extrahead %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#selector").addClass("javascript");

        $("#id_region").change(function() {
            $("#form").submit();
        });
    });
</script>
{% endblock extrahead %}

{% block cols %}
<div class="col lastCol">
	<div class="mod introduction">
    	<div class="bd">                
				<p><strong>Wiekiesjij</strong> stelt u in staat om de kandidaten van alle partijen te leren kennen. Met deze stemhulp kunt u, door eenvoudig een aantal vragen te beantwoorden, uw favoriete kandidaat vinden. Begin hieronder met de test of zoek gerust zelf tussen alle kandidaten!</p>
        </div>
    </div>
    <div class="mod title">
    	<h1>{% trans "Voorkeurstemwijzer Tweede Kamer verkiezingen 2010" %}</h1>
    </div>
</div>

<div class="line buttons">

    <div class="col size1of3 take-test-col">
        <div class="mod take-test">
            <p>	{% blocktrans %}
                	Bepaal welke politicus<br />
                    het beste bij je past.
            	{% endblocktrans %}</p>
          	{% comment %}
			<a href="{% url fo.match_welcome request.session.ElectionInstance.id %}" class="huge-btn start-test">
            	{% trans "DOE DE TEST" %}
            </a>
			{% endcomment %}
            <span class="huge-btn start-test">
            	{% trans "DOE DE TEST" %}
            </span>
        </div>
    </div>
    <div class="col size1of3">
        <div class="mod view-candidates">
            <p>	{% blocktrans %}
                	Wie zijn de kandidaten? Hier vind je hun profielen in een duidelijk overzicht.
            	{% endblocktrans %}</p>
          	<a href="{% url fo.election %}" class="huge-btn list-candidates">
            	{% blocktrans %}
                	Bekijk <span>de kandidaten</span>
                {% endblocktrans %}
            </a>
        </div>
    </div>
    <div class="col size1of3">
        <div class="mod view-stats">
            <p>	{% blocktrans %}
                	<strong>Wiekiesjij</strong> biedt u interessante statistieken over de kandidaten
            	{% endblocktrans %}</p>
          	<a href="{% url statistics.index %}" class="huge-btn list-stats">
            	{% blocktrans %}
                	Bekijk <span>de statistieken</span>
                {% endblocktrans %}
            </a>
        </div>
    </div>
    
</div>
{% endblock cols %}
