{% extends parent %}
{% load i18n %}
{% block extrahead %}
	{% for form in forms.values %}
		{{ form.media }}
	{% endfor %}
{% endblock extrahead %}

{% block menu_take_test %}selected{% endblock %}



{% block cols %}
	<div class="col size1of1">
	{% block content %}
        <div class="mod wizard">

            {% block help-message %}
            {% endblock help-message %}

        	<div class="bd">
                
                <ul id="wizardSteps"></ul>
                
                {% block step-header %}
                
                <h2 class="question">
                	{% block step_title %}{% trans "Welcome" %}{% endblock step_title %}
                    
                    <!--<a class="additionPlus" href="#">Toelichting</a>-->
                </h2>
                
                {% endblock step-header %}
                
                <p>[Introduction text here]</p>
                
                <!--<div class="addition">
	                <h2>Toelichting op de vraag</h2>
                    <p>Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag.</p>
                </div>-->
                
                <form method="post" action="" enctype="multipart/form-data">
                    <input type="hidden" name="{{ step_field }}" value="{{ step_path }}" />
                    {% block forms %}
                        {% for form in forms.values %}
                            {{ form.as_template }}
                        {% endfor %}
                    {% endblock forms %}
                    {{ previous_fields|safe }}


                    {% block buttons %}
                        {% if iframe %}
                            <a href="{% url fo.match election_instance.id iframe %}">{% trans 'START MATCH WIZARD' %}</a>
                        {% else %}
                            <a href="{% url fo.match election_instance.id %}">{% trans 'START MATCH WIZARD' %}</a>
                        {% endif %}
                        <!--<div class="form-submit">
                            <button type="submit" class="next primary">{% trans "Next" %}</button>
                        </div>-->
                    {% endblock buttons %}
                </form>
           	</div>
        </div>
    {% endblock content %}
   	</div>
{% endblock cols %}