{% extends parent %}
{% load i18n %}
{% block extrahead %}
	{% for form in forms.values %}
		{{ form.media }}
	{% endfor %}
{% endblock extrahead %}

{% block menu_take_test %}selected{% endblock %}

{% block breadcrumbs %}
<div class="col lastCol">
    <ul class="breadcrumbs">
    	<li class="first"><a href="/">Wiekiesjij</a></li>
        <li><a href="{% url fo.election %}">{{ election_instance.name }}</a></li>
        <li>{% trans 'Take the test' %}</li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block cols %}
	<div class="col size1of1">
	{% block content %}
        <div class="mod wizard welcome beta">

            {% block help-message %}
            {% endblock help-message %}

        	<div class="bd">
                
                <ul id="wizardSteps"></ul>
                
                {% block step-header %}
                
                <h2 class="question">
                	{% block step_title %}{% trans "Welkom bij Wiekiesjij voor" %} {{ election_instance.name }}{% endblock step_title %}
                    
                    <!--<a class="additionPlus" href="#">Toelichting</a>-->
                </h2>
                {% if iframe %}<a href="http://www.wiekiesjij.nl" target="_blank" class="wkj">Wiekiesjij</a>{% endif %}
                {% endblock step-header %}
                
                <form method="post" action="" enctype="multipart/form-data">
                    <input type="hidden" name="{{ step_field }}" value="{{ step_path }}" />
                    {% block forms %}
                        {% for form in forms.values %}
                            {{ form.as_template }}
                        {% endfor %}
                    {% endblock forms %}
                    {{ previous_fields|safe }}


                    {% block buttons %}
                        {% if iframe %}
                            <a href="{% url fo.match election_instance.id iframe %}" class="start">{% trans 'START DE WIZARD' %}</a>
                        {% else %}
                            <a href="{% url fo.match election_instance.id %}" class="start">{% trans 'START DE WIZARD' %}</a>
                        {% endif %}
                        <!--<div class="form-submit">
                            <button type="submit" class="next primary">{% trans "Next" %}</button>
                        </div>-->
                    {% endblock buttons %}
                    <span class="start-help">Druk op <strong>START</strong> om <em>Wiekiesjij</em> te starten.</span>
                </form>
                
                <p class="intro">
                	Met de stemhulp Wiekiesjij kunt u eenvoudig bepalen welke kandidaat het beste bij u past. Door middel van een aantal vragen over de achtergrond, persoonskenmerken en ervaring van de kandidaten zoeken wij de beste overeenkomst. Bij sommige vragen kunt u meerdere antwoorden selecteren.<br/>&nbsp;<br/>
					Weet u nog niet op welke partij u gaat stemmen? <br/>Probeer dan eerst <a href="http://stemwijzer.nl/">Stemwijzer</a>.
                    
                </p>
				<a href="http://stemwijzer.nl/">
                <img src="http://stemwijzer.nl/design/plain/images/sw2010/headSw2010.jpg" alt="StemWijzer" />
				</a>
           	</div>
        </div>
    {% endblock content %}
   	</div>
{% endblock cols %}