{% extends 'frontoffice/base.html' %}
{% load i18n %}


{% block content %}
	<div class="mod quick-party-profile">
    	<div class="hd">
        	<h1>{% trans 'Party' %} {{ eip.party.name }}</h1>
        </div>
        <div class="bd">
        	<div class="image">
            	<img src="dsfsd.jpg" alt="[Party Name]" />
            </div>
            <div class="popularityMeter">
                <div class="meter">
                    <div class="active" style="height: {{ popularity|default:0 }}%">
                    	{{ popularity|default:0 }}%
                    </div>
                </div>
                <span class="top">100%</span>
                <span class="bottom">0%</span>
                <span class="total">{{ popularity|default:0 }}%</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet 
                eu, euismod ac velit. Cras nec erat eget turpis dignissim dignissim et eu diam. Vestibulum 
                pulvinar egestas metus, vitae imperdiet lorem ornare id. Nulla tincidunt sem vel libero 
                elementum ullamcorper.
            </p>
            <div class="quickProfileInfo">
                <table>
                    <tr>
                        <th>{% trans 'Slogan' %}</th>
                        <td><em>"Het gaat om mensen"</em></td>
                    </tr>
                    <tr>
                        <th>{% trans 'Website' %}</th>
                        <td><a href="#">www.partywebsite.nl</a></td>
                    </tr>
                    <tr>
                        <th>{% trans 'Number of seats' %}</th>
                        <td>12</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Number of candidates' %}</th>
                        <td>14</td>
                    </tr>
                </table>
            </div>
            <div class="ballotPosition">
            	<a href="#">
            	{% blocktrans with eip.party.name|title as party_name and eip.position as position and eip.election_instance.council.region as municipality %}
                    {{ party_name }} is list {{ position }} in municipality {{ municipality }}
                {% endblocktrans %}
                </a>
            </div>
        </div>
    </div>
    
    <div class="mod tabbed">
    	<div class="hd">
        	<ul class="tabs">
            	<li>
                	<a href="#">{% trans "Video" %}</a>
                </li>
                <li class="selected">
                	<a href="#">{% trans "Candidates" %}</a>
                </li>
                <li>
                	<a href="#">{% trans "History" %}</a>
                </li>
                <li>
                	<a href="#">{% trans "Party manifesto" %}</a>
                </li>
            </ul>
        </div>
        
        <!--TAB video
        <div class="bd">
        	{#{ profile.movie|youtube }#}
        </div>-->
        
        <!--TAB Candidates-->
        <!--<div class="bd">
        	<div class="pol-block-list">
            
            </div> 
        </div>-->
        
        <!--TAB History-->
        <div class="bd">
        	
        </div>
        
    </div>
    
{% endblock content %}

{% block sidebar %}
    <div class="mod party-news">
    	<div class="hd">
        	<h2>{% trans "News" %}</h2>
        </div>
        <div class="bd">
        	<div class="item">
            	<h3>News item title</h3>
                <span class="smallInfo">21 januari 2010 - 12:45</span>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet 
                	eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                </p>
            </div>
            <div class="item">
            	<h3>News item title</h3>
                <span class="smallInfo">21 januari 2010 - 12:45</span>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet 
                	eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                </p>
            </div>
            <div class="item last-item">
            	<h3>News item title</h3>
                <span class="smallInfo">21 januari 2010 - 12:45</span>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet 
                	eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                </p>
            </div>
            <a href="#" class="btn rss">{% trans "Subscribe" %}</a>
        </div>
    </div>
    <div class="mod send-message">
    	<div class="hd">
        	<h2>{% trans "Send a message" %}</h2>
        </div>
        <div class="bd">
        	<p>{% trans "Heb je vragen of opmerkingen?" %}</p>
        	<p>
            	{% blocktrans %}
                    Stuur een email naar <em>[party name] [Council Region]</em>.
                {% endblocktrans %}
            </p>
            <p>{% trans "Klik op de link hieronder om uw standaard email-programma te openen." %}</p>
        	<a href="#" class="btn email">{% trans "Send an email" %}</a>
        </div>
    </div>
{% endblock sidebar %}