{% extends 'frontoffice/base.html' %}
{% load i18n thumbnail utils_tags %}

{% block breadcrumbs %}
<div class="col lastCol">
    <ul class="breadcrumbs">
    	<li class="first"><a href="/">Wiekiesjij</a></li>
        <li><a href="{% url fo.election eip.id %}">{{ eip.election_instance.name }}</a></li>
        <li>{{ eip.party.name }}</li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block content %}
	<div class="mod quick-party-profile">
    	<div class="hd">
        	<h1>{{ eip.party.name }}</h1>
			<p class="note">{% if profile.profile_incomplete %} {% trans 'Deze partij heeft er voor gekozen om zijn profiel niet in te vullen.' %}{% endif %}</p>
        </div>
        <div class="bd">
        	<div class="image">
            	{% if eip.party.logo %}
            		<img src="{% thumbnail eip.party.logo 120x80 upscale %}" alt="{{ eip.party.name }}" />
                {% else %}
                	<img src="{% thumbnail 'defaults/party-dummy.jpg' 120x80 upscale %}" alt="{{ eip.party.name }}" />
                {% endif %}
            </div>
            <div class="popularityMeter">
				{% comment %}
                <div class="meter">
                    <div class="active" style="height: {{ eip.party.popularity|default:0 }}%">
                    	{{ eip.party.popularity|default:0 }}%
                    </div>
                </div>
                <span class="top">100%</span>
                <span class="bottom">0%</span>
                <span class="total">{{ eip.party.popularity|default:0 }}%</span>
                <p class="expl">* <a href="#expl">{% trans "Toelichting" %}</a></p>
				{% endcomment %}
				<p class="empty">{% trans "Binnenkort vind je hier de populariteitsmeter." %}</p>
            </div>
            <p>
                {{ eip.party.description }}
            </p>
            <div class="quickProfileInfo">
                <table>
                    <tr>
                        <th>{% trans 'Slogan' %}</th>
                        <td><em>{{ eip.party.slogan }}</em></td>
                    </tr>
                    {% if eip.party.website %}
                        <tr>
                            <th>{% trans 'Website' %}</th>
                            <td><a href="{{ eip.party.website }}">{{ eip.party.website }}</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans 'Huidige aantal zetels' %}</th>
                        <td>{{ eip.party.num_seats }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Number of candidates' %}</th>
                        <td>{{ eip.candidate_dict|length }}</td>
                    </tr>
                </table>
            </div>
            <div class="ballotPosition">
            	<a href="{% url fo.election eip.id %}">
            	{% blocktrans with eip.party.name|title as party_name and eip.position as position and eip.election_instance.name as municipality %}
                    
                    {{ party_name }} is Lijst {{ position }} voor de Tweede Kamer Verkiezingen 2010
                {% endblocktrans %}
                {#{{ party_name }} is list {{ position }} in municipality {{ municipality }}#}
                </a>
            </div>
        </div>
    </div>

    <div class="mod tabbed">
    	<div class="hd">

<!-- TABS -->

            <ul class="tabs">
            	{% if eip.party.movie %}
                    <li {% ifequal showtab 'vid' %}class="selected"{% endifequal %}>
                        <a href="{% url fo.party_profile eip.id 'vid' %}">{% trans "Video" %}</a>
                    </li>
                {% endif %}
                <li {% ifequal showtab 'can' %}class="selected"{% endifequal %}>
                    <a href="{% url fo.party_profile eip.id 'can' %}">{% trans "Candidates" %}</a>
                </li>
                {% if eip.party.history %}
                    <li {% ifequal showtab 'his' %}class="selected"{% endifequal %}>
                        <a href="{% url fo.party_profile eip.id 'his' %}">{% trans "History" %}</a>
                    </li>
                {% endif %}
                {% if eip.party.manifesto_summary %}
                    <li {% ifequal showtab 'man' %}class="selected"{% endifequal %}>
                        <a href="{% url fo.party_profile eip.id 'man' %}">{% trans "Party manifesto" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        
        {% ifequal showtab 'vid' %}

<!-- VIDEO TAB -->

        <div class="bd vid">
            {{ eip.party.movie|youtube }}
        </div>

        {% endifequal %}
        {% ifequal showtab 'can' %}

<!-- CANDIDATES TAB -->

        <div class="bd party-cand">
            <div class="pol-block-list">
            {% for index, candidacy in eip.candidate_dict.items %}
                <div class="pol-block">
                    <div class="image">
                        {% if candidacy.candidate.profile.picture %}
                            <img alt="{{ candidacy.candidate.full_name }}" src="{% thumbnail candidacy.candidate.profile.picture 50x70 upscale %}" />
                        {% else %}
                            <img alt="{{ candidacy.candidate.full_name }}" src="{% thumbnail "defaults/pol-dummy.jpg" 50x70 upscale %}" />
                        {% endif %}
                    </div>
                    {% if candidacy.candidate %}
                        <a href="{% url fo.politician_profile candidacy.candidate.id %}" class="name">{{ candidacy.candidate.profile.full_name }}</a>
                    {% endif %}
                    <p>{% trans 'Age' %}: {{ candidacy.candidate.profile.age|default:'Onbekend' }}</p>
                </div>
            {% empty %}
                <p class="empty">{% trans 'No politicians defined for this party' %}</p>
            {% endfor %}
            </div> 
            
        </div>



        {% endifequal %}
        {% ifequal showtab 'his' %}

<!-- HISTORY TAB -->

        <div class="bd his">
            <p>{{ eip.party.history }}</p>
        </div>

        {% endifequal %}
        {% ifequal showtab 'man' %}

<!-- MANIFESTO TAB -->

        <div class="bd man">
            <p>{{ eip.party.manifesto_summary }}</p>
            {% if eip.party.manifesto %}
                <a href="{{ eip.party.manifesto }}" class="read-more">{% trans 'Read entire manifesto' %}</a>
            {% endif %}
        </div>

        {% endifequal %}

    </div>
    
    <p class="explanation"><a name="expl">
        * {% blocktrans %}
            De populariteit van een partij is de gemiddelde populariteit van haar kandidaten in verhouding tot de andere partijen. <!--in de regio.-->
        {% endblocktrans %}
        </a>
    </p>
    
{% endblock content %}

{% block sidebar %}
    {% comment %}
        <!--<div class="mod party-news">
            <div class="hd">
                    <h2>{% trans "News" %}</h2>
            </div>
            <div class="bd">
                    <div class="item">
                    <h3>News item title</h3>
                    <span class="smallInfo">21 januari 2010 - 12:45</span>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet
                            eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                    </p>
                </div>
                <div class="item">
                    <h3>News item title</h3>
                    <span class="smallInfo">21 januari 2010 - 12:45</span>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet
                            eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                    </p>
                </div>
                <div class="item last-item">
                    <h3>News item title</h3>
                    <span class="smallInfo">21 januari 2010 - 12:45</span>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit magna, vehicula nec laoreet
                            eu, euismod ac velit. <a href="#">{% trans "Read more" %}</a>
                    </p>
                </div>
                <a href="#" class="btn rss">{% trans "Subscribe" %}</a>
            </div>
        </div>-->
    {% endcomment %}
    <div class="mod send-message">
		{% if eip.party.email %}
			
	
    	<div class="hd">
        	<h2>{% trans "Send a message" %}</h2>
        </div>
        <div class="bd">
        	<p>{% trans "Have you got questions or remarks?" %}</p>
        	<p>
            	{% blocktrans with eip.party.name|title as party_name and eip.election_instance.council.region as municipality %}
                    Send an email to <em>{{ party_name }} {{ municipality }}</em>.
                {% endblocktrans %}
            </p>
            <p>{% trans 'Click on the link below to open your standard email program.' %}</p>
        	<a href="mailto:{{ eip.party.email }}" class="btn email">{% trans "Send an email" %}</a>
        </div>
	{% endif %}
    </div>
{% endblock sidebar %}