{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block menu_candidates %}selected{% endblock menu_candidates %}

{% block content %}
    {% include "frontoffice/quick_profile.html" %}

    <div>
        <div>
            <a href="{% url fo.politician_profile profile.user.id %}">
                {% blocktrans with profile.full_name|possessive as name %}
                    Back to {{ name }}'s profile
                {% endblocktrans %}
            </a>
        </div>

        {% get_comment_list for profile as comments %}
        {% for comment in comments %}
            <div>
                {% if comment.user_url %}
                    <a href="{{ comment.user_url }}"><strong>{{ comment.user_name }}</strong></a>
                {% else %}
                    <strong>{{ comment.user_name }}</strong>
                {% endif %}
                <p>{{ comment.comment|urlize|linebreaks }}</p>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
            {% trans 'Respond' %}:
            {% render_comment_form for profile %}
        {% endif %}


    </div>
{% endblock content %}