{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}
{% load thumbnail %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block menu_candidates %}selected{% endblock %}

{% block content %}

    {% include "frontoffice/quick_profile.html" %}

    

    
        <div class="mod tabbed">
            <div class="hd">
<!-- TABS -->
                <ul class="tabs">
                    <li {% ifequal showtab "favs" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'favs' %}">
                            {% trans 'Favorites and preferences' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "edu" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'edu' %}">
                            {% trans 'Education' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "work" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'work' %}">
                            {% trans 'Work' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "exp" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'exp' %}">
                            {% trans 'Political experience' %}
                        </a>
                    </li>
                </ul>
            </div>

            {% ifequal showtab "favs" %}

<!-- FAVORITE TAB -->

            <div class="bd favs">
                <table>                
                    <tr>
                        <th>{% trans 'Religion' %}</th>
                        <td>{{ profile.get_religion_display }}<br/>
                            {{ profile.religious_group|default:'' }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Smoker' %}</th>
                        <td>{% if profile.smoker %}{% trans 'smoker' %}{% else %}{% trans 'non-smoker' %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Diet' %}</th>
                        <td>{{ profile.get_diet_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'News' %}</th>
                        <td>{{ profile.get_fav_news_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Media' %}</th>
                        <td>{{ profile.get_fav_media_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Charities' %}</th>
                        <td>{{ profile.charity|default:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Transport' %}</th>
                        <td>{{ profile.get_transport_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Animal' %}</th>
                        <td>{{ profile.get_fav_pet_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Sport' %}</th>
                        <td>{{ profile.fav_sport|default:'' }}</td>
                    </tr>
                    <tr class="last">
                        <th>{% trans 'Club' %}</th>
                        <td>{{ profile.fav_club|default:'' }}</td>
                    </tr>
                </table>
            </div>
            {% endifequal %}

            {% ifequal showtab "edu" %}

<!-- EDUCATION TAB -->

                <div class="bd education">
                    {% for education in profile.education.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ education.field }} <span class="institute">{% trans 'aan' %} {{ education.institute }}</span></h2>
                            <span class="smallInfo">
                            	{% trans 'Level' %}: {{ education.level }} - 
                                {% trans 'From' %} {{ education.startdate|date:"F Y" }} 
                                {% if education.enddate %}{% trans 'to' %} {{ education.enddate|date:"F Y" }}{% endif %}</span>
                            <p>{{ education.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }}  has not filled in any educations
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

            {% ifequal showtab "work" %}

<!-- WORK TAB -->

                <div class="bd work">
                    {% for work in profile.work.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ work.position }} <span class="institute">{% trans 'at' %} {{ work.company_name }}</span></h2>
                            <span class="smallInfo">
                            	{% trans 'Sector' %}: {{ work.sector }} - 
                            	{% trans 'From' %} {{ work.startdate|date:"F Y" }} 
                                {% if work.enddate %}{% trans 'to' %} {{ work.enddate|date:"F Y" }}{% endif %}
                            </span>
                            <p>{{ work.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }}  has not filled in any work experience
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

            {% ifequal showtab "exp" %}

<!-- POLITICAL EXPERIENCE TAB -->

                <div class="bd experience">
                    {% for experience in profile.political.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ experience.position }} <span class="institute">{% trans 'at' %} {{ experience.organisation }}</span></h2>
                            <span class="smallInfo">
                            	{% trans 'Type' %}: {{ experience.type }} - 
                                {% trans 'From' %} {{ experience.startdate|date:"F Y" }}
                                {% if experience.enddate %}{% trans 'to' %} {{ experience.enddate|date:"F Y" }}{% endif %}
                            </span>
                            <p>{{ experience.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }} has not filled in any political experience
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

        </div>

        
            <div class="line">
            {% if twitter_url %}
<!-- TWITTER -->
	           <div class="col size1of3">
	                <div class="mod tweets">
	                    <div class="hd">
	                        <h2>{{ profile.first_name|possessive }} Tweets</h2>
	                    </div>
	                    <div class="bd">
	                        {% pull_feed twitter_url %}
	                    </div>
	                </div>
	            </div>
    		{% endif %}
    
    		
<!-- YOUTUBE -->
                <div class="col size2of3">
                    <div class="mod video">
                        <div class="hd">
                            <h2>{{ profile.first_name|possessive }} video</h2>
                        </div>
                        <div class="bd">
                        {% if profile.movie %}
                            {{ profile.movie|youtube }}
                        {% else %}
                            <p class="empty">{% trans "This candidate did not<br/>specify a video" %}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
			
        
{% endblock content %}
		
<!-- SIDEBAR -->

{% block sidebar %}
        
        <div class="mod goals">
        	<div class="hd">
        		<h2>{% trans 'Political goals' %}</h2>
          	</div>
            <div class="bd">
            	{% if profile.goals.all %}
                <ul class="quickList">
                    {% for goal in profile.goals.all %}
                        <li{% if forloop.last %} class="last-item"{% endif %}>
                            <strong>{{ goal.goal }}</strong>
                            <p class="score" title="{% isprofile 'visitor' %}{% trans 'Vote now!' %}{% else %}{% trans 'When you log in, you can vote too!' %}{% endisprofile %}">
                            	{% if user.is_authenticated %}
                                    {% isprofile 'visitor' %}
                                        <a href="{% url fo.thumbs_up goal.id %}" class="thumbsup">{% trans "Good" %}</a>
                                        <a href="{% url fo.thumbs_down goal.id %}" class="thumbsdown">{% trans "Bad" %}</a>
                                    {% endisprofile %}
                                {% endif %}
                                {% trans 'Score' %}: {{ goal.ranking|default:0 }} 
                                <span class="num-votes">({{ goal.count_rankings|default:0 }} {% trans 'Votes' %})</span>
                            	
                            </p>
                            {% get_comment_count for goal as comment_count %}
                            <span class="comments">
                            <a href="{% url fo.goal goal.id %}">{{ comment_count }} {% blocktrans count comment_count as counter %}Comment{% plural %}Comments{% endblocktrans %}</a>
                            {% isprofile 'visitor' %}
                                - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                            {% endisprofile %}
                            {% ifequal goal.politician.user.id request.user.id %}
                                - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                            {% endifequal %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No goals defined yet." %}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="mod appearances">
        	<div class="hd">
				<h2>{% trans 'Appearances' %}</h2>
            </div>
            <div class="bd">
            	{% if profile.appearances.all %}
                <ul class="quickList">
                    {% for appearance in profile.appearances.all %}
                        <li>
                            <span class="date">
                                <span class="day">{{ appearance.datetime|date:"d" }}</span>
                                <span class="month">{{ appearance.datetime|date:"M" }}</span>
                            </span>
                            <p class="info">
                                <strong>{{ appearance.name }}</strong> <a href="{{ appearance.url }}">{% trans "website" %}</a><br />
                                {{ appearance.description }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No appearances added yet." %}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="mod links">
        	<div class="hd">
            	<h2>{% trans 'Links' %}</h2>
            </div>
            <div class="bd">
            	{% if profile.links.all %}
                <ul class="quickList">
                    {% for link in profile.links.all %}
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                            <p>{{ link.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No links defined yet." %}</p>
                {% endif %}
            </div>
        </div>
    
{% endblock sidebar %}