{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}
{% load thumbnail %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block menu_candidates %}selected{% endblock %}

{% block breadcrumbs %}
<div class="col lastCol">
    <ul class="breadcrumbs">
    	<li class="first"><a href="/">Wiekiesjij</a></li>
        <li><a href="{% url fo.election %}">{{ profile.party.current_eip.election_instance.name }}</a></li>
        {% if back %}
            <li><a href="{{ back }}">{% trans 'Back to results' %}</a></li>
        {% else %}
            <li><a href="{% url fo.party_profile profile.party.current_eip.id %}">{{ profile.party.name }}</a></li>
        {% endif %}
        <li>{{ profile.full_name }}</li>
    </ul>
</div>
{% endblock breadcrumbs %}


{% block content %}

    {% include "frontoffice/quick_profile.html" %}

        <div class="mod tabbed">
            <div class="hd">
<!-- TABS -->
                <ul class="tabs">
                    <li {% ifequal showtab "favs" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'favs' %}">
                            {% trans 'Favorites and preferences' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "edu" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'edu' %}">
                            {% trans 'Education' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "work" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'work' %}">
                            {% trans 'Work' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "exp" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'exp' %}">
                            {% trans 'Political experience' %}
                        </a>
                    </li>
                </ul>
            </div>

            {% ifequal showtab "favs" %}

<!-- FAVORITE TAB -->

            <div class="bd favs">
                <table>                
                    <tr>
                        <th>{% trans 'Religion' %}</th>
                        <td>{{ profile.get_religion_display|default:_('Not known') }}<br/>
                            {{ profile.religious_group|default:'' }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Smoker' %}</th>
                        <td>{% if profile.smoker %}{% trans 'smoker' %}{% else %}{% trans 'non-smoker' %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Vegitarian' %}</th>
                        <td>{{ profile.get_diet_display|default:_('Not known') }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'News' %}</th>
                        <td>{% if profile.fav_news %}
							{% ifnotequal profile.fav_news 'ANDERS'  %}
							<img src="{{ STATIC_URL }}frontoffice/img/content/newspapers/{{ profile.fav_news }}.gif" alt="{{ profile.get_fav_news_display }}" />	
							{% endifnotequal %}                        	
							{{ profile.get_fav_news_display|default:'' }}
						{% else %}
							{% trans "Not known" %}
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Media' %}</th>
                        <td>{% if profile.fav_media %}
							{% ifnotequal profile.fav_media 'BUITENLANDSEZENDER' %}
                        		<img src="{{ STATIC_URL }}frontoffice/img/content/media/{{ profile.fav_media }}.gif" alt="{{ profile.get_fav_media_display }}" />
							{% endifnotequal %}{{ profile.get_fav_media_display|default:'' }}
							{% else %}
								{% trans "Not known" %}
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Charities' %}</th>
                        <td>{% if profile.charity %}
                        	<img src="{{ STATIC_URL }}frontoffice/img/content/charities/{{ profile.charity }}.gif" alt="{{ profile.get_charity_display }}" />
							{{ profile.get_charity_display|default:'' }}
							{% else %}
								{% trans "Not known" %}
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Transport' %}</th>
                        <td>{{ profile.get_transport_display|default:_('Not known') }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Animal' %}</th>
                        <td>{{ profile.get_fav_pet_display|default:_('Not known') }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Sport' %}</th>
                        <td>{{ profile.fav_sport|default:'' }}</td>
                    </tr>
                    <tr class="last">
                        <th>{% trans 'Club' %}</th>
                        <td>{{ profile.fav_club|default:'' }}</td>
                    </tr>
                </table>
            </div>
            {% endifequal %}

            {% ifequal showtab "edu" %}

<!-- EDUCATION TAB -->

                <div class="bd education">
                    {% for education in profile.education.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ education.field }} <span class="institute">{% trans 'aan' %} {{ education.institute }}</span></h2>
                            <span class="smallInfo">
								{% if education.enddate %}
								{% blocktrans with education.level as level and education.startdate|date:"F Y" as start_date and education.enddate|date:"F Y" as enddate  %}
									Level {{ level }} from {{ start_date }} to {{ end_date }}
								{% endblocktrans %}
								{% else %}
                            	{% blocktrans with education.level as level and education.startdate|date:"F Y" as start_date %}
									Level {{ level }} from {{ start_date }}
								{% endblocktrans %}{% endif %}</span>
                            <p>{{ education.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }}  has not filled in any educations
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

            {% ifequal showtab "work" %}

<!-- WORK TAB -->

                <div class="bd work">
                    {% for work in profile.work.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ work.position }} <span class="institute">{% trans 'at' %} {{ work.company_name }}</span></h2>
                            <span class="smallInfo">
								{% if work.enddate %}
									{% blocktrans with work.sector as sector and work.startdate|date:"F Y" as start_date and work.enddate|date:"F Y" as end_date %}
										Sector {{ sector }} from {{ start_date }} to {{ end_date }}
									{% endblocktrans %}
								{% else %}
									{% blocktrans with work.sector as sector and work.startdate|date:"F Y" as start_date %}
										Sector {{ sector }} from {{ start_date }}
									{% endblocktrans %}
								{% endif %}
                            </span>
                            <p>{{ work.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }}  has not filled in any work experience
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

            {% ifequal showtab "exp" %}

<!-- POLITICAL EXPERIENCE TAB -->

                <div class="bd experience">
                    {% for experience in profile.political.all %}
                    	<div class="item{% if forloop.last %} last-item{% endif %}">
                            <h2>{{ experience.position }} <span class="institute">{% trans 'at' %} {{ experience.organisation }}</span></h2>
                            <span class="smallInfo">
								{% if experience.enddate %}
									{% blocktrans with experience.type as type and experience.startdate|date:"F Y" as start_date and experience.enddate|date:"F Y" as end_date %}
										Type {{ type }} from {{ start_date }} to {{ end_date }}
									{% endblocktrans %}
								{% else %}
									{% blocktrans with experience.type as type and experience.startdate|date:"F Y" as start_date %}
										Type {{ type }} from {{ start_date }}
									{% endblocktrans %}
								{% endif %}
                            </span>
                            <p>{{ experience.description }}</p>
                       	</div>
                    {% empty %}
                        <p class="empty">
                            {% blocktrans with profile.first_name as name %}
                                {{ name }} has not filled in any political experience
                            {% endblocktrans %}
                        </p>
                    {% endfor %}
                </div>
            {% endifequal %}

        </div>

        
            <div class="line">
            {% if twitter_url %}
<!-- TWITTER -->
	           <div class="col size1of3">
	                <div class="mod tweets">
	                    <div class="hd">
	                        <h2>{{ profile.first_name|possessive }} Tweets</h2>
	                    </div>
	                    <div class="bd">
	                        {% pull_feed twitter_url %}
	                    </div>
	                </div>
	            </div>
    		{% endif %}
    
    		
<!-- YOUTUBE -->
                <div class="col size2of3">
                    <div class="mod video">
                        <div class="hd">
                            <h2>{{ profile.first_name|possessive }} video</h2>
                        </div>
                        <div class="bd">
                        {% if profile.movie %}
                            {{ profile.movie|youtube }}
                        {% else %}
                            <p class="empty">{% trans "This candidate did not<br/>specify a video" %}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
			
        
{% endblock content %}
		
<!-- SIDEBAR -->

{% block sidebar %}
        
        <div class="mod goals">
        	<div class="hd">
        		<h2>{% trans 'Political goals' %}</h2>
          	</div>
            <div class="bd">
            	{% if profile.goals.all %}
                <ul class="quickList">
                    {% for goal in profile.goals.all %}
                        <li{% if forloop.last %} class="last-item"{% endif %}>
                            <strong><a href="{% url fo.goal goal.id %}">{{ goal.goal }}</a></strong>
                            <p class="score" title="{% isprofile 'visitor' %}{% trans 'Vote now!' %}{% else %}{% trans 'When you log in, you can vote too!' %}{% endisprofile %}">
                            	{% if user.is_authenticated %}
                                    {% ifequal request.user.profile.type 'visitor' %}
                                        <a href="{% url fo.thumbs_up goal.id %}" class="thumbsup">{% trans "Good" %}</a>
                                        <a href="{% url fo.thumbs_down goal.id %}" class="thumbsdown">{% trans "Bad" %}</a>
                                    {% else %}
                                        <a class="thumbsup" title="You need to be a registered visitor to do this">{% trans "Good" %}</a>
                                        <a class="thumbsdown" title="You need to be a registered visitor to do this">{% trans "Bad" %}</a>
                                    {% endifequal %}
                                {% else %}
                                    <a href="{% url registration_register %}"  class="thumbsup" title="You need to be a registered visitor to do this">{% trans "Good" %}</a>
                                    <a href="{% url registration_register %}" class="thumbsdown" title="You need to be a registered visitor to do this">{% trans "Bad" %}</a>
                                {% endif %}
                                {% trans 'Score' %}: {{ goal.ranking|default:0 }} 
                                <span class="num-votes">({{ goal.count_rankings|default:0 }} {% trans 'Votes' %})</span>
                            	
                            </p>
                            {% get_comment_count for goal as comment_count %}
                            <span class="comments">
                            <a href="{% url fo.goal goal.id %}">{{ comment_count }} {% blocktrans count comment_count as counter %}Comment{% plural %}Comments{% endblocktrans %}</a>
                            {% if request.user.is_authenticated %}
                                {% isprofile 'visitor' %}
                                    - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                                {% endisprofile %}
                                {% ifequal request.user.profile.type 'politician' %}
                                    - <a href="{% url fo.goal goal.id %}">{% trans 'React' %}</a>
                                {% endifequal %}
                            {% else %}
                                - <a href="{% url registration_register %}" title="You need to be a registered visitor to do this">{% trans 'React' %}</a>
                            {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No goals defined yet." %}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="mod appearances">
        	<div class="hd">
				<h2>{% trans 'Appearances' %}</h2>
            </div>
            <div class="bd">
            	{% if profile.appearances.all %}
                <ul class="quickList">
                    {% for appearance in profile.appearances.all %}
                        <li>
                            <span class="date">
                                <span class="day">{{ appearance.datetime|date:"d" }}</span>
                                <span class="month">{{ appearance.datetime|date:"M" }}</span>
                            </span>
                            <p class="info">
                                <strong>{{ appearance.name }}</strong> <a href="{{ appearance.url }}">{% trans "website" %}</a><br />
                                {{ appearance.description }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No appearances added yet." %}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="mod links">
        	<div class="hd">
            	<h2>{% trans 'Links' %}</h2>
            </div>
            <div class="bd">
            	{% if profile.links.all %}
                <ul class="quickList">
                    {% for link in profile.links.all %}
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                            <p>{{ link.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="empty">{% trans "No links defined yet." %}</p>
                {% endif %}
            </div>
        </div>
    
{% endblock sidebar %}