{% extends 'frontoffice/base.html' %}
{% load i18n form_tags %}

{% block extrahead %}
	{{ form.media }}
{% endblock extrahead %}

{% block cols %}
<div class="col size1of2">
    <div class="mod">
        <h2>{% trans "Login" %}</h2>
        <form action="{% url fo.politician_profile_filter %}" method="get" accept-charset="utf-8">
            <input type="hidden" name="next" value="{{ next }}" />
            
            {% if form.non_field_errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>	
            {% endif %}
            
    
            <fieldset class="default">
                {% for field in form %}
                    {% include 'utils/forms/_form_field.html' %}
                                      
                {% endfor %}
            </fieldset>
    
            <div class="form-submit">
                <button class="primary next" type="submit">{% trans "Search" %}</button>
            </div>
        </form>
        <a href="{% url fo.politician_profile_filter %}">{% trans 'Clear All Filters' %}</a>
    </div>
</div>
<div class="col size1of2">

	<div class="mod">
            <h2>{% trans "Results" %}</h2>
            <ul>
                {% for filter1, filter2, filter3 in filters %}
                    <li><a href="{{ filter3 }}">{{ filter1 }}: {{ filter2 }}</a></li>
                {% endfor %}
            </ul>
            {% for politician in politicians %}
                <div>
                    <p>{% trans 'Name' %}: {{ politician.full_name }}</p>
                    <p>{% trans 'Age' %}: {{ politician.age }}</p>
                    <p>{% trans 'Party' %}: {{ politician.party }}</p>
                    {% if not region_filtered %}
                        <p>{% trans 'Region' %}: {{ politician.region }}</p>
                    {% endif %}
                    <div class="picture">
                        {% if politician.picture %}
                            <img alt="{{ politician.full_name }}" src="{{ politician.picture.url }}" />
                        {% else %}
                            <img alt="{{ politician.full_name }}" src="/link/to/default/" />
                        {% endif %}
                    </div>
                </div>
                

            {% empty %}
                <p>{% trans 'No Politicians: please search or select a filter options' %}
            {% endfor %}
    </div>
</div>
{% endblock cols %}