{% extends 'frontoffice/base.html' %}
{% load i18n form_tags thumbnail utils_tags %}

{% block extrahead %}
	{{ form.media }}
{% endblock extrahead %}

{% block menu_candidates %}selected{% endblock %}

{% block breadcrumbs %}
<div class="col lastCol">
	<ul class="breadcrumbs">
    	<li><a href="{% url fo.election %}">{% trans "Kandidaten overzicht" %}</a></li>
        <li>{% trans "Search all candidates" %}</li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block cols %}


<div class="col size1of4">
    <div class="mod filter">
    	<!--<div class="hd">
        	<h2>{% trans "Filter" %}</h2>
        </div>-->
    	<div class="bd">
            <h2>{% trans "Filter" %}</h2>
            <form action="{% url fo.politician_profile_filter %}" method="get" accept-charset="utf-8">
                <input type="hidden" name="next" value="{{ next }}" />
                
                <div class="form-submit">
                    <button class="primary next" type="submit">{% trans "Apply filter" %}</button>
                </div>
                
                {% if form.non_field_errors %}
                    <div class="errors">
                        {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>	
                {% endif %}
                
        
                <fieldset class="default">
                    {% for field in form %}
                        {% include 'utils/forms/_form_field.html' %}
                                          
                    {% endfor %}
                </fieldset>
        
            	<div class="form-submit">
                    <button class="primary next" type="submit">{% trans "Apply filter" %}</button>
                </div>
            </form>
            <a href="{% url fo.politician_profile_filter %}">{% trans 'Clear All Filters' %}</a>
       	</div>
    
    </div>
</div>

<div class="col size3of4">

	<div class="mod">
    	<!--<div class="hd">
        	<h2>{% trans "Politicians" %}</h2>
        </div>-->
    	<div class="bd">
        	<h2>{% trans "Zoekresultaat" %}</h2>
			<p><strong>{% trans "You selected the following filters" %}:</strong></p>
            <ul class="filters">
                {% for filter1, filter2, filter3 in filters %}
                    <li><a href="{{ filter3 }}" title="{% trans 'Remove this filter' %}">{{ filter1 }}: {{ filter2 }}</a></li>
                {% endfor %}
                {% if filters %}
                	<li><a href="{% url fo.politician_profile_filter %}" class="clear-all">{% trans 'Clear All Filters' %}</a></li>
            	{% else %}
                	<li class="empty">No filters selected</li>
                {% endif %}
            </ul>
            <ul class="pager">
            {% if politicians.has_previous %}
                <li><a href="?page={{ politicians.previous_page_number }}">{% trans 'Previous' %}</a></li>
            {% endif %}
                <li class="current">
                    {% trans 'Page' %} {{ politicians.number }} {% trans 'of' %} {{ politicians.paginator.num_pages }}
                </li>
            {% if politicians.has_next %}
                <li><a href="?page={{ politicians.next_page_number }}">{% trans 'Next' %}</a></li>
            {% endif %}
            </ul>
            <div class="pol-block-list">
            {% for politician in politicians.object_list %}
                <div class="pol-block">
                	<div class="image">
                        {% if politician.picture %}
                            <img alt="{{ politician.full_name }}" src="{% thumbnail politician.picture 50x70 upscale %}" />
                        {% else %}
                            <img alt="{{ politician.full_name }}" src="{% thumbnail "defaults/pol-dummy.jpg" 50x70 upscale %}" />
                        {% endif %}
                    </div>
                    <a href="{% url fo.politician_profile politician.user.id %}" class="name">{{ politician.full_name }}</a>
                    <p>{% trans 'Age' %}: {{ politician.age|default:"Onbekend" }}</p>
                    <p>{% trans 'Party' %}:
					{% for party, region in party_data|index:politician.user_id  %}
						{{ party }} {{ region }}{% if not forloop.last %}<br/>{% endif %}
					{% endfor %}                    
					</p>
                </div>
            
    
            {% empty %}
                <p class="empty">{% trans 'No politicians found: please search or select different filters.' %}<br />
                	<a href="{% url fo.politician_profile_filter %}" class="clear-all">{% trans 'Clear all filters' %}</a>
                </p>
            {% endfor %}
            </div> 
            <ul class="pager bottom-pager">
            {% if politicians.has_previous %}
                <li><a href="?page={{ politicians.previous_page_number }}">{% trans 'Previous' %}</a></li>
            {% endif %}
                <li class="current">
                    {% trans 'Page' %} {{ politicians.number }} {% trans 'of' %} {{ politicians.paginator.num_pages }}
                </li>
            {% if politicians.has_next %}
                <li><a href="?page={{ politicians.next_page_number }}">{% trans 'Next' %}</a></li>
            {% endif %}
            </ul>
		</div>
    </div>
</div>
{% endblock cols %}