{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block menu_candidates %}selected{% endblock menu_candidates %}

{% block breadcrumbs %}
<div class="col lastCol">
	<ul class="breadcrumbs">
    	<li class="back">
        	<a href="{% url fo.politician_profile profile.user.id %}" >
                {% blocktrans with profile.full_name as name %}
                    Back to profile of {{ name }}
                {% endblocktrans %}
            </a>
        </li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block cols %}
<div class="col size3of4">
    {% include "frontoffice/quick_profile.html" %}
</div>
<div class="col size1of2">
    <div class="mod comments">
    	<div class="hd">
        	<h2>{% trans "Comment on this politician" %}</h2>
        </div>
    	<div class="bd">
			{% isprofile 'visitor' %}
                {% render_comment_form for profile %}
            {% endisprofile %}

			{% ifequal profile.user.id request.user.id %}
                {% render_comment_form for profile %}
            {% endifequal %}
            
            {% get_comment_list for profile as comments %}
            {% for comment in comments %}
                <div class="item{% if forloop.last %} last-item{% endif %} {% ifequal profile.user.id comment.user.id %}owner{% endifequal %}">
                    <p class="smallInfo">
                    {% if comment.user_url %}
                        <a href="{{ comment.user_url }}"><strong>{{ comment.user_name }}</strong></a>
                    {% else %}
                        <strong>{{ comment.user_name }}</strong>
                    {% endif %}
                    zei op {{ comment.submit_date|date:"j F Y" }} om {{ comment.submit_date|date:"H:i"}}:
                    </p>
                    <p>{{ comment.comment|urlize|linebreaks }}</p>
                </div>
            {% endfor %}
		</div>
    </div>
</div>
{% endblock cols %}