{% extends 'frontoffice/base.html' %}
{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}
{% load thumbnail %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block menu_candidates %}
    <li class="selected"><a href="{% url fo.politician_profile_filter %}">{% trans 'Candidates' %}</a></li>
{% endblock menu_candidates %}

{% block content %}
    <div class="mod quickProfile">
    	<div class="hd">
        	<h1>
                {% trans 'Profile' %} {{ profile.full_name }}
                {% if profile.profile_incomplete %} ({% trans 'Incomplete' %}){% endif %} {# TODO: nice message for incomplete profile? #}
            </h1>
        </div>
        <div class="bd">
            <div class="container">
                {% if profile.picture %}
                    <img class="quickProfilePicture" alt="{{ profile.full_name }}" src="{% thumbnail profile.picture 140x210 upscale %}" />
                {% else %}
                    <img class="quickProfilePicture" alt="{{ profile.full_name }}" src="/link/to/default/" />
                {% endif %}
                <table class="quickProfileInfo">
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <td>{{ profile.full_name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Party' %}</th>
                        <td>{{ profile.party.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Age' %}</th>
                        <td>{{ profile.dateofbirth|age }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Gender' %}</th>
                        <td>{{ profile.get_gender_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Marital status' %}</th>
                        <td>{{ profile.get_marital_status_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Number of children' %}</th>
                        <td>{{ profile.num_children }}</td>
                    </tr>
                    <tr class="emptyRow">
                        <th>&nbsp;</th>
                        <td></td>
                    </tr>
                    <tr class="fan">
                        <td colspan="2">
                            {% blocktrans with profile.first_name as name and profile.fans.count|default:0 as fans %}
                                {{ name }} has got {{ fans }} fans
                            {% endblocktrans %}
                            
                            {% isprofile 'visitor' %}
                            <div>{% if user.profile|in:profile.fans.all %}
                                    <a href="{% url fo.visitor.remove_fan profile.user.pk %}" title="{% trans 'Stop being a fan' %}">[{% trans 'Stop being a fan' %}]</a>
                                 {% else %}
                                    <a href="{% url fo.visitor.add_fan profile.user.pk %}" title="{% trans 'Become a fan' %}">[{% trans 'Become a fan' %}]</a>
                                 {% endif %}
                            </div>
                            {% endisprofile %}
                        </td>
                    </tr>
                    <tr class="emptyRow">
                        <th>&nbsp;</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% trans 'Social networks' %}</th>
                        <td>
                            <ul class="socialNetwork">
                                {% for connection in profile.connections.all %}
                                <li>
                                    <a class="{{ connection.type }}" href="{{ connection.url }}" title="{{ connection.description }}">{{ connection.type }}</a>
                                </li>
                                {% empty %}
                                <li>
                                    <a>{% trans 'N.A.' %}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
                <div class="popularityMeter">
                    <div class="meterContainer">
                        <img alt="{% trans 'Popularity meter' %}" src="{{ STATIC_URL }}frontoffice/img/popularityMeter.gif" class="meter"/>
                        <div class="meterActiveContainer" style="height: {{ popularity|default:0 }}%">
                            <img class="meterActive" alt="{{ popularity|default:0 }}" src="{{ STATIC_URL }}frontoffice/img/popularityMeterActive.gif" />
                        </div>
                    </div>
                    <span class="top">100%</span>
                    <span class="bottom">0%</span>
                    <span class="total">{{ popularity|default:0 }}%</span>
                </div>
            </div>
            <div class="ballotPosition">
                <a href="{% url fo.election profile.party.id %}">
                {% blocktrans with profile.first_name as name and profile.position as position and profile.party.abbreviation as party and profile.region as region %}
                    {{ name }} is  number {{ position }} on the election list of {{ party }} in {{ region }}
                {% endblocktrans %}
                </a>
            </div>
        </div>
    </div>

    

    <!-- FAVORITE TAB -->

    {% ifequal showtab "favs" %}
        <div class="mod tabbed favs">
        	<div class="hd">
            	<!-- TABS -->
                <ul class="tabs">
                    <li {% ifequal showtab "favs" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'favs' %}">
                            {% trans 'Favorites and preferences' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "edu" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'edu' %}">
                            {% trans 'Education' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "work" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'work' %}">
                            {% trans 'Work' %}
                        </a>
                    </li>
                    <li {% ifequal showtab "exp" %}class="selected"{% endifequal %}>
                        <a href="{% url fo.politician_profile profile.user.pk 'exp' %}">
                            {% trans 'Political experience' %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bd">
                <table>                
                    <tr>
                        <th>{% trans 'Religion' %}</th>
                        <td>{{ profile.get_religion_display }}<br/>
							{{ profile.religious_group|default:'' }}
						</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Smoker' %}</th>
                        <td>{% if profile.smoker %}{% trans 'smoker' %}{% else %}{% trans 'non-smoker' %}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Diet' %}</th>
                        <td>{{ profile.get_diet_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'News' %}</th>
                        <td>{{ profile.get_fav_news_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Media' %}</th>
                        <td>{{ profile.get_fav_media_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Charities' %}</th>
                        <td>{{ profile.charity|default:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Transport' %}</th>
                        <td>{{ profile.get_transport_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Animal' %}</th>
                        <td>{{ profile.get_fav_pet_display }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Sport' %}</th>
                        <td>{{ profile.fav_sport|default:'' }}</td>
                    </tr>
                    <tr class="last">
                        <th>{% trans 'Club' %}</th>
                        <td>{{ profile.fav_club|default:'' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endifequal %}

    <!-- EDUCATION TAB -->

    {% ifequal showtab "edu" %}
        <div class="mod edu">
            <div class="bd">
                {% for education in profile.education.all %}
                    <h1>{{ education.field }}</h1>
                    <div>
                        {{ education.description }}
                    </div>
                    <div class="info">
                        <p>{% trans 'At' %}: {{ education.institute }}</p>
                        <p>{% trans 'Level' %}: {{ education.level }}</p>
                        <p>{% trans 'From' %}: {{ education.startdate|date:"F Y" }}</p>
                        {% if education.enddate %}<p>{% trans 'To' %}: {{ education.enddate|date:"F Y" }}</p>{% endif %}
                    </div>
                {% empty %}
                    <div>
                        {% blocktrans with profile.first_name as name %}
                            {{ name }}  has not filled in any educations
                        {% endblocktrans %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endifequal %}

    <!-- WORK TAB -->

    {% ifequal showtab "work" %}
        <div class="mod wor">
            <div class="bd">
                {% for work in profile.work.all %}
                    <h1>{{ work.position }}</h1>
                    <div>
                        {{ work.description }}
                    </div>
                    <div class="info">
                        <p>{% trans 'At' %}: {{ work.company_name }}</p>
                        <p>{% trans 'Sector' %}: {{ work.sector }}</p>
                        <p>{% trans 'From' %}: {{ work.startdate|date:"F Y" }}</p>
                        {% if work.enddate %}<p>{% trans 'To' %}: {{ work.enddate|date:"F Y" }}</p>{% endif %}
                    </div>
                {% empty %}
                    <div>
                        {% blocktrans with profile.first_name as name %}
                            {{ name }}  has not filled in any work experience
                        {% endblocktrans %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endifequal %}

    <!-- POLITICAL EXPERIENCE TAB -->

    {% ifequal showtab "exp" %}
        <div class="mod exp">
            <div class="bd">
                {% for experience in profile.political.all %}
                    <h1>{{ experience.position }}</h1>
                    <div>
                        {{ experience.description }}
                    </div>
                    <div class="info">
                        <p>{% trans 'At' %}: {{ experience.organisation }}</p>
                        <p>{% trans 'Type' %}: {{ experience.type }}</p>
                        <p>{% trans 'From' %}: {{ experience.startdate|date:"F Y" }}</p>
                        {% if experience.enddate %}<p>{% trans 'To' %}: {{ experience.enddate|date:"F Y" }}</p>{% endif %}
                    </div>
                {% empty %}
                    <div>
                        {% blocktrans with profile.first_name as name %}
                            {{ name }} has not filled in any political experience
                        {% endblocktrans %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endifequal %}

    <!-- TWITTER -->
    
    {% if twitter_url %}
        <div class="col size1of3">
            <h1>{{ profile.first_name|possessive }} Tweets</h1>
            <div class="mod tweets">
                <div class="bd">
                    {% pull_feed twitter_url %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- YOUTUBE -->
    
    {% if profile.movie %}
        <div class="col size2of3">
            <h1>{{ profile.first_name|possessive }} video</h1>
            <div class="mod video">
                <div class="bd">
                    {{ profile.movie|youtube }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

<!-- SIDEBAR -->

{% block sidebar %}
    {% if profile.goals.all %}
        <h1>{% trans 'Political goals' %}</h1>
        <div class="mod goals">
            <div class="bd">
                <ul class="quickList">
                    {% for goal in profile.goals.all %}
                        <li>
                            <b>{{ goal.goal }}</b>
                            {% get_comment_count for goal as comment_count %}
                            <a href="{% url fo.goal goal.id %}">{{ comment_count }} {% blocktrans count comment_count as counter %}Comment{% plural %}Comments{% endblocktrans %}</a>
                            {% if user.is_authenticated %}- <a href="{% url fo.goal goal.id %}">{% trans 'Comment' %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if profile.appearances.all %}
        <h1>{% trans 'Appearances' %}</h1>
        <div class="mod appearances">
            <div class="bd">
                <ul class="quickList">
                    {% for appearance in profile.appearances.all %}
                        <li>
                            <a href="{{ appearance.url }}">
                                <span class="date">
                                    <span class="day">{{ appearance.datetime|date:"d" }}</span>
                                    <span class="month">{{ appearance.datetime|date:"M" }}</span>
                                </span>
                                <span class="info">
                                    <b>{{ appearance.name }}</b>
                                    {{ appearance.description }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if profile.interests.all %}
        <h1>{% trans 'Interests' %}</h1>
        <div class="mod links">
            <div class="bd">
                <ul class="quickList">
                    {% for interest in profile.interests.all %}
                        <li>
                            <a href="{{ interest.url }}">{{ interest.organisation }}</a>
                            <p>{{ interest.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if profile.links.all %}
        <h1>{% trans 'Links' %}</h1>
        <div class="mod links">
            <div class="bd">
                <ul class="quickList">
                    {% for link in profile.links.all %}
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                            <p>{{ link.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock sidebar %}