{% load i18n %}
{% load comments %}
{% load utils_tags %}
{% load fo_tags %}
{% load thumbnail %}

<div class="mod quickProfile">
    <div class="hd">
        <h1>{{ profile.full_name }}</h1>
        <p class="note">{% if profile.profile_incomplete %} {% trans 'Note: This profile has not been completely filled in.' %}{% endif %}</p>

    </div>
    <div class="bd">
        <div class="container">
        	<div class="image">
            {% if profile.picture %}
                <img class="quickProfilePicture" alt="{{ profile.full_name }}" src="{% thumbnail profile.picture 140x210 upscale %}" />
            {% else %}
                <img class="quickProfilePicture" alt="{{ profile.full_name }}" src="{% thumbnail 'defaults/pol-dummy.jpg' 140x210 upscale %}" />
            {% endif %}
			</div>
            <table class="quickProfileInfo">
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <td>{{ profile.full_name }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Party' %}</th>
                    <td><a href="{% url fo.party_profile profile.party.id %}">
                    	{% if profile.party.logo %}
                    		<img src="{% thumbnail profile.party.logo 70x40 upscale %}" alt="{{ profile.party.name }}" title="{{ profile.party.name }}" /></a></td>
                		{% else %}
                    		<img src="{% thumbnail 'defaults/party-dummy.jpg' 70x40 upscale %}" alt="{{ profile.party.name }}" title="{{ profile.party.name }}" /></a></td>
						{% endif %}
                </tr>
                <tr>
                    <th>{% trans 'Age' %}</th>
                    <td>{{ profile.dateofbirth|age|default:_('Not known') }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Gender' %}</th>
                    <td>{{ profile.get_gender_display }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Marital status' %}</th>
                    <td>{{ profile.get_marital_status_display|default:_('Not known') }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Number of children' %}</th>
                    <td>{{ profile.num_children|default:_('Not known') }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Social networks' %}</th>
                    <td>
                        <ul class="socialNetwork">
                            {% for connection in profile.connections.all %}
                            <li>
                                <a class="social {{ connection.type|lower }}" href="{{ connection.url }}" title="{{ connection.type }}{% if connection.description %}: {{ connection.description }}{% endif %}">{{ connection.type }}</a>
                            </li>
                            {% empty %}
                            <li>-</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr class="fan">
                    <td colspan="2">
                        {% blocktrans with profile.first_name as name and profile.fans.count|default:0 as fans %}
                            {{ name }} has got {{ fans }} fans
                        {% endblocktrans %}

                        {% isprofile 'visitor' %}
                        <div>{% if user.profile|in:profile.fans.all %}
                                <a href="{% url fo.visitor.remove_fan profile.user.pk %}" title="{% trans 'Stop being a fan' %}">[{% trans 'Stop being a fan' %}]</a>
                             {% else %}
                                <a href="{% url fo.visitor.add_fan profile.user.pk %}" title="{% trans 'Become a fan' %}">[{% trans 'Become a fan' %}]</a>
                             {% endif %}
                        </div>
                        {% endisprofile %}
                    </td>
                </tr>
            </table>
            <div class="popularityMeter">
                <!--<div class="meter">
                    <div class="active" style="height: {{ popularity|default:0 }}%">
                    	{{ popularity|default:0 }}%
                    </div>
                </div>
                <span class="top">100%</span>
                <span class="bottom">0%</span>
                <span class="total">{{ popularity|default:0 }}%</span>-->
				<p class="empty">{% trans "Binnenkort vind je hier de populariteitsmeter." %}</p>
            </div>
        </div>
        <div class="ballotPosition">
        	<p>{{ profile.introduction|default:'' }}</p>
            <a href="{% url fo.election profile.party.id %}">
            {% blocktrans with profile.first_name as name and profile.position as position and profile.party.abbreviation as party and profile.region as region %}
                {{ name }} is  number {{ position }} on the election list of {{ party }} in {{ region }}
            {% endblocktrans %}
            </a>
        </div>
    </div>
</div>