/* 	General element styling
	*************************************************************************************************/
	
	html,body {
		margin:0;
		padding:0;
		}
	
	body {
		font-family:arial, Helvetica, sans-serif;
		font-size:14px;
		color:#777;
		background:#fff;
		}


	/* 	Content elements
		----------------------------------------------------------------------------------------- */

		h1 {
			font-size:2.8em;
			font-weight:normal;
			margin:0;
			padding:0;
			color:#000;
			}
		
		h2 {
			font-size:1.8em;
			font-weight:normal;
			line-height:1.2;
			margin:0 0 .5em;
			color:#777;
			}
			.wizard h2 {
				margin-top:0;
				}
		
		h3 {
			font-size:1.2em;
			font-weight:bold;
			margin:1em 0 .6em;
			color:#ed2227;
			}
			.sidebar h3 {
				color:#777;
				margin:0 0 .2em;
				}
			fieldset h3 {
				color:#000;
				margin:0 0 .2em;
				}
		
		p {
			line-height:1.4em;
			margin-bottom:.5em;
			}
		
		a {
			color:#777;
			text-decoration:underline;
			}
			a:hover {
				text-decoration:none;
				}
		a.btn {
			background-color:#ccc;
			padding:5px;
            display:block;
            float:left;
			margin:0 0 .5em;
			text-decoration:none;
			border:2px solid #ccc;
			color:#000;
			}
			a.btn:hover {
				background-color:#b9b9b9;
				}
			.sidebar a.btn {
				width:186px;
				font-weight:bold;
				text-transform:uppercase;
				}
		a.add {
			background-image:url(../img/add.png);
			background-position:4px center;
			background-repeat:no-repeat;
			padding-left:16px;
			}
		a.add-batch {
			background-image:url(../img/spreadsheet.gif);
			background-position:4px center;
			background-repeat:no-repeat;
			padding-left:24px;
			}

		.sidebar a.edit {
			position:absolute;
			top:0;
			right:0;
			font-size:.8em;
			font-weight:bold;
			color:#ed2227;
			padding-top:.3em;
			}
		strong {
			font-weight:bold;
			}
		em {
			font-style:italic;
			}
			
		dl {
			overflow:hidden;_zoom:1;
			
			margin:1em 0;
			}
			dt {
				font-size:11px;
				padding-right:.5em;
				font-weight:bold;
				}
			dd {
				margin-bottom:.5em;
				}

/* 	Form styling
	*************************************************************************************************/
		
	form {

		}
		input,
		textarea,
		select {
			border:1px solid #aaa;
			padding:5px;
			width:448px;
			font-size:1.2em;
			}
		select {
			width:460px;
			}
		textarea {
			height:100px;
			}
		.radioselect input,
		.checkboxselectmultiple input {
			border:0;
			padding:0;
			width:auto;
			}
		.small input {
			width:50px;
			}
		label,
		p.label {
			display:block;
			color:#000000;
			font-weight:bold;
			margin-bottom:2px;
			
			}
		span.optional, 
		span.note {
			font-size:0.8em;
			color:#aaa;
			font-weight:normal;
			}

		.description {
			margin-bottom:1em;
			}

		div.field, 
		div.multi-field {
			overflow:hidden;_zoom:1;
			margin-bottom:1em;
			}
			
			div.help {
			
				}
				div.help p {
					margin-bottom:.2em;
					}
			
			div.errors {
				text-align:right;
				color:#ed2227;
				}
		
			p.error {
				color:#ed2227;
				}
				
			div.error input,
			div.error select,
			div.error textarea {
				border-color:#ed2227;
				background:#fee;
				}
		
		/* 	Multi-fields
			----------------------------------------------------------------------------------------- */
		
			div.field div.field label {
				font-weight:normal;
				}
			
		
		/* 	checkbox
			----------------------------------------------------------------------------------------- */
			div.checkboxselectmultiple {
			
				}
				div.checkboxselectmultiple ul {
					margin-top:.5em;
					}
				div.checkboxselectmultiple label {
					margin-bottom:5px;
					font-weight:normal;
					}
				div.checkboxselectmultiple input {
					margin: 2px 5px 0 0;
					display:block;
					float:left;
					}
		
		/* 	radio
			----------------------------------------------------------------------------------------- */
			div.radioselect {
			
				}
				div.radioselect ul {
					margin-top:.5em;
					}
				div.radioselect label {
					font-weight:normal;
					margin-bottom:5px;
					}
				div.radioselect input {
					margin: 2px 5px 0 0;
					display:block;
					float:left;
					}
					

					/*div.male {
						clear:left;
						float:left;
						display:block;
						margin: 5px 20px 0 10px;
						}
					
					div.female {
						float:left;
						display:block;
						margin:5px 0 0 0;
						}*/

		/* 	subforms
			----------------------------------------------------------------------------------------- */
	
			.sub-form {
				margin-bottom:10px;
				background:#E0E0E0;
				color:#000000;
				overflow:hidden;_zoom:1;
				padding:10px 10px 0;
				}
				.sub-form  label {
					color:#000000;
					}
				.sub-form h2 {
					color:#000000;
					margin:0 0 10px;
					}
				.sub-form input,
				.sub-form textarea {
					width:428px;
					}
				.sub-form select {
					width:440px;
					}
				.sub-form .radioselect input,
				.sub-form .checkboxselectmultiple input {
					width:auto;
					}
					
			.invite {
				background-image:url(../img/invite.png);
				background-position:10px 14px;
				background-repeat:no-repeat;
				}
				.invite h3,
				.invite .description {
					padding-left:60px;
					}
				


		/* 	form submit
			----------------------------------------------------------------------------------------- */
		
			div.form-submit {
				overflow:hidden;_zoom:1;
				margin-top:10px;
                position:relative;
                clear:both;
				}
				div.form-submit a {
					float: left;
					color:#000;
					display:block;
					padding:3px 5px;
					}

                                div.form-submit a.btn {
                                    margin-left:10px;
                                }

				div.form-submit a.cancel {
					background: url(../img/cancel.png) no-repeat 0px center;
					padding-left:20px;
                    line-height:25px;
                    float:left;
					}	
				div.form-submit button {
					float: right;
					border:none;
					display:block;
					margin:0 0 10px 10px;
					cursor: pointer;
					background-color:#cccccc;
					width:auto;
					overflow:visible;
					padding:5px;
					border:2px solid #ccc;
					}
					
					div.form-submit button:hover {
						background-color:#b9b9b9;
						}
						
				div.form-submit button.primary,
				div.form-submit a.primary {
					border-color:#666;
					font-weight:bold;
					}
			
				div.form-submit button.prev,
                a.prev {
					background: #ccc url(../img/prev.png) no-repeat 5px 5px;
					padding-left: 20px;
					}
					
					div.form-submit a.prev {
					 	padding-left:25px;
					 }
					
					div.form-submit button.prev:hover,
                    a.prev:hover {
						background: #b9b9b9 url(../img/prev.png) no-repeat 5px 5px;
						}
			
				div.form-submit button.next,
                a.next {
					background: #ccc url(../img/next.png) no-repeat right;
					padding-right:25px;
					}
					
					 a.next {
					 	padding-right:25px;
					 }
					
					div.form-submit button.next:hover,
                    a.next:hover {
						background: #b9b9b9 url(../img/next.png) no-repeat right;
						}
		
		
			
	/* 	Custom Form Widget styling
		*************************************************************************************************/
		
		
		/* 	.namewidget
			----------------------------------------------------------------------------------------- */

			div.namewidget {
			
				}
			
				div.last-name {
					float:left;
					}
				div.first-name {
					clear:left;
					float:left;
					}
					div.last-name input,
					div.first-name input {
						width:280px;
						}
					.sub-form div.last-name input,
					.sub-form div.first-name input {
						width:270px;
						}
				div.middle-name {
					float:right;
					}
					div.middle-name input {
						float:right;
						width: 140px;
						}
					.sub-form div.middle-name input {
						width:135px;
						}
				
				div.initials {
					float:right;
					}
					div.initials input {
						width:70px;
						}	
	
		/* 	.addresswidget
			----------------------------------------------------------------------------------------- */
		
			div.addresswidget {
			
				}
				div.street {
					float:left;
					}
					div.street input {
						width:360px;
						}
				div.number {
					float:right;
					}
					div.number input {
						width:60px;
						}
				div.postcode {
					float:left;
					clear:left;
					}
					div.postcode input {
						width:100px;
						}
				div.city {
					float:right;
					}
					div.city input {
						width:320px;
						}
		
	/*	generic styling
		**************************************************************************************************************/
		
		#container {
			width:960px;
			margin:10px auto 20px;
			}
			
		
		.wkj {
			float:right;
			width:160px;
			height:55px;
			margin-top:10px;
			text-indent:-9999em;
			background:url(../img/wkj-logo.png) 0 0 no-repeat;
			}
			
		.mod {
			border-bottom:2px solid #ddd;
			padding-bottom:10px;
			position:relative;
			}
			
	/*	#header
		**************************************************************************************************************/
		
		#header {
			margin:0 10px 10px;
			padding:20px 0 .5em;
			overflow:hidden;_zoom:1;
			border-bottom:4px solid #e0e0e0;
			position:relative;
			}
			
		.user-info {
			position:absolute;
			right:0;
			top:0;
			font-size:.8em;
			color:#aaa;
			}
			.user-info a {
				color:#aaa;
				}
			
		.nav-breadcrumbs {
			
			}
			.nav-breadcrumbs {
				list-style:none;
				font-size:1.2em;
				font-weight:bold;
				}
			.nav-breadcrumbs li {
				list-style:none;
				display:inline;
				background:url(../img/breadcrumb.png) center right no-repeat;
				padding:0 16px 0 0;
				}
			.nav-breadcrumbs a {
				color:#ed2227;
				}
	
		div.messages {
			background:#FFF9CE;
			border-bottom:none;
			padding:10px;
			border-style:solid;
			border-color:#FFD016;
			border-width:1px 0 1px 0;
			margin-bottom:2em;
			}
			div.messages h2 {
				margin:0;
				}
			div.messages .message-list {
				padding-left:0;
				}


	/*	#wizard
		**************************************************************************************************************/
	
		#wizardSteps {
			border-bottom:4px solid #E0E0E0;
			list-style:none;
			margin:-5px 10px 0;
			overflow:hidden;_zoom:1;
			padding:0;
			}
            #wizardSteps li {
				float:left;
				padding:0 5px 5px 0;
				/*background: url(../img/breadcrumb.png) no-repeat right center;
				margin-right:5px;
				padding:0 15px 5px 0;*/
				}
			#wizardSteps li.last {
				background:none;
				margin-right:0;
				padding-right:0;
				}
				#wizardSteps li a,
				#wizardSteps li span.future {
					background:#E0E0E0;
					display:block;
					float:left;
					font-size:0.9em;
					height:37px;
					padding:1px 15px 5px;
					text-align:center;
					text-decoration:none;
					min-width:75px;
					}
				#wizardSteps li a.active {
					background:#B9B9B9;
					color:#000000;
					font-weight:bold;
					}
				#wizardSteps li a.history:hover {
					background:#cccccc;
					}
					#wizardSteps li a.active span.number,
					#wizardSteps li a.history span.number {
						color:#ED2227;
						}
				#wizardSteps li span.future {
					background:#ECECEC;
					color:#AAAAAA;
					cursor:default;
					}
				#wizardSteps li span.number {
					display:block;
					font-size:1.4em;
					font-weight:bold;
					text-align:center
					}

	
	/*	.partylist
		**************************************************************************************************************/
		
		div.overview .btn {
			float:right;
			}
		
		div.item {
			padding:10px;
			margin:20px 0;
			background:#fff;
			border-style:solid;
			border-color:#d0d0d0 #ccc #ccc #d0d0d0;
			border-width:1px 6px 6px 1px;
			position:relative;
			min-height:55px;
			overflow:hidden;_zoom:1;
			clear:both;
			}
			div.item h3 {
				margin:0 0 .1em;
				position:relative;
				}
			div.item span.list {
				float:left;
				text-transform:uppercase;
				color:#aaa;
				display:block;
				width:55px;
				height:35px;
				margin:0 10px 0 0;
				padding:10px 0;
				line-height:1.3em;
				text-align:center;
				background:#fff url(../img/lijst.png) 0 0 no-repeat;
				}	
				div.item span.list strong {
					display:block;
					font-size:24px;
					font-weight:bold;
					}
			div.item .manage {
				position:absolute;
				right:10px;
				top:10px;
				background:url(../img/arrow-right-black.png) right 5px no-repeat;
				padding-right:10px;
				font-weight:bold;
				color:#000;
				}	
			div.item .delete {
				position:absolute;
				right:10px;
				bottom:10px;
				background:url(../img/delete.png) right 5px no-repeat;
				padding-left:10px;
				font-weight:bold;
				color:#ed2227;
				}
				
			div.item .add-item {
				color:#000;
				}
			
			div.item ul.quicklinks {
				float:right;
				font-size:.8em;
				text-align:right;
				padding:0 10px 10px 30px;
				}
	
			
				
			.message-list {
				/*clear:both;*/
				/*background:#fee;*//*#FFF9CE;*/
				padding-left:65px;
				}
				.message-list li {
					margin:6px 0;
					background:url(../img/arrow-right-grey.png) 0 .4em no-repeat;
					padding-left:10px;
					line-height:1.4em;
					
					}
				.message-list li,
				.message-list li a {
					color:#000;
					}
				.message-list li.overdue {
					background-image:url(../img/arrow-right.png);
					
					}
				.message-list li.overdue,
				.message-list li.overdue a {
					color:#eb2227;
					}
				.message-list li.overdue a.act {
					font-weight:bold;
					background-image:url(../img/arrow-right.png);
					}
				.message-list li.overdue .duedate {
					color:#000;
					}
				.message-list .info {
					font-size:.8em;
					font-weight:normal;
					color:#999;
					line-height:1.2em;
					display:none;
					}
				.duedate,
				.more-info {
					
					}
				.message-list li.overdue .info a {
					color:#000;
					}
				.act {
					background:url(../img/arrow-right-grey.png) right .3em no-repeat;
					padding-right:10px;
					font-weight:bold;
					}
					.sidebar .act {
						font-weight:normal;
						color:#ed2227;
						}
					
				.back {
					background:url(../img/arrow-left-grey.png) 0 .4em no-repeat;
					padding-left:10px;
					}
				div.move {
					clear:both;
					overflow:hidden;_zoom:1;
					}	
					.move-up,
					.move-down {
						display:block;
						width:25px;
						height:12px;
						text-indent:-9999em;
						float:left;
						}	
					.move-up {
						background:url(../img/bigarrow-up-lightgrey.png) center no-repeat;
						}
					.move-down {
						background:url(../img/bigarrow-down-lightgrey.png) center no-repeat;
						}
						
		div.add-slot {
			min-height:0;
			}
			div.add-slot .add {
				padding-left:20px;
				font-weight:bold;
				font-size:1.2em;
				color:#ed2227;
				}
				
		div.events {
			min-height:600px;
			}

	/*	Sidebar
		**************************************************************************************************************/

		.sidebar .mod {
			background:#e0e0e0;
			padding:10px;
			border-style:solid;
			border-color:#ccc;
			border-width:1px 6px 6px 1px;
			}
		.sidebar a.edit {
			right:10px;
			top:5px;
			}
		
		
		.sidebar div.user-contact {
			background:#fff;
			padding:10px;
			border:none;
			}
			div.user-contact p {
				margin:0;
				}
			div.user-contact a.edit {
				right:10px;
				top:10px;
				}

		.sidebar .start-btn {
			padding:0;
			border:none;
			}
			.start-btn a.btn {
				width:193px;
				margin:0;
				background:#ccc;
				border-style:solid;
				border-color:#aaa;
				padding:10px;
				border-width:1px 6px 6px 1px;
				color:#000;
				}
				.start-btn a.btn:hover {
					background:#aaa;
					border-color:#666;
					}



	/*	Utils (Colorpicker & Datepicker)
		**************************************************************************************************************/

		.time-picker select.combo {
			margin:5px 5px 0 0;
			width:150px;
			}
			
			.time-picker select.seccombo {
				margin-right:0;
			}
			
			input.colorpicker_inputfield {
				width:79px;
			}
			
			.cp_preview {
				margin:/*-26px 0 0 65px*/0 0 -20px 0;
				position:relative;
				top:-27px;
				left:64px;
				border: 1px solid #AAAAAA;
			}