/* 	General element styling
	*************************************************************************************************/
	
	html,body {
		margin:0;
		padding:0;
		}
	
	body {
		font-family:arial, Helvetica, sans-serif;
		font-size:14px;
		color:#777;
		background:#fff;
		}


	/* 	Content elements
		----------------------------------------------------------------------------------------- */

		h1 {
			font-size:2.8em;
			font-weight:normal;
			margin:0;
			padding:0;
			color:#000;
			}
		
		h2 {
			font-size:1.8em;
			font-weight:normal;
			line-height:1.2;
			margin:0 0 .5em;
			color:#777;
			}
			.wizard h2 {
				margin-top:0;
				}
		
		h3 {
			font-size:1.2em;
			font-weight:bold;
			margin:1em 0 .6em;
			color:#ed2227;
			}
			.sidebar h3 {
				color:#777;
				margin:0 0 .2em;
				}
			fieldset h3 {
				color:#000;
				margin:0 0 .2em;
				}
		
		p {
			line-height:1.4em;
			margin-bottom:.5em;
			}
			p.empty {
				text-align:center;
				font-style:italic;
				margin:20px 0;
				}
		
		a {
			color:#777;
			text-decoration:underline;
			}
			a:hover {
				text-decoration:none;
				}
		a.btn {
			background-color:#ccc;
			padding:5px;
            display:block;
            float:left;
			margin:0 0 .5em;
			text-decoration:none;
			border:2px solid #ccc;
			color:#000;
			}
			a.btn:hover {
				background-color:#b9b9b9;
				}
			.sidebar a.btn {
				width:186px;
				font-weight:bold;
				text-transform:uppercase;
				}
		a.add {
			background-image:url(../img/add.png);
			background-position:4px center;
			background-repeat:no-repeat;
			padding-left:16px;
			}
		a.add-batch {
			background-image:url(../img/spreadsheet.gif);
			background-position:4px center;
			background-repeat:no-repeat;
			padding-left:24px;
			}
		a.download {
			background-image:url(../img/download.png);
			background-position:4px center;
			background-repeat:no-repeat;
			padding-left:24px;
			}

		.sidebar a.edit {
			position:absolute;
			top:0;
			right:0;
			font-size:.8em;
			font-weight:bold;
			color:#ed2227;
			padding-top:.3em;
			}
		strong {
			font-weight:bold;
			}
		em {
			font-style:italic;
			}
		ul {
			list-style:none;
			}
		li {
			display:block;_zoom:1;
			}
		dl {
			overflow:hidden;_zoom:1;
			margin:1em 0;
			}
			.sidebar dl {
				margin:.5em 0 -.5em;
				}
			dt {
				font-size:11px;
				padding-right:.5em;
				font-weight:bold;
				}
			dd {
				margin-bottom:.5em;
				}
		div.image {
			margin:10px 0;
			}
			div.image img {
				display:block;
				margin:0 0 10px;
				}
			div.image em {
				}

	table {
		margin-bottom:10px;
		}	
		th,
		td {
			padding:5px;
			vertical-align:top;
			border-bottom:1px solid #e0e0e0;
			}
		th {
			font-weight:bold;
			}
		td {
		
			}

/* 	Form styling
	*************************************************************************************************/
		
	form {

		}
		.form-help {
			/*float:right;*/
			}
		input,
		textarea,
		select {
			border:1px solid #aaa;
			padding:5px;
			width:448px;
			font-size:1.2em;
			}
		select {
			width:460px;
			padding:4px;
			}
		textarea {
			height:100px;
			}
		.radioselect input,
		.checkboxselectmultiple input {
			border:0;
			padding:0;
			width:auto;
			}
		.small input {
			width:50px;
			}
		label,
		p.label {
			display:block;
			color:#000000;
			font-weight:bold;
			margin-bottom:2px;
			
			}
		span.optional, 
		span.note {
			font-size:0.8em;
			color:#aaa;
			font-weight:normal;
			}

		.description {
			margin-bottom:1em;
			}

		div.field, 
		div.multi-field {
			overflow:hidden;_zoom:1;
			margin-bottom:1em;
			position:relative;
			}
			
			div.help {
				position:relative;
				}
				div.help p {
					margin-bottom:.2em;
					}
			
			div.errors {
				text-align:left;
				color:#ed2227;
				clear:both;
				}
		
			p.error {
				color:#ed2227;
				}
				
			div.error input,
			div.error select,
			div.error textarea {
				border-color:#ed2227;
				background:#fee;
				}
			
			div.form-help {
				padding:10px 10px 10px 44px;
				background:#e0e0e0 url(../img/info.png) 10px 10px no-repeat;
				}
						
		/* 	Multi-fields
			----------------------------------------------------------------------------------------- */
		
			div.field div.field label {
				font-weight:normal;
				}
			
		
		/* 	checkbox
			----------------------------------------------------------------------------------------- */
			div.checkboxselectmultiple {
			
				}
				div.checkboxselectmultiple ul {
					margin-top:.5em;
					}
				div.checkboxselectmultiple label {
					margin-bottom:5px;
					font-weight:normal;
					}
				div.checkboxselectmultiple input {
					margin: 2px 5px 0 0;
					display:block;
					float:left;
					}
					
			input.checkboxinput {
				width:auto;
				border:none;
				}
				
			div.checkboxinput {
				position:relative;
				}
				div.checkboxinput label {
					font-weight:normal;
					padding-left:20px;
					}
				div.checkboxinput input {
					margin-left:-20px;
					}
		
		/* 	radio
			----------------------------------------------------------------------------------------- */
			div.radioselect {
			
				}
				div.radioselect ul {
					margin-top:.5em;
					}
				div.radioselect label {
					font-weight:normal;
					margin-bottom:5px;
					line-height:1.2em;
					}
				div.radioselect input {
					margin:2px 5px 0 0;
					padding:0;
					display:block;
					float:left;
					}
					

					/*div.male {
						clear:left;
						float:left;
						display:block;
						margin: 5px 20px 0 10px;
						}
					
					div.female {
						float:left;
						display:block;
						margin:5px 0 0 0;
						}*/

		/* 	subforms
			----------------------------------------------------------------------------------------- */
	
			.sub-form {
				margin-bottom:10px;
				background:#E0E0E0;
				color:#000000;
				overflow:hidden;_zoom:1;
				padding:10px 10px 0;
				}
				.sub-form  label {
					color:#000000;
					}
				.sub-form h2 {
					color:#000000;
					margin:0 0 10px;
					}
				.sub-form input,
				.sub-form textarea {
					width:428px;
					}
				.sub-form select {
					width:440px;
					}
				.sub-form .radioselect input,
				.sub-form .checkboxselectmultiple input {
					width:auto;
					}
					
			.invite {
				background-image:url(../img/invite.png);
				background-position:10px 14px;
				background-repeat:no-repeat;
				}
				.invite h3,
				.invite .description {
					padding-left:60px;
					}
				


		/* 	form submit
			----------------------------------------------------------------------------------------- */
		
			div.form-submit {
				overflow:hidden;_zoom:1;
				margin-top:10px;
                position:relative;
                clear:both;
				}
				div.form-submit a {
					float: left;
					color:#000;
					display:block;
					padding:3px 5px;
					margin-bottom:10px;
					line-height:26px;
					}

                                div.form-submit a.btn {
                                    margin-left:10px;
									float:right;
									padding:5px 8px;
									line-height:18px;
                                }

				div.form-submit a.cancel {
					background: url(../img/cancel.png) no-repeat 0px center;
					padding-left:20px;
					}	
				div.form-submit button {
					float: right;
					border:none;
					display:block;
					margin:0 0 10px 10px;
					cursor: pointer;
					background-color:#cccccc;
					width:auto;
					overflow:visible;
					padding:5px;
					border:2px solid #ccc;
					}
					
					div.form-submit button:hover {
						background-color:#b9b9b9;
						}
					div.form-submit a.button {
						border:2px solid #ccc;
						text-decoration: none;
						}
				div.form-submit button.primary,
				div.form-submit a.primary {
					border-color:#666;
					font-weight:bold;
					}
			
				div.form-submit button.prev,
                a.prev {
					background: #ccc url(../img/prev.png) no-repeat left center;
					padding-left: 20px;
					}
					
					div.form-submit a.prev {
					 	padding-left:25px;
					 	}
					
					div.form-submit button.prev:hover,
                    a.prev:hover {
						background-color:#b9b9b9;
						}
			
				div.form-submit button.next,
                a.next {
					background: #ccc url(../img/next.png) no-repeat right center;
					padding-right:25px;
					}
					
					 a.next, div.form-submit a.next {
					 	padding-right:25px;
					 }
					
					div.form-submit button.next:hover,
                    a.next:hover {
						background-color: #b9b9b9;
						}
		
		
			
	/* 	Custom Form Widget styling
		*************************************************************************************************/
		
		
		/* 	.namewidget
			----------------------------------------------------------------------------------------- */

			div.namewidget {
			
				}
			
				div.last-name {
					float:left;
					width:292px;
					}
				div.first-name {
					clear:left;
					float:left;
					width:292px;
					}
					div.last-name input,
					div.first-name input {
						width:280px;
						}
					.sub-form div.last-name,
					.sub-form div.first-name {
						width:282px;
						}
					.sub-form div.last-name input,
					.sub-form div.first-name input {
						width:270px;
						}
				div.middle-name {
					float:right;
					width:152px;
					}
					div.middle-name input {
						float:right;
						width: 140px;
						}
					.sub-form div.middle-name {
						width:147px;
						}
					.sub-form div.middle-name input {
						width:135px;
						}
				
				div.initials {
					float:right;
					}
					div.initials input {
						width:70px;
						}	
	
		/* 	.addresswidget
			----------------------------------------------------------------------------------------- */
		
			div.addresswidget {
			
				}
				div.street {
					float:left;
					width:372px;
					}
					div.street input {
						width:360px;
						}
				div.number {
					float:right;
					width:72px;
					}
					div.number input {
						width:60px;
						}
				div.postcode {
					float:left;
					clear:left;
					width:112px;
					}
					div.postcode input {
						width:100px;
						}
				div.city {
					float:right;
					width:332px;
					}
					div.city input {
						width:320px;
						}
		
		
		/* 	date & time widgets
			----------------------------------------------------------------------------------------- */
			
			div.datetimepicker {
				
				}
				.date,
				.hours,
				.minutes,
				.seconds,
				.ap_pm {
					float:left;
					margin-right:10px;
					margin-top:5px;
					}
				.date input {
					width:150px;
					padding-left:24px;
					background:url(../img/calendar.png) 4px center no-repeat;
					cursor:pointer;
					}
				
				.hours select,
				.minutes select,
				.seconds select,
				.ap_pm select {
					width:70px;
					}
			
			
			div.dateselectpicker {
			
				}
				div.dateselectpicker .field {
					float:left;
					margin-right:15px;
					}
				.day select {
					width:60px;
					}	
				.month select {
					width:120px;
					}	
				.year select {
					width:80px;
					}
				
		
		/* 	colorpicker
			----------------------------------------------------------------------------------------- */
			
			input.colorpicker_inputfield {
				width:80px;
				padding-right:25px;
				cursor:pointer;
				}	
					
			.cp_preview {
				position:relative;
				top:-27px;
				left:85px;
				border: 1px solid #AAAAAA;
				margin-bottom:-20px;
				cursor:pointer;
				}
				
		/* 	image widget
			----------------------------------------------------------------------------------------- */
			
			.image-widget-image {
				margin-top:1em;
				}
			
			.image-field-clear {
				margin-top:1em;
				}
				.image-field-clear input.clearablefileinput {
					width:auto;
					border:none;
					margin:0 .5em 0 0;
					}
		
	/*	generic styling
		**************************************************************************************************************/
		
		#container {
			width:960px;
			margin:10px auto 20px;
			}
			
		
		.wkj {
			float:right;
			width:160px;
			height:55px;
			margin-top:10px;
			text-indent:-9999em;
			background:url(../img/wkj-logo.png) 0 0 no-repeat;
			}
		.col {
			overflow:hidden;_zoom:1;
			}	
			
		.mod {
			border-bottom:2px solid #ddd;
			padding-bottom:10px;
			position:relative;
			overflow:hidden;_zoom:1;
			}
			.error-message {
				border-bottom:none;
				}
			
	/*	#header
		**************************************************************************************************************/
		
		#header {
			margin:0 10px 10px;
			padding:20px 0 .5em;
			overflow:hidden;_zoom:1;
			border-bottom:4px solid #e0e0e0;
			position:relative;
			}
			
		.user-info {
			position:absolute;
			right:0;
			top:0;
			font-size:.8em;
			color:#aaa;
			}
			.user-info a {
				color:#aaa;
				}
			
		.nav-breadcrumbs {
			
			}
			.nav-breadcrumbs {
				list-style:none;
				font-size:1.2em;
				font-weight:bold;
				}
			.nav-breadcrumbs li {
				list-style:none;
				display:inline;
				background:url(../img/breadcrumb.png) center right no-repeat;
				padding:0 16px 0 0;
				}
			.nav-breadcrumbs a {
				color:#ed2227;
				}
	
		div.messages {
			background:#FFF9CE;
			border-bottom:none;
			padding:10px;
			border-style:solid;
			border-color:#FFD016;
			border-width:1px 0 1px 0;
			margin-bottom:2em;
			}
			div.messages h2 {
				margin:0;
				}
			div.messages .message-list {
				padding-left:0;
				}

	/*	#footer
		**************************************************************************************************************/
	
		#footer {
			margin:20px 10px 0;
			border-top: 4px solid #E0E0E0;
			padding:.5em 0 0;
			font-size:.8em;
			}

	/*	#wizard
		**************************************************************************************************************/
	
		#wizardSteps {
			border-bottom:4px solid #E0E0E0;
			list-style:none;
			margin:-5px 10px 0;
			overflow:hidden;_zoom:1;
			padding:0;
			}
            #wizardSteps li {
				float:left;
				padding:0 5px 5px 0;
				/*background: url(../img/breadcrumb.png) no-repeat right center;
				margin-right:5px;
				padding:0 15px 5px 0;*/
				}
			#wizardSteps li.last {
				background:none;
				margin-right:0;
				padding-right:0;
				}
				#wizardSteps li .history,
				#wizardSteps li .active,
				#wizardSteps li .future {
					background:#E0E0E0;
					display:block;
					float:left;
					font-size:0.9em;
					height:37px;
					padding:1px 15px 5px;
					text-align:center;
					text-decoration:none;
					min-width:75px;
					}
				#wizardSteps li .active {
					background:#B9B9B9;
					color:#000000;
					font-weight:bold;
					}
				#wizardSteps li a.history:hover {
					background:#cccccc;
					}
					#wizardSteps li .active span.number,
					#wizardSteps li .history span.number {
						color:#ED2227;
						}
				#wizardSteps li .future {
					background:#ECECEC;
					color:#AAAAAA;
					cursor:default;
					}
				#wizardSteps li span.number {
					display:block;
					font-size:1.4em;
					font-weight:bold;
					text-align:center
					}
				#wizardSteps li span.title {
					display:none;
					}
			
			
			
			
			
		#wizard-steps {
			border-bottom:4px solid #E0E0E0;
			list-style:none;
			margin:-5px 10px 0;
			overflow:hidden;_zoom:1;
			padding:0;
			}
            #wizard-steps li {
				float:left;
				padding:5px 5px 0;
				background:#e0e0e0;
				margin:0 5px 0 0;
				border-bottom:5px solid #fff;
				}
				#wizard-steps li ul {
					margin:0 -5px -5px;
					padding-bottom:5px;
					overflow:hidden;_zoom:1;
					background:#fff;
					border-top:4px solid #fff;
					clear:both;
					display:block;
					}
				#wizard-steps li li {
					background:#e0e0e0;
					width:1.6em;
					margin:0;
					padding:.1em 0;
					border-style:solid;
					border-color:#fff;
					border-width:0 4px 0 0;
					font-size:1.3em;
					text-align:center;
					float:left;display:inline;
					}
					
			#wizard-steps li.last {
				margin-right:-4px;
				}
			#wizard-steps li.no-steps ul {
				background:none;
				border:0;
				margin-top:9px;
				}	
				#wizard-steps li.no-steps li {
					border:0;
					}
				
			#wizard-steps .active {
				color:#fff;
				background:#ed2227;
				}
				#wizard-steps li .active {
					background:#000;
					color:#fff;
					}
			#wizard-steps .active2,
			#wizard-steps .active2 li {
				background:#ed2227;
				color:#fff;
				}
					
			#wizard-steps .future {
				background:#e0e0e0;
				color:#777;
				cursor:default;
				}
				#wizard-steps li .future {
					background:#e0e0e0;
					}
					
			#wizard-steps .history {
				color:#000;
				background:#e0e0e0;
				}
				#wizard-steps li .history {
					background:#ccc;
					}
				
			#wizard-steps .title {
				display:block;
				float:left;
				min-height:3em;_height:3em;
				padding-bottom:5px;
				}

	
	/*	Overview pages
		**************************************************************************************************************/
		
		div.overview .btn {
			float:right;
			}
		
		div.item {
			padding:10px;
			margin:20px 0;
			background:#fff;
			border-style:solid;
			border-color:#d0d0d0 #ccc #ccc #d0d0d0;
			border-width:1px 6px 6px 1px;
			position:relative;
			min-height:55px;
			overflow:hidden;_zoom:1;
			clear:both;
			}
			div.item h3 {
				margin:0 0 .1em;
				position:relative;
				}
			div.item span.list {
				float:left;
				text-transform:uppercase;
				color:#aaa;
				display:block;
				width:55px;
				height:35px;
				margin:0 10px 0 0;
				padding:10px 0;
				line-height:1.3em;
				text-align:center;
				background:#fff url(../img/lijst.png) 0 0 no-repeat;
				}	
				.candidates div.item span.list {
					height:21px;
					padding:17px 0;
					}
				div.item span.list strong {
					display:block;
					font-size:24px;
					font-weight:bold;
					}
					.candidates div.item span.list strong {
						font-size:32px;
						}
			div.item .manage {
				position:absolute;
				right:10px;
				top:10px;
				background:url(../img/arrow-right-black.png) right 5px no-repeat;
				padding-right:10px;
				font-weight:bold;
				color:#000;
				}	
			div.item .delete {
				position:absolute;
				right:10px;
				bottom:10px;
				padding-left:10px;
				font-weight:bold;
				color:#ed2227;
				}
				
			div.item .add-item {
				color:#000;
				}
			
			div.item ul.quicklinks {
				float:right;
				font-size:.8em;
				text-align:right;
				padding:0 10px 10px 30px;
				}
	
			
				
			.message-list {
			    /*background:#fee;*//*#FFF9CE;*/
				/*clear:both;*/
				margin-top: .5em;
				padding-left:115px;
				}
				.message-list li {
					margin:6px 0;
					background:url(../img/arrow-right-grey.png) 0 .4em no-repeat;
					padding-left:10px;
					line-height:1.4em;
					
					}
				.message-list li,
				.message-list li a {
					color:#000;
					}
				.message-list li.overdue {
					background-image:url(../img/arrow-right.png);
					
					}
				.message-list li.overdue,
				.message-list li.overdue a {
					color:#eb2227;
					}
				.message-list li.overdue a.act {
					font-weight:bold;
					background-image:url(../img/arrow-right.png);
					}
				.message-list li.overdue .duedate {
					color:#000;
					}
				.message-list .info {
					font-size:.8em;
					font-weight:normal;
					color:#999;
					line-height:1.2em;
					display:none;
					}
				.duedate,
				.more-info {
					
					}
				.message-list li.overdue .info a {
					color:#000;
					}
				.act {
					background:url(../img/arrow-right-grey.png) right .3em no-repeat;
					padding-right:10px;
					font-weight:bold;
					}
					.sidebar .act {
						font-weight:normal;
						color:#ed2227;
						}
					
				.back {
					background:url(../img/arrow-left-grey.png) 0 .4em no-repeat;
					padding-left:10px;
					}
				div.move {
					clear:both;
					overflow:hidden;_zoom:1;
					padding-top:5px;
					}	
					.move-up,
					.move-down {
						display:block;
						float:left;
						clear:both;
						padding-left:24px;
						color:#aaa;
						}
					a.move-up:hover,
					a.move-down:hover {
						color:#777;
						}
					.move-up {
						background:url(../img/bigarrow-up-lightgrey.png) left center no-repeat;
						}
					.move-down {
						background:url(../img/bigarrow-down-lightgrey.png) left center no-repeat;
						}
						
		div.add-slot {
			min-height:0;
			}
			div.add-slot .add {
				padding-left:20px;
				font-weight:bold;
				font-size:1.2em;
				color:#ed2227;
				}
				
		div.events {
			min-height:600px;
			}
			
		div.parties .item .image,
		div.candidates .item .image {
		    float: left;
		    height: 40px;
		    margin: 0 10px 0 0;
		    width: 70px;
		}
		div.candidates .item .image {
			height:55px;
			width:auto;
			}
		
		div.parties .message-list {
			clear:both;
			padding-left:65px;
			}
		

	/*	Politician wizard
		**************************************************************************************************************/
		
		.profile-item {
			border-bottom:1px solid #ccc;
			padding-bottom:10px;
			margin-bottom:10px;
			position:relative;
			}
			.profile-item p {
				margin:0;
				}
			.profile-item h3,
			.profile-item dl  {
				margin:0;
				padding-right:90px;
				}
			.profile-item dt {
				float:left;
				clear:left;
				font-size:.8em;
				margin:0;
				}
			.profile-item dd {
				float:left;
				font-size:.8em;
				margin:0;
				}
			.profile-item .url {
				font-size:.8em;
				color:#999;
				}
			.profile-item .info {
				font-size:.8em;
				color:#999;
				}
				.profile-item .info .url {
					font-size:1em;
					font-weight:bold;
					}
			.profile-item .quicklinks {
				float:right;
				position:absolute;
				top:0;
				right:0;
				text-align:right;
				font-size:.8em;
				}
			.profile-item .edit {
				font-weight:bold;
				}
				
			.add-item {
				font-size:1.1em;
				font-weight:bold;
				color:#ed2227;
				margin-bottom:1em;
				display:block;
				}
		
		.intro-movie {
			border:4px solid #e0e0e0;
			padding:0;
			margin-top:4em;
			}
	
	
	/*	Sidebar
		**************************************************************************************************************/

		.sidebar .mod {
			background:#e0e0e0;
			padding:10px;
			border-style:solid;
			border-color:#ccc;
			border-width:1px 6px 6px 1px;
			}
			
		.sidebar .bd {
			position:relative;
		}
		
		.sidebar a.edit {
			top:-3px;
			}
		
		
		.sidebar div.user-contact {
			background:#fff;
			padding:10px;
			border:none;
			}
			div.user-contact p {
				margin:0;
				}
			div.user-contact a.edit {
				right:10px;
				top:10px;
				}

		.sidebar .start-btn {
			padding:0;
			border:none;
			background:none;
			}
			.start-btn a.btn {
				width:193px;
				margin:0;
				background:#ccc;
				border-style:solid;
				border-color:#aaa;
				padding:10px;
				border-width:1px 6px 6px 1px;
				color:#000;
				float:none;
				}
				.start-btn a.btn:hover {
					background:#aaa;
					border-color:#666;
					}
			.start-btn p {
				margin:10px 0 2px;
				font-style:italic;
				text-align:center;
				}
				
		.btn-container {
			overflow:hidden;_zoom:1;
			margin:10px 0 20px;
			}