/* 	Specific styling for Internet Explorer 6 & 7
	*************************************************************************************************/

div.checkbox label input,
div.checkboxselectmultiple label input,
div.radioselect label input {
	margin-top:-1px;
	}
	
 {
	margin-top:-1px;
	}

div.form-submit button.prev {
	padding:6px 5px 4px 25px;
	}
	
div.form-submit button.next {
	padding:6px 25px 4px 5px;
	}

.nav-breadcrumbs li {
	_zoom:1;
	margin-right:5px;
	}