{% extends 'frontoffice/base.html' %}
{% load i18n utils_tags %}
{% block extrahead %}
	{% for form in forms.values %}
		{{ form.media }}
	{% endfor %}
{% endblock extrahead %}

{% block menu %}{% endblock menu %}
{% block bookmarks %}{% endblock bookmarks %}

{% block wizard-steps %}
    <ul id="wizardSteps">
        <li><a href="#" class="history"><span class="number">1</span>{% trans 'Registration' %}</a></li>
        <li><a href="#" class="history"><span class="number">2</span>{% trans 'Election' %}</a></li>
        <li><a href="#" class="active"><span class="number">3</span>{% trans 'Council blaat babbel' %}</a></li>
        <li class="last"><span class="future"><span class="number">4</span>{% trans 'Chancellery' %}</span></li>
    </ul>
{% endblock wizard-steps %}

{% block cols %}
	<div class="col size1of1">
	{% block content %}
        <div class="mod wizard">

            {% block help-message %}
            {% endblock help-message %}

        	<div class="bd">
                <ul id="wizardSteps">
					{% for q in questions %}
						<li class="{% ifcompare q current_question %}current{% smaller %}history{% bigger %}future{% endifcompare %}"><span>{{ q|add:"1" }}</span></li>
					{% endfor %}
                </ul>
                
                {% block step-header %}
                
                <h2 class="question">
                	{% block step_title %}{% trans 'Step Title' %}{% endblock step_title %}
                    
                    <a class="additionPlus" href="#">Toelichting</a>
                </h2>
                
                {% endblock step-header %}
                
                <div class="addition">
	                <h2>Toelichting op de vraag</h2>
                    <p>Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag. Toelichting op de vraag.</p>
                </div>
                
                <form method="post" action="" enctype="multipart/form-data">
                    <input type="hidden" name="{{ step_field }}" value="{{ step_path }}" />
                    {% block forms %}
                        {% for form in forms.values %}
                            {{ form.as_template }}
                        {% endfor %}
                    {% endblock forms %}
                    {{ previous_fields|safe }}

                    {% block buttons %}
                        <div class="form-submit">
                            <button type="submit" class="next primary">{% trans "Next" %}</button>
                        </div>
                    {% endblock buttons %}
                </form>
           	</div>
        </div>
    {% endblock content %}
   	</div>
{% endblock cols %}