{% extends 'invitations/base.html' %}
{% load i18n %}
{% block cols %}
<div class="col size1of2">
    <div class="mod">
    	<h2>Uw wachtwoord</h2>
    
    	<p>{% trans "Hier kunt u een wachtwoord voor Wiekiesjij instellen." %}</p>
        <p>{% trans "Om maximale veiligheid te garanderen adviseren wij u om een wachtwoord van minimaal 8 tekens en een combinatie van letters, cijfers, leestekens en hoofdletters te gebruiken. " %}</p>
    	
		<p>{% trans "Volgende keer kunt u inloggen met dit wachtwoord en het volgende e-mail adres:" %} <strong>{{ invitation.user_to.email }}</strong></a>
        <form action="" method="post" accept-charset="utf-8">
            {{ form.as_template }}
    
            <div class="form-submit">
                <button class="primary next" type="submit">{% trans "Wachtwoord opslaan" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock cols %}