{% extends 'invitations/base.html' %}

{% block content %}
<style>
	th {
		font-weight: bold;
		border-bottom: 1px solid #000;
		
	}
	td {
		padding: 10px;
	}
</style>
<div class="mod">
	<table>
		<tr>
			<th>Naam</th>
			<th>E-mail</th>
			<th>Type</th>
			<th>Verstuurd op</td>
			<th>Geaccepteerd?</th>
			<th>Ga naar</th>
		</tr>
		{% for invitation in invs %}
		<tr>
			<td>{{ invitation.user_to.profile.full_name|default:"Onbekend" }}</td>
			<td>{{ invitation.user_to.email }}</td>
			<td>
				{% ifequal invitation.type 'council_admin' %}Griffie{% endifequal %}
				{% ifequal invitation.type 'party_admin' %}Party contact{% endifequal %}
				{% ifequal invitation.type 'candidate' %}Politicus{% endifequal %}
			</td>
			<td>{{ invitation.send_on }}</td>
			<td>{% if invitation.accepted %}Ja{% else %}Nee{% endif %}</td>
			<td><a href="{% url invitations.index hash=invitation.hash %}">Klik</a></td>
		{% endfor %}
	</table>
</div>
{% endblock content %}