{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}active{% endblock %}
{% block step12 %}active{% endblock %}

{% block step_title %}{% trans "Add a new appearance" %}{% endblock step_title %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary" type="submit">{% trans 'Add' %}</button>
        <a href="{% url bo.politician_profile_appearance eip_id user_id %}" class="cancel">{% trans "Cancel" %}</a>
        <button class="primary prev" type="button" onclick="history.back();">{% trans 'Vorige stap' %}</button>
	</div>
{% endblock buttons %}


{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			Hier kunt u de evenementen waar u heeft en/of gaat optreden invullen. Links moet u de organiserende partij invullen, de locatie waar u heeft opgetreden en een eventuele link naar het evenement. Tot slot zouden wij u graag willen vragen om een korte beschrijving van het evenement en wanneer het heeft plaatsgevonden.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}