{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block step_title %}{% trans "Add a new social network" %}{% endblock step_title %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}active{% endblock %}
{% block step9 %}active{% endblock %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Save' %}</button>
        <a href="{% url bo.politician_profile_connection eip_id user_id %}" class="cancel">{% trans "Cancel" %}</a>
	</div>
{% endblock buttons %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			Hier kunt u de type connectie kiezen en toevoegen aan uw profiel. U moet ervoor zorgen dat u ingelogd bent op uw connectie wanneer u de URL kopieert naar Wiekiesjij. Hierdoor zullen de bezoekers direct naar uw profiel worden gelinkt in plaats van de algemene website van uw connectie. Uiteraard zal de bezoeker zelf niet ingelogd zijn op uw profiel.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}
