{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}active{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}active{% endblock %}

{% block content %}
<div class="mod">
    <h2>{% trans 'What are your interests?' %}</h2>
    <p>{% trans "Visitors of the website can see an overview of your interests " %}<p>


    {% for interest in interests %}
    <div class="profile-item interest">
        <h3>{{ interest.organisation }}</h3>
        <p class="info"><a href="{{ interest.url }}" target="_blank" class="url">{{ interest.url }}</a></p>
        <p>{{ interest.description }}</p>
    	<ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_interest_wizard_edit eip_id user_id interest.id %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url bo.politician_profile_interest_delete eip_id user_id interest.id  %}" class="delete">{% trans "Delete" %}</a></li>
        </ul>
    </div>
    {% empty %}
        <p class="empty">{%trans 'You have no interests entered yet' %} </p>
    {% endfor %}
    <a href="{% url bo.politician_profile_interest_wizard eip_id user_id %}" class="add add-item">{% trans "Add an interest" %}</a>
    
    <div class="form-submit">
    	<a href="{% url bo.politician_profile_link eip_id user_id %}" class="btn next primary">{% trans "Volgende stap" %}</a>
        <button class="primary prev" type="button" onclick="history.back();">{% trans 'Vorige stap' %}</button>
    </div>
    
</div>
{% endblock content %}
