{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}

{% block step_title %}{% trans "U als politicus" %}{% endblock step_title %}

{% block group0 %}history{% endblock %}
{% block group1 %}active{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}active{% endblock %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Volgende stap' %}</button>
        <button class="primary prev" type="button" onclick="warnBack();">{% trans 'Vorige stap' %}</button>
	</div>
{% endblock buttons %}