{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}



{% block group0 %}active2{% endblock %}

{% block cols %}
<div class="col size1of2">
    <div class="mod intro">        
        <h2>Welkom</h2>
		<p>Hartelijk dank voor uw deelname aan Wiekiesjij. U kunt hier uw profiel aanmaken voor de Wiekiesjij stemwijzer. Wiekiesjij is de voorkeurstemhulp van Nederland en is in de afgelopen verkiezingen meer dan een miljoen keer gebruikt door de Nederlandse kiezers. Door het invullen van uw profiel en het beantwoorden van een aantal vragen zijn wij in staat om de bezoekers te koppelen aan hun favoriete kandidaten.</p>
		<p>Het invullen van de vragenwizard zal ongeveer 45 minuten duren afhankelijk van de uitgebreidheid van de gegevens die u op uw profiel kwijt wil. U kunt altijd terugkeren naar deze wizard door naar <a href="{% url fo.login %}">www.wiekiesjij.nl/{% url fo.login %}</a> te gaan en uw e-mailadres en gekozen wachtwoord in te vullen.</p>
		<p>Heeft u een vraag over de invulwizard of over Wiekiesjij, stuur dan vooral een e-mail naar <a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a></p>
		<p>Veel succes met het invullen van de vragenwizard. Druk op ‘klik hier om de registratie te starten’ om met het invullen te beginnen.</p>
        <a href="{% url bo.politician_profile_setup eip_id user_id %}" class="btn next">Klik hier om de registratie te starten</a>
    </div>
</div>
<div class="col size1of2">
		
</div>
{% endblock cols %}