{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}



{% block group0 %}active2{% endblock %}

{% block cols %}
<div class="col size1of2">
    <div class="mod intro">        
        <h2>Welkom</h2>
		<p>Hartelijk dank voor uw deelname aan Wiekiesjij. U kunt hier uw profiel aanmaken voor de Wiekiesjij stemwijzer. Het invullen van de vragenwizard zal ongeveer 45 minuten duren afhankelijk van de uitgebreidheid van de gegevens die u op uw profiel kwijt wil.</p>
		<p>Belangrijk! Het profiel van Wiekiesjij bestaat uit verschillende onderdelen. Mocht u tijdens het invullen tijdelijk de website willen verlaten, zorgt u er dan wel voor dat u het onderdeel waarmee u bezig bent eerst helemaal afrondt.</p>
		
		<p>Veel succes met het invullen van de vragenwizard!</p>
		
		<p>U kunt altijd terugkeren naar deze wizard door naar <a href="{% url fo.login %}">www.wiekiesjij.nl/{% url fo.login %}</a> te gaan en uw e-mailadres en gekozen wachtwoord in te vullen. Heeft u een vraag over de invulwizard of over Wiekiesjij, stuur dan vooral een e-mail naar <a href="mailto:support@wiekiesjij.nl">support@wiekiesjij.nl</a>.</p>
		
        <a href="{% url bo.politician_profile_setup eip_id user_id %}" class="btn next">Klik hier om de registratie te starten</a>
    </div>
</div>
<div class="col size1of2">
		
</div>
{% endblock cols %}