{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'What events have you appeared at?' %}</h1>

<p>{% trans "Visitors of the website can see an overview of the events you appeared at " %}<p>
<h2>{%trans 'Events have you appeared' %} </h2>
{% for appearance in appearances %}
    <p><a href="{% url backoffice.politician_profile_appearance_wizard_edit election_instance_id user_id appearance.id %}">{{ appearance.name }}</a>: {{ appearance.url }}: {{ appearance.description }}</p>
{% empty %}
    <p>{%trans 'You have no appearances defined yet' %} </p>
{% endfor %}

<a href="{% url backoffice.politician_profile_link election_instance_id user_id %}">{% trans "< Previous " %}</a>
<a href="{% url backoffice.politician_profile_appearance_wizard election_instance_id user_id %}">{% trans "Click here to add an appearance" %}</a>
<a href="{% url backoffice.politician_profile_education election_instance_id user_id %}">{% trans "Next >" %}</a>

{% endblock content %}
