{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}active{% endblock %}
{% block step12 %}active{% endblock %}

{% block content %}
<div class="mod wizard">
    <h2>{% trans 'Bij welke evenementen heeft u en/of gaat u opgetreden?' %}</h2>

    {% for appearance in appearances %}
    <div class="profile-item appearance">
        <h3>{{ appearance.name }}</h3>
       	<p class="info"><strong>{% trans "Time" %}:</strong> {{ appearance.datetime|date:'D j F Y, G:i'|title }} | <strong>{% trans "Place" %}:</strong> {{ appearance.location }} | <a href="{{ appearance.url }}" target="_blank" class="url">{% trans "Website" %}</a></p>

        
        <p>{{ appearance.description }}</p>
        <ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_appearance_wizard_edit eip_id user_id appearance.id %}" class="edit">{% trans "Edit" %}</a></li>
        	<li><a href="{% url bo.politician_profile_appearance_delete eip_id user_id appearance.id  %}" class="delete">{% trans "Delete" %}</a></li>  
       	</ul>
   	</div>
    {% empty %}
        <p class="empty">{%trans 'You have no appearances defined yet' %} </p>
    {% endfor %}
	<a href="{% url bo.politician_profile_appearance_wizard eip_id user_id %}" class="add add-item">{% trans "Add a public appearance" %}</a>

	<div class="form-submit">
        <a href="{% url bo.answer_question eip_id user_id %}" class="btn next primary">{% trans "Volgende stap" %}</a>
	</div>
</div>
{% endblock content %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			Bezoekers van de website kunnen een overzicht zien van de evenementen waar u heeft en/of gaat opgetreden.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}