{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}active{% endblock %}
{% block step9 %}active{% endblock %}

{% block content %}
<div class="mod wizard">
    <h2>{% trans 'Social Networking' %}</h2>
    
    
    {% for connection in connections %}
    <div class="profile-item connection">
        <h3>{{ connection.type }}: {{ connection.url }}</h3>
        <p>{%trans 'Description of the connection' %}: {{ connection.description }}</p>
		<ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_connection_wizard_edit eip_id user_id connection.id %}" class="edit">{% trans "Edit" %}</a></li>
            <li><a href="{% url bo.politician_profile_connection_delete eip_id user_id connection.id  %}" class="delete">{% trans "Delete" %}</a></li>
        </ul>
    </div>
    {% empty %}
        <p class="empty">{%trans 'You have no connections defined yet' %} </p>
    {% endfor %}
    <a href="{% url bo.politician_profile_connection_wizard eip_id user_id %}" class="add add-item">{% trans "Add a connection" %}</a>
    
    <div class="form-submit">
    	<a href="{% url bo.politician_profile_link eip_id user_id %}" class="btn next primary">{% trans "Volgende stap" %}</a>
    </div>
</div>
{% endblock content %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			Visitors of the website can see an overview of the connections you enter.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}