{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}history{% endblock %}
{% block step12 %}history{% endblock %}

{% block content %}
<div class="mod">
	<p>{% trans 'Thank you for filling out your profile.' %}</p>
        <a href="{% url bo.answer_question eip_id user_id %}" class="btn next primary">{% trans "You can now answer questions for this election." %}</a>
</div>
{% endblock content %}