{% extends 'backoffice/base.html' %}
{% load i18n %}
{% block content %}
<div class="mod">
    <h1>{% trans 'What are your interests?' %}</h1>
    
    <p>{% trans "Visitors of the website can see an overview of your interests " %}<p>
    <h2>{%trans 'Interests' %} </h2>
    {% for interest in interests %}
        <h3><a href="{% url bo.politician_profile_interest_wizard_edit election_instance_id user_id interest.id %}">{{ interest.organization }}</a></h3>
        <p>{%trans 'Website of the interest' %}: {{ interest.url }}</p>
        <p>{%trans 'Description of the interest' %}: {{ interest.description }}</p>
        <p><a href="{% url bo.politician_profile_interest_delete election_instance_id user_id interest.id  %}">{% trans "Delete" %}</a></p>
    {% empty %}
        <p>{%trans 'You have no interests entered yet' %} </p>
    {% endfor %}
    
   <a href="{% url bo.politician_profile_work election_instance_id user_id %}">{% trans "< Previous " %}</a>
    <a href="{% url bo.politician_profile_interest_wizard election_instance_id user_id %}">{% trans "Click here to add an interest" %}</a>
    <a href="{% url bo.politician_profile_connection election_instance_id user_id %}">{% trans "Next >" %}</a>
</div>
{% endblock content %}
