{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}

{% block content %}
<div class="mod wizard">
    <h2>{% trans 'Links to interesting stuff' %}</h2>
    <p>{% trans "Visitors of the website can see an overview of the ... " %}</p>
    {% for link in links %}
    <div class="profile-item link">
        
        <h3>{{ link.name }}</h3>
        <a href="{{ link.url }}" target="_blank" class="url">{{ link.url }}</a>
        <p>{{ link.description }}</p>
        <ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_link_wizard_edit eip_id user_id link.id %}" class="edit">{% trans "Edit" %}</a></li>
       		<li><a href="{% url bo.politician_profile_link_delete eip_id user_id link.id  %}" class="delete">{% trans "Delete" %}</a></li>
		</ul>
    </div>
    {% empty %}
        <p class="empty">{%trans 'You have no links defined yet' %} </p>
    {% endfor %}
    <a href="{% url bo.politician_profile_link_wizard eip_id user_id %}" class="add add-item">{% trans "Add a new link" %}</a>
    <div class="form-submit">        
        <a href="{% url bo.politician_profile_appearance eip_id user_id %}" class="btn next primary">{% trans "Next" %}</a>
        <a href="{% url bo.politician_profile_setup eip_id user_id %}" class="btn prev">{% trans "Previous " %}</a>
    	<a href="#" class="cancel">{% trans "Cancel" %}</a>
    </div>
</div>
{% endblock content %}
