{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}active{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}active{% endblock %}


{% block content %}
<div class="mod wizard">
    <h2>{% trans 'Links to interesting stuff' %}</h2>
    <p>{% trans "Visitors of the website can see an overview of these links" %}</p>
    {% for link in links %}
    <div class="profile-item link">
        
        <h3>{{ link.name }}</h3>
        <a href="{{ link.url }}" target="_blank" class="url">{{ link.url }}</a>
        <p>{{ link.description }}</p>
        <ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_link_wizard_edit eip_id user_id link.id %}" class="edit">{% trans "Edit" %}</a></li>
       		<li><a href="{% url bo.politician_profile_link_delete eip_id user_id link.id  %}" class="delete">{% trans "Delete" %}</a></li>
		</ul>
    </div>
    {% empty %}
        <p class="empty">{%trans 'You have no links defined yet' %} </p>
    {% endfor %}
    <a href="{% url bo.politician_profile_link_wizard eip_id user_id %}" class="add add-item">{% trans "Add a new link" %}</a>
    <div class="form-submit">        
        <a href="{% url bo.politician_profile_appearance eip_id user_id %}" class="btn next primary">{% trans "Volgende stap" %}</a>
    </div>
</div>
{% endblock content %}
