{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block step_title %}{% trans "What is your favorite..." %}{% endblock step_title %}

{% block group1 %}active{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}active{% endblock %}

{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Volgende stap' %}</button>
	</div>
{% endblock buttons %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
        	Op deze pagina kunt een aantal van uw voorkeuren kwijt. Deze enigszins lichtzinnige informatie helpt om de kiezers, met name de jongeren, te betrekken bij de politiek en de individuele kandidaten. Deze informatie wordt getoond op uw profiel om kiezers een goede indruk te geven van u als kandidaat.
		{% endblocktrans %}
    	</div>
		<div class="mod form-help">
		{% blocktrans %}
        	Bij de vragen over uw hobby’s, sport en sportclubs moet u uw favoriete hobby(‘s), sport(en) en sportclub(s) zelf invullen. U kunt er meerdere invullen en u kunt deze het beste scheiden door het gebruik van een komma. Voorbeeld: Lezen, schrijven, etc. Deze informatie wordt getoond op uw profiel om kiezers een goede indruk te geven van u als kandidaat.
		{% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}
