{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n %}


{% block cols %}
<div class="col size1of2">
    <div class="mod intro">
        <h2>{% trans 'Welcome' %} {{ politician.name }}</h2>
        <p>{% trans "You've been invited to create a profile for WieKiesJij? for the" %} {{ election_event.name }}.</p>
        
        <h2>{%trans 'What is WieKiesJij?' %} </h2>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam adipiscing, dui sed auctor dapibus, 
            elit dolor sodales nisi, vel aliquam turpis nisl nec velit. Aenean vulputate euismod viverra. 
            Suspendisse potenti. Phasellus et dolor neque, et placerat elit. Sed sem massa, fringilla eu 
            scelerisque quis, ultrices a purus.
        </p>
        <a href="{% url bo.politician_profile_setup election_instance_id user_id %}" class="btn next">{% trans "Click here to start the registration wizard" %}</a>
    </div>
</div>
<div class="col size1of2">
	<div class="mod intro-movie">
    	<object width="452" height="279"><param name="movie" value="http://www.youtube-nocookie.com/v/QzU7Zxi5Pfc&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/QzU7Zxi5Pfc&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="452" height="279"></embed></object>
    </div>
</div>
{% endblock cols %}