{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}active{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}active{% endblock %}

{% block content %}
<div class="mod wizard">
    <h2>{% trans 'What work experience have you under your belt?' %}</h2>
    
    {% for work_experience in work %}
    <div class="profile-item work">
        <h3>{{ work_experience.position }}</h3>
        <p class="info">{{ work_experience.startdate|date:'M Y' }} {% trans "until" %} {% if work_experience.current %}{%trans 'Now' %}{% else %}{{ work_experience.enddate|date:'M Y' }}{% endif %} {% trans "with" %} {{ work_experience.company_name }} ({% trans "Sector" %}: {{ work_experience.sector }})</p>
        <p>{{ work_experience.description }}</p>
        <ul class="quicklinks">
        	<li><a href="{% url bo.politician_profile_work_wizard_edit eip_id user_id work_experience.id %}" class="edit">{% trans "Edit" %}</a></li>
       		<li><a href="{% url bo.politician_profile_work_delete eip_id user_id work_experience.id  %}" class="delete">{% trans "Delete" %}</a></li>
		</ul>
	</div>
    {% empty %}
        <p class="empty">{%trans 'You have no work experience entered yet' %} </p>
    {% endfor %}
    <a href="{% url bo.politician_profile_work_wizard eip_id user_id %}" class="add add-item">{% trans "Add new work experience" %}</a>
    <div class="form-submit">
    	<a href="{% url bo.politician_profile_connection eip_id user_id %}" class="btn next primary">{% trans "Volgende stap" %}</a>
	</div>
</div>
{% endblock content %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			Op deze pagina kunt u uw werkervaring invullen. Een voorbeeld van werkervaring kan zijn: manager bij Het Nieuwe Stemmen in de sector ‘non-profit’ tussen maart 2008 en juni 2009. Deze informatie tonen wij op uw profiel.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}