{% extends 'backoffice/base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'What work experience have you under your belt?' %}</h1>

<p>{% trans "Visitors of the website can see an overview of the work experience have you under your belt?" %}<p>
<h2>{%trans 'Work Experience' %} </h2>

{% for work_experience in work %}
    <p><a href="{% url backoffice.politician_profile_work_wizard_edit election_instance_id user_id work_experience.id %}">{{ work_experience.name }}</a>: {{ work_experience.url }}: {{ work_experience.description }}</p>
{% empty %}
    <p>{%trans 'You have no work experience entered yet' %} </p>
{% endfor %}
<a href="{% url backoffice.politician_profile_political election_instance_id user_id %}">{% trans "< Previous " %}</a>
<a href="{% url backoffice.politician_profile_work_wizard election_instance_id user_id %}">{% trans "Click here to work experience" %}</a>
<a href="{% url backoffice.politician_profile_interest election_instance_id user_id %}">{% trans "Next >" %}</a>

{% endblock content %}