{% extends 'backoffice/base.html' %}
{% load i18n %}
{% block content %}
<div class="mod">
    <h1>{% trans 'What work experience have you under your belt?' %}</h1>
    
    <p>{% trans "Visitors of the website can see an overview of the work experience have you under your belt?" %}</p>
    <h2>{%trans 'Work Experience' %} </h2>
    
    {% for work_experience in work %}
        <h3><a href="{% url bo.politician_profile_work_wizard_edit election_instance_id user_id work_experience.id %}">{{ work_experience.company_name }} - {{ work_experience.position }}</a></h3>
        <p>{%trans 'Company you were employed in' %}: {{work_experience.company_name  }}</p>
        <p>{%trans 'Sector of employment' %}: {{ work_experience.sector }}</p>
        <p>{%trans 'Position you held' %}: {{ work_experience.position }}</p>
        <p>{%trans 'Description of your experience' %}: {{ work_experience.description }}</p>
        {% if work_experience.current %}
            <p>{%trans 'Worked between:' %}: {{ work_experience.startdate }} - {%trans 'Now' %}</p>
        {% else %}
            <p>{%trans 'Worked between:' %} {{ work_experience.startdate }} - {{ work_experience.enddate }}</p>
        {% endif %}
        <p><a href="{% url bo.politician_profile_work_delete election_instance_id user_id work_experience.id  %}">{% trans "Delete" %}</a></p>

    {% empty %}
        <p>{%trans 'You have no work experience entered yet' %} </p>
    {% endfor %}
   <a href="{% url bo.politician_profile_political election_instance_id user_id %}">{% trans "< Previous " %}</a>
    <a href="{% url bo.politician_profile_work_wizard election_instance_id user_id %}">{% trans "Click here to work experience" %}</a>
    <a href="{% url bo.politician_profile_interest election_instance_id user_id %}">{% trans "Next >" %}</a>
</div>
{% endblock content %}