{% extends 'backoffice/wizard/partycontact/base.html' %}
{% load i18n %}

{% block step_title %}{% trans 'Afgerond' %}{% endblock step_title %}

{% block step1 %}<li><span class="history"><span class="number">1</span>{% trans "Welcome" %}</span></li>{% endblock step1 %}
{% block step2 %}<li><span class="history"><span class="number">2</span>{% trans "Contact information" %}</span></li>{% endblock step2 %}
{% block step3 %}<li><span class="history"><span class="number">3</span>{% trans "Additional information" %}</span></li>{% endblock step3 %}
{% block step4 %}<li><span class="history"><span class="number">4</span>{% trans "Description &amp; History" %}</span></li>{% endblock step4 %}
{% block step5 %}<li><span class="active"><span class="number">5</span>{% trans "Finished" %}</span></li>{% endblock step5 %}

{% block cols %}
<div class="col size1of2">
{% block content %}

<div class="mod">
	<div class="hd">
    	<h2>{% trans "Afgerond" %}</h2>
    </div>
    <div class="bd">
        <p>{% trans 'U hebt Wiekiesjij succesvol gereedgemaakt voor deze verkiezingen. ' %}</p>
        <p><strong>{% trans 'U kunt nu beginnen met het aanmaken van kandidaten en deze uitnodigen om op Wiekiesjij hun profiel in te vullen. ' %}</strong></p>
   		<p>{% trans "Hartelijk dank voor uw moeite!" %}</p>
   	</div>
    {% block buttons %}
	<div class="form-submit">
          
		<a href="{% url bo.election_party_view eip.id %}" class="primary next button" >{% trans 'Finish &amp; Start inviting candidates' %}</a>
	</div>
    {% endblock buttons %}
</div>
{% endblock content %}

</div>
{% endblock cols %}