{% extends "frontoffice/base.html" %}
{% load i18n %}

{% block cols %}
	<div class="col size1of2">
    	<div class="mod register-form">
        	<div class="hd">
            	<h1>{% trans "Registreren als bezoeker" %}</h1>
            </div>
            <div class="bd">
                <form action="" method="post" accept-charset="utf-8">
                    {{ form.as_template }}
                    <div class="form-submit">
                        <button type="submit" class="next primary">{% trans "Register" %}</button>
                    </div>
                </form>
           	</div>
       	</div>
	</div>
	<div class="col size1of2">
		<div class="mod helpdesk">
	    	<div class="hd">
	        	<h2>{% trans "Profiel" %}</h2>
	        </div>
	    	<div class="bd">
	            <p>{% trans "Hier kunt u uw account voor Wiekiesjij aanmaken. Dit is zeker niet verplicht, maar een account stelt u in staat om bijvoorbeeld uw resultaat terug te zien of te reageren op politieke doelen van kandidaten." %}</p>
	      	</div>
	    </div>
	</div>
{% endblock cols %}