{% extends 'frontoffice/base.html' %}

{% load i18n %}

{% block breadcrumbs %}
<div class="col lastCol">
    <ul class="breadcrumbs">
    	<li class="first"><a href="/">Wiekiesjij</a></li>
       	<li>{{ flatpage.title }}</li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block outer-page-title %}{% endblock outer-page-title %}
{% block back-link %}{% endblock back-link %}
{% block title %}{{ flatpage.title }}{% endblock title %}
{% block content %}
	<div class="mod">
    	<div class="hd">
        	<h2>{{ flatpage.title }}</h2>
       	</div>
        <div class="bd">
        	{{ flatpage.content }}
       	</div>
   	</div>
{% endblock content %}