{% load i18n form_tags %}
{% block field %}
{% if field.is_hidden %}
	{{ field }}
{% else %}
<div id="field-{{ field.auto_id }}" class="field {% ifmultifield field %}multi-field{% endifmultifield %} {{ field|get_class }} {{ field|get_required_class }} {% if field.errors %} error{% endif %}">
	
    {% ifmultifield field %}
		<p class="label {{ field|get_required_class }}">{{ field.label }}</p>
	{% else %}
		<label for="{{ field.auto_id }}" class="{{ field|get_required_class }}">{{ field.label }} {% if not field.field.required %}<span class="optional">{% trans "optional" %}</span>{% endif %}</label>
	{% endifmultifield %}
    
	{% block description %}{% endblock description %}
    
    {% if field.help_text %}
    <div id="{{ field.auto_id }}-help" class="help">
		<p>{{ field.help_text }}</p>
   	</div>
    {% endif %}
    
	{{ field|with_class }}
    
   	{% if field.errors %}
    <div id="{{ field.auto_id }}-errors" class="errors">
		{% for error in field.errors %}
			<p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="error">{{ error }}</p>
		{% endfor %}
	</div>
    {% endif %}
    
</div>
{% endif %}
{% endblock field %}