{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}history{% endblock %}
{% block step12 %}history{% endblock %}
{% block group5 %}history{% endblock %}
{% block group99 %}active{% endblock %}

{% block question-steps %}
{% for q in questions %}
    <li class="history{% if forloop.last %} last{% endif %}">{{ q|add:13 }}</li>
{% endfor %}
{% endblock question-steps %}


{% block step_title %}{% trans "Done" %}{% endblock step_title %}

{% block content %}
	
	{% if message %}
		<p>Hartelijk dank voor het invullen van uw profiel! U kunt uw profiel blijven aanpassen tot en met <strong>30 januari</strong> via onderstaande link. Mocht u enige moeilijkheden zijn tegengekomen dan kunt u ons te allen tijde bereiken via onze helpdesk.</p>
		<p><a href="{% url bo.politician_profile_setup eip_id=eip_id user_id=user_id %}">Link om uw gegevens aan te passen</a></p>
	{% else %}
	
	<form action="" method="post" accept-charset="utf-8">
		{{ form.as_template }}

		<div class="form-submit">
			<button class="primary next" type="submit">{% trans 'Update' %}</button>
		</div>
	</form>
	{% endif %}
	
{% endblock content %}


{% block buttons %}{% endblock buttons %}
