{% extends 'backoffice/wizard/politician_profile/base.html' %}
{% load i18n utils_tags %}

{% block group0 %}history{% endblock %}
{% block group1 %}history{% endblock %}
{% block step1 %}history{% endblock %}
{% block step2 %}history{% endblock %}
{% block step3 %}history{% endblock %}
{% block step4 %}history{% endblock %}
{% block step5 %}history{% endblock %}
{% block group2 %}history{% endblock %}
{% block step6 %}history{% endblock %}
{% block step7 %}history{% endblock %}
{% block step8 %}history{% endblock %}
{% block group3 %}history{% endblock %}
{% block step9 %}history{% endblock %}
{% block step10 %}history{% endblock %}
{% block step11 %}history{% endblock %}
{% block group4 %}history{% endblock %}
{% block step12 %}history{% endblock %}
{% block group5 %}active{% endblock %}

{% block question-steps %}
    {% for q in questions %}
		<li class="{% ifcompare current_question q %}active{% smaller %}history{% bigger %}future{% endifcompare %}{% if forloop.last %} last{% endif %}">{{ q|add:"12" }}</li>
    {% endfor %}
{% endblock question-steps %}

{% block step_title %}
    {#<span class="question-num">{% trans "Question" %} {{ current_question|add:"12" }}:</span>#} {{ question_title }}
{% endblock step_title %}

{% block help-message %}
	{% blockwrap template='helptext' %}
		{% blocktrans %}
			In dit gedeelte treft u een aantal vragen aan die terug zullen komen in de vragen module van Wiekiesjij zoals die aan de kiezer wordt voorgelegd. Enkele van de 15 vragen worden beantwoord door de infotmatie die u reeds hebt in gevoerd voor uw profiel informatie. De volgende vragen zijn concrete stellingen uit de vragenmodule.
        {% endblocktrans %}
    {% endblockwrap %}
{% endblock help-message %}


{% block buttons %}
	<div class="form-submit">
		<button class="primary next" type="submit">{% trans 'Volgende stap' %}</button>
	</div>
{% endblock buttons %}